#description {
    color: grey;
    font-size: 13px;
    margin: 27px 0px 40px 0px;
    width: 80%;
    float: right;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
.term-sec{
    float: right;
    width: 100%;
    margin-bottom: 10px;
}
.sub-head {
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;
    float: right;
    width: 80%;
}
.label-field-pair, .label-radio-pair {
    width: 300px;
    float: right;
    margin-bottom: 20px;
    height: auto;
}
.label-field-pair label {
    width: 100%;
    float: right;
    font-size: 13px;
    color: black;
}
.label-field-pair .text-input-bg {
    float: right;
    height: auto;
}
.text-input-bg input {
    margin-right: 0px;
    -webkit-border-radius: .3em;
    width: 200px;
}
div.div_link {
    float: left;
    font-size: 13px;
    text-decoration: underline;
    margin: 20px 25px 0 0;
    cursor: pointer;
    color: #df2020;
}
.submit-button {
    margin: 20px 0 0 40px;
    font-size: 13px;
}
div.submit-button{
    float: left;
    margin-left: 0px;
}
.field_description{
    float: right;
    font-size: 13px;
    color:#666;
    margin: 15px 0 0 0px;
    width: 230px;
}
.label-radio-pair{
    width: 100%;

}
.label-radio-pair label {
    font-weight: bold;
    font-size: 13px;
    float: right;
}
.status{
    color: #444444;
    width: 206px;
}
#radio-buttons {
    margin: 0;
    float: right;
}
#radio-buttons input {
    float: right;
    margin: 1px 0 0 5px;
}
#radio-buttons label{
    margin-left: 15px;
    font-weight: normal;
}