<div class="assessment_details_short">
    <div class="exam_group_head">
        <div class="clm">
                <div class="label"><%="#{t('subject_exam')}"%></div>
                <div class="value"><%=@subject.name%></div>
        </div>
        <div class="clm">
            <div class="label"><%=t('max_mark')%></div>
            <div class="value"><%=  @assessment_group.maximum_marks_text %></div>
        </div>
        
    </div>
</div>