#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
table#certificate_details{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
table#certificate_details td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table#certificate_details .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
table#certificate_details tr{
    border-bottom: 1px solid #bfbfbf;
}
table#certificate_details a, #page-yield table#certificate_details a:hover {
    color: black !important;
    text-decoration: none;
    margin-left: 20px;
    float: right;
}
#popup_window.transport_form 
{
    width: 690px;
    top: 40px;
    float: right;
}
.transport_form #popup_frame .part {
    width: 610px;
}
.transport_form #popup_content #description{ margin-top : 0px}
.transport_form #popup_content .label-field-pair, .transport_form #popup_content .label-checkbox-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 3px;
}
.transport_form #popup_content .label-field-pair label, .transport_form #popup_content .label-checkbox-pair .status {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
    float: right;
    width: 150px;
    padding-top: 10px;
}
.transport_form #popup_content .label-checkbox-pair #radio-buttons, .transport_form #popup_content .input-container{
    width: 250px;
    float: right;
    padding-top: 10px;
}
.transport_form #popup_content .label-checkbox-pair #radio-buttons label{
    font-size: 13px;
    margin-left: 15px;
    float: right;
}
.transport_form #popup_content .label-checkbox-pair #radio-buttons input{
    float: right;
    margin: 1px 0 0 5px;
}
.transport_form #popup_content .text-input-bg input{
    margin-right: 0;
    -webkit-border-radius: .3em;
    width: 215px;
}
.transport_form #popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
.transport_form #popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
#vehicle_certificate_form{
    float: right;
    overflow-y: auto;
    max-height: 500px;
    padding: 20px 40px 0 40px;
}
.transport_form #popup_content{width: 690px !important;padding-top: 0px !important;}
.transport_form .wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
}
.transport_form #popup_content .error-msg{width: 231px;}
td.name{ width: 35%}
td.mandatory{ width: 20%}
td.input_type{ width: 15%}
.submit-button{
    border-radius: 5px;
}
#page-yield #active_year a.submit-button:hover{
    color: #fff !important;
}
.delete_confirmation#popup_window{
    width: 480px !important;
    top: 100px !important;
}
.delete_confirmation #popup_frame .part{
    width: 400px !important;
    padding-top: 20px !important;
}
.delete_confirmation #popup_content{
    padding-right: 40px !important;
    padding-left: 40px !important;
}
.delete_confirmation #popup_footer{
    border-top: none;
}
.transport_form .label-checkbox-pair {
    height: auto;
    padding: 0;
    width: 600px;
}
.transport_form #popup_content .input-container input{
    height: 13px;
    margin-top: 0px;
}
.info_wrapper {
    float: right;
    width: auto;
    margin-left: 20px;
    color: #999;
}