/*.report_settings_container{overflow: auto;}*/
.report_settings_container .header{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.assessment_plan_details{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    float: right;
    width: 100%;
    font-size: 13px;
    margin-bottom: 30px;
}
.plan_name{
    float: right;
    width:50%;
}
.academic_year_name{
    float: right;
    width:50%;
}
.align_right{
    text-align: left;
}
.align_left{
    text-align: right;
}
.assessment_plan_details .label, .assessment_plan_details .value{
    float: right;
}
.align_right div{
    float: left !important;
}
.assessment_plan_details .value{
    font-weight: bold;
    margin-right: 20px;
}

.box{
    float:right;
    width:100%;
}
.core_label{
    float: right;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin-bottom: 8px;
}
.block{
    float: right;
    width: 100%;
    margin-bottom: 40px;
}
.general_label{
    font-size:13px !important;
    font-weight: normal !important;
    color:#333 !important;
    float:right !important;
    margin-left:30px !important;
    width:auto !important;
}
.ind_block{
    float: right;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}
.main-message{
    color: #000 !important;
}
.main-msg{
    color: #000 !important;
}
.com_block{
    float: right;
    width: 100%;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 20px;
}
.messages{
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}
.msg_desc{
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}
input[type="radio"]{
    float:right;
    margin: 0px 0px -1px 5px;
    width: 15px;
    height: 15px;
}
#report_desc{
    float:right;
    width:100%;
    /*    margin-bottom:30px;*/
}
.label-field-pair{
    /*width: 489px;*/
    width: 49.85%;
    float: right;
}
.label-field-pair span{
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    margin-left: 15px;
}
#loader1{
    float: right;
    margin-top: -1px;
}
#submit-button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: right;
}
p{
    margin:0px;
    color: #333 !important;
}
span{
    font-weight: bold;
    font-size: 13px;
}
.com_block p a{
    /*margin-right:10px;*/
}
#submit_like_link{
    float: right;
    margin-left: 30px;
    margin-top: 10px;
}
#unlink_link{
    margin-top: 10px;
    float: right;
}
a{
    color:#666;
}
#page-yield .block a:hover{
    color:#000 !important;
}
.hor_line{
    width:100%;
    background: #ccc;
    height: 1px;
    float:right;
    margin-bottom:40px;
}
.hor_line_1{
    width:100%;
    background: #ccc;
    height: 1px;
    float:right;
}
.no_bottom_margin{
    margin-bottom:0px !important;
}
.no_top_margin{
    margin-top:0px !important;
}
.modal_spec_style{
    margin-top: 20px;
    margin-right: 20px;
}
.main_header{
    margin-right: 20px !important;
    width: 192px !important;
    margin-bottom: 20px !important;
    font-size: 13px !important;
    font-weight: normal !important;
    color: #444 !important;
}
#MB_frame .label-field-pair {
    width: 550px;
    float: right;
    height: auto;
    margin-bottom: 30px;
}
#MB_frame .all_sub_sec .label-field-pair {
    width: 550px;
    float: right;
    height: auto;
    margin-bottom: 10px;
}

.label-field-pair label {
    margin: 0 20px 0px 0;
}
.hor_line_1 {
    width: 100%;
    background: #ccc;
    height: 1px;
    float: right;
}
.style_1{
    float: right !important;
    width: 100% !important;
}
.fleft{
    float: right;
}
#record_sections_1,#record_sections_2{
    float: right;
    margin-bottom: 50px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.addl_margin_left{
    margin-right:15px;
}
.all_sub_sec{
    float: right;
    max-height: 190px;
    overflow-y: auto;
}

.loader_modal{
    float: right;
    margin-top: 10px;
}
.text-input-bg{
    width: auto;
    margin-left: 50px;
}
.label-field-pair label{
    font-weight: normal;
}
.block a{
    font-size: 13px;
}

#complete_block{
    float: right;
    width: 93%;
    margin: 30px;
}
#info_msg{
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 30px;

}
#head_part{
    float: right;
    width: 100%;
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}
#course_part,#pass_criteria,.course_value,.criteria_value{
    float:right;
    width:30%;
}
#labels{
    float:right;
    width:40%;
}
.one_row{
    float: right;
    width: 100%;
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
}
.criteria_text{
    float:right;
}
.spl_case{
    width:auto !important;
    margin-top:-10px !important;
}
.spl_case select{
    width:60px !important;
}
.label_values{
    float:right;
    width:40%;
}
.blk{
    float:right;
    width:100%;
}
.pass_text,.eip_text{
    float:right;
    width:50%;
}
.holder{
    float:right;
    height:370px;
    overflow-y:auto;
    width: 100%;
    margin-bottom: 45px;
}
.padding_top_25{
    padding-top: 25px;
}
.padding_top_10{
    padding-top: 10px;
}
.blk_data div{
    float: right;
    width: 50%;
    padding-top: 12px;
}
.blk_data textarea{
    background: #eee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -weblit-border-radius: 10px;
    border: 1px solid #c6c6c6;
    font-family: Arial;
    height: 30px;
    padding: 5px;
    width: 120px;
    resize:none;
}
.top_bottom_margin{
    margin-top: 10px;
    margin-bottom: 10px;
}
p.flash-msg{
    margin-bottom: 30px;
}
#labels_part_1{
    float: right;
    width: 15%;
    margin-left:35px;
}
#labels_part_2{
    float: right;
    width: 20%;
}
#MB_close span {
    padding-right: 8px;
    float: right;
    padding-top: 5px;
}
#MB_frame #MB_caption {
    padding: 20px 40px 0 0;
}
.logo{
    width: 70px;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.border_less{
    border: none !important
}
.logo.border_less{
    width:62px;
    height: 62px;
}
.logo img{
    width:100%;
    vertical-align: middle;
    display: table-cell;
}
#full_header{
    float: right;
    width: 96%;
    border: 1px solid #e5e5e5;
    padding: 15px 20px 15px 15px;
}
#school-name{
    float: right;
    font-weight: bold;
    font-size: 13px;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-right:10px;
}
.institution_address{
    float: right;
    font-size: 13px;
    color: #666 !important;
    font-weight: normal;
    margin-right:10px;
    width: 95%;
}
.text-input-bg span{
    float:left;
    margin-right:10px;
    font-size: 13px;
    font-weight: normal;
    color:#666;
    margin-top:10px;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 300px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.grey_back{
    background-color: #f5f5f5;
    float:right;
    width:100%;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
    margin-bottom: 15px;
}
.with_border{
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
#signature_section{
    float: right;
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    display: flex;
    padding: 14px;
    box-sizing: border-box;
}
#left_side,#center_side,#right_side{
    float: right;
    /*width: 31%;*/
    /*margin-top: 14px;*/
    background: #f5f5f5;
    margin-left: 14px;
    flex: 1;
    position: relative;
}
#right_side{
    margin-left: 0px;
}
#left_side div.label-field-pair,#center_side div.label-field-pair,#right_side div.label-field-pair{
    width:30%;
    margin-right: 33px;
    margin-bottom: 11px;
}
#center_side{
    margin-right: 14px;
    margin-left: 14px;
}
span.header_parts{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.header {
    width: 100%;
    float: right;
    margin-bottom:5px;
    display: table;
    /*background-color: red;*/
}
#report_grade_levels{
    float:right;
    width:100%;
}
.zero_bottom_margin{
    margin-bottom: 0px;
}
.enclosure{
    float: right;
    margin-top:30px;
}
.text-input-bg input{
    border-radius: 0px !important;
}
.imag_thumb{
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    max-width: 300px;
}
#submit-button{
    border-radius: 5px !important;
}
#signature_section input[type="text"]{
    background: #fff;
}
#signature_section .text-input-bg{
    margin-left: 0px;
}
.style:before {
    content: "Upload Image" !important;
    text-decoration: underline;
    color: #666;
    cursor: default;
}
.imag_thumb img{
    height: 100%;
    max-width: 100%;
}
.field1{
    display: none;
}
.paperclip_field .style{
    border: none;
    margin-right: 71px;
}
.paperclip_field .style input[type="file"]:hover{
    color: #000 !important;
}

.change_image_style:before{
    content: "Change Image" !important;
}
.remove-field{
    position: absolute;
    right: 56px;
    top: 209px;
}
.remove-field a{
    text-decoration: underline !important;
    cursor: pointer;
}
.style.change_image_style{
    margin-right: 113px;
    margin-top: 3px;
}
.header_addn{
    float: right;
    margin-top: 11px;
}
.header_addn input{
    float: right;
    margin-top: 0px;
    width: 16px;
    height: 15px;
    margin-left: 10px;
}
.with_border:last-child span{
    margin-left: 9px;
}
input[btn_type='change_image']:before{
    content: "Change Image" !important;
}
.underline{
    text-decoration: underline;
}
.nested_block{
    float: right;
    border: 1px solid #ccc;
    padding: 30px;
    margin-right: 10px;
}
.inner_block{
    margin-right: 0px !important;
    width: 874px !important; 
    margin-top: 10px;
}
/*.nested_block .ind_block{margin-top: 20px;}*/
.nested_block .ind_block input{
    float: right;
    margin-top: 1px;
}
@-moz-document url-prefix() {
    .nested_block .ind_block input{
        margin-top: -2px;
    }
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-top: 30px;
    float: right;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
td.col1{ width: 60%}
td.col2{ width: 20%}
td.col3{ width: 40%}
#set_grade label{
    float: right;
    margin-top: 10px;
    font-size: 13px;
}
.tabrow {
    width: 978px;
    list-style: none;
    margin: 15px 0px 0px 0px;
    padding: 0;
    line-height: 30px;
    height: 54px;
    overflow: hidden;
    font-size: 12px;
    position: relative;
    border-bottom: none;
}
.tabrow::before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}
.tabrow li {
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    padding-top: 3px;
}
.tabrow li.selected {
    border: 1px solid #ccc;
    border-bottom-color: rgb(204, 204, 204);
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
    font-weight: 600;
}
#questions-main {
    margin-bottom: 60px;
    width: 978px;
    border: 1px solid #ccc;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
    height: auto;
    float: right;
    border-top: none;
}
#right-panel {
    float: right;
    width: 941px;
    height: auto;
    font-size: 13px;
    padding: 20px;
}
.tabrow li.selected a, .tabrow li.selected a:hover {
    color: #000 !important;
    display: block;
    text-align: center;
    cursor: default;
}
.tabrow a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.label_pair{
    float: left;
    width: auto;
    margin-bottom: 10px;
}
.checkbox_label_pair{
    margin-bottom: 15px;
}
.checkbox_label{
    margin-top: -2px;
}
.label_pair label{
    float: right;
    width: auto;
    padding-top: 2px;
}
.label_pair input{
    float: right;
}
.extender{
    /*height: 50px;*/
}
.borderless{
    border: none;
}
.half-block{
    width: 48%;
    float: right;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.pull_right{
    float: left;
}
/*#scholastic_profile_details, #co_scholastic_profile_details{
    text-align: center
}
#scholastic_profile_details table, #co_scholastic_profile_details table{
    width:97%;
    float: none;
}*/
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
.section{
    width: auto;
    margin-left: 20px;
}
.calc_section{
    float: right;
    width: 284px;
    margin-left: 20px;
}
.cbox_label{
    font-size:13px !important;
    font-weight: normal !important;
    color:#333 !important;
    float:right !important;
    margin-left:30px !important;
    width:auto !important;
    margin-bottom: 10px;
}
#attendance_settings_enable_attendance{
    margin-right: 0px !important;
}
attendance-block{
    float: right;
    width: 100%;
}
.section label{
    font-size:13px !important;
    font-weight: normal !important;
    color:#333 !important;
    margin-left:30px !important;
    width:auto !important;
}
.section #description{
    margin-right: 26px;
    margin-top: 5px !important;
}
.calc_section #description{
    margin-right: 24px;
}
.radios{
    margin-right: 26px;
}
.planner_section{
    margin-top: 55px;
}
.exam_planner_head {
    width: 100%;
    border-bottom: 1px solid #999;
    padding-bottom: 30px;
    overflow: auto;
    /*margin-bottom: 30px;*/
}
.exam_planner_head .left {
    width: 40%;
    float: right;
}
.clm:last-child {
    margin-left: 0px !important;
}
.clm .value {
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
}
.exam_planner_head .right {
    width: 60%;
    float: right;
    display: flex;
}
.right .clm {
    margin-left: 30px;
    flex: 1;
}
.text-right {
    text-align: left;
}
.record_section label{
    font-size:13px !important;
    font-weight: normal !important;
    color:#333 !important;
    margin-left:30px !important;
    width:auto !important;
}
.record_section #description{
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}
select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    width: 200px;
}
.term_name{
    min-width: 326px;
    font-weight: normal;
}
.enter_records{
    float:right;
    margin-right: 20px;
}
.unlink{
    width:100px;
}
.row{
    width:100%;
}
#links_block{
    margin-top:20px;
    float:right;
}
#record_section{
    float:right;
}
.record_section .radios{
    width: 100%;
    float: right;
}
.display_name{
    float:right;
    margin-top: 14px;
    margin-left: 20px;
}
.links_block{
    margin-top: 30px;
    float: right;
    width: 100%;
}
.label-field-pair input{
    border-radius: 1px;
    width: 187px;
    margin-right: 0px;
    margin-bottom: 10px;
    float: right;
}
.title{
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
.submit-button{
    margin-right: 0px !important;
}
.record_name{
    margin-right:20px;
    width: 259px;
}
.manage_links{
    float: right;
    margin-right: 30px;
    margin-top: 14px;
}
.add_button_img,.add_record_group,.add_link{
    float:right;
}
.add_link {
    text-decoration: none;
    padding-right: 5px;
    color: #080 !important;
    font-size: 13px;
    font-weight: bold;
}
.add_record_group{
    margin-top: 10px;
}
.add_button_img{
    margin-top: 2px;
}
.add_button_img:hover{
    cursor: pointer;
}
.popup_link_records .row{
    height: auto;
    min-height: 40px;
    margin-bottom: 10px;
}
.popup_link_records .name{
    float:right;
    margin-top: 6px;
    margin-left: 10px;
    width: 170px;
}
.popup_link_records .record_group_selector{
    float:right;
}
.popup_link_records{
    height: 500px;
    overflow: auto;
    width:500px;
}
#popup_window {
    width: 620px !important;
}
#popup_frame .part {
    width: 510px !important;
}
.name_of_record{
    margin-top: 14px !important;
}
.popup_link_records #popup_content .label-field-pair {
    width: auto;
}
.title .label-field-pair{
    width: 45%;
}
.add_button_img {
    float: right;
    margin-left: 2px;
}
#add-text{
    color: #080;
    font-weight: bold;
}
#add-text:hover{
    cursor: pointer;
}
.add a{
    text-decoration: none !important;
}
.hide_link{
    display: none;
}
#assessment_plan_enable_student_records {
    margin-right: 0px !important;
}
.error-field{
    border: 1px solid red !important;
    padding: 4px !important;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right: 2px;
    margin-left: 2px;
    float: left;
    margin-top: 12px;
}
span.not_linked{
    font-style: italic;
    font-weight: normal !important;
}
span.manage_link{
    font-weight: normal !important;
}
span a{
    color:black !important;
}
.popup_link_records .title{
    height: 59px;
}
.box #inner-tab-menu{
    margin-bottom: 52px;
    margin-top: -34px;
    margin-left: 5px;
    float: left;
}
#description {
    color: grey;
    font-size: 13px;
    margin: 10px 0px 0px 0px;
}
.list td:first-child {
    border-right: 1px solid #bfbfbf;
}
.list td {
    border-top: 1px solid #bfbfbf;
}
.reorder_val {
    width: 19px !important;
}
table.sort_table{
    width: 100%;
}
#submit_area{
    float:right;
    margin-top: 20px;
}
td.name{
    font-weight: bold;
}
.submit_area#submit_button{
    margin-left: 10px;
}
#page-yield .box #inner-tab-menu a:hover {
    color: #fff !important;
}
#page-yield #reorder_container #submit_area a:hover {
    color: #fff !important;
    
}
#submit_area a{
    text-decoration: none;
}
#submit_button{
    margin-left: 10px;
    float:right;
}
i {
    background-position: -103px -361px !important;
    width: 14px;
    height: 15px;
    float: right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-top: -2px;
    margin-left: 5px;
}
span.disabled_delete{
color: gray;
font-weight: normal;
}
span.add{
    margin-top:20px;
    float:right;
    width:100%;
}
.each_record{
    border: 1px solid #ccc;
    float: right;
    padding-right: 20px;
    margin-top: 20px;
    width: 98%;
}
.attendance_container .checkbox_label_pair {
    width: 100%;
}
td.last_col{
    border-left: none;
}
table.linkable_items {
    border-bottom: none;
}
div.record-title{
    height:60px;
}
.popup_link_records .model_box_row{
    height: auto;
    min-height: 40px;
    margin-bottom: 10px;
    float: right;
    width:100%;
}
.disabled_link{
    display: none;
    color: gray;
    font-weight: normal;
}
.show_link{
    display: block;
    float: right;
}
.template_label{
    float: right;
    font-weight: bold;
    width: 170px;
    margin-top: 10px;
}
.template_field_pair{
    padding-bottom: 20px;
    overflow: auto;
}
.value_container input {
    border-radius: 1px;
    width: 187px;
    margin-right: 0px;
    margin-bottom: 10px;
    float: right;
}
.no_template{
    text-align: center;
    color: #999;
    font-style: italic;
}
.select_custom{
    clear: both;
    margin-top: 20px;
}
.select_custom label{
    margin-right: 5px;
    padding-top: 5px;
}
.ml35{
    margin-right: 35px;
    width: auto;
}
.select-template-conatiner{
    float: right;
    width: 934px;
    border: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
}
.select-template{
    float: right;
    width: 33.3%;
    text-align: center;
}
.preview-thumb-container{
    float: right;
    width: 100%;
    height: auto;
}
.preview-thumb-header{
    float: right;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.preview-thumb-description{
    float: right;
    width: 100%;
    margin-top: 10px;
    color: #666;
    padding: 5px 15px;
    box-sizing: border-box;
    text-align: right;
    line-height: 1.5;
}
.preview_thumb{
    width: 170px;
    height: 250px;
    background-repeat:no-repeat;
    background-size:contain;
    margin-right: 70px;
    text-align: right;
    padding: 1px;
    border: 1px solid #999;
}
.preview_thumb input{
    width: 20px;
    height: 20px;
    background: #555;
    border-radius: 3px;
    cursor: pointer;
}
.preview-buttons-container{
    float: right;
    width: 75%;
    margin-top: 15px;
    padding-right: 40px;
    margin-bottom: 15px;
}
.select-btn-container{
    float: right;
    width: 50%;
}
.preview-btn-container{
    float: right;
    width: 50%;
}
.preview-btn{
    float: right;
    width: 90%;
    cursor: pointer;
    font-size: 14px;
    height: 21px;
    width: 90%;
    color: #fff;
    font-family: arial;
    padding-top: 4px;
    font-weight: bold;
    background-color: #27292B;
    border: none;
    border-radius: 5px;
}
.select-btn {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    height: 21px;
    width: 90%;
    color: #fff;
    font-family: arial;
    padding-top: 4px;
    font-weight: bold;
    background-color: #27292B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
}

/* Hide the browser's default checkbox */
.select-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #27292B;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.select-btn:hover input ~ .checkmark {
    background-color: #27292B;
}

/* When the checkbox is checked, add a blue background */
.select-btn input:checked ~ .checkmark {
    background-color: #27292B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.select-btn input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.select-btn .checkmark:after {
    right: 9px;    
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 0 3px 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.template-name-container{
    float: right;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.template-name-container .template-name{
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
}
#select-template-conatiner .left-pane{
    float: right;
    width:50%;
}
#select-template-conatiner .right-pane{
    float: right;
    width:50%;
}
#select-template-conatiner .left-pane .image-container{
    float: right;
    width: 100%;
    text-align: center;
}
#select-template-conatiner .left-pane .image-container img{
    height: 400px;
    width: 320px;
    padding: 1px;
    border:1px solid #999;
}
#view-templates{
    cursor: pointer;
    float: right;
    text-decoration: underline;
}
.template-preview-container{
    float: right;
    width: 100%;
}
.template-preview-container .template-preview{
    float: right;
    width: 100%;
}

.template-preview-container .template-preview img{
    width: 100%;
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: left;
    margin-left: 51px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.pagination_status{
    display: none;
}
.full_width{
    width: 100%;
    float: right;
}
