
    .link-box {
        margin:10px 40px;
        width:270px;
        float:left;
        height:80px;
    }
    .link-heading a {
        font-weight:bold;
        color:#900;
    }
   .link-descr{margin-top:5px;color:#666;text-align:right;}
    #box{
        width:700px;
        margin:0px auto;
    }


    .submit_button {

        padding: 7px 10px;
        color: #fff;
        background: #27292B;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        font-weight: bold;
        font-size: 14px;
        border:none;
        font-family: arial;
        cursor:pointer;
    }
    .submit_button:hover{
        background:  #373B3F;
    }

    span{
        float:left;
    }
    .bread_crumb {
        margin-right: 10px;
    }
    table#listing .tr-even,table#listing .tr-odd {
        font-size: 13px;
        font-weight: 300;
    }
    table#listing  td{
        padding: 10px !important;
        padding-right: 20px !important;
    }
    table#listing td.col-1{
        width:5% !important;
    }
    table#listing td.col-2{
        width:20% !important;
    }
    table#listing td.col-4{
        width:15% !important;
    }
    table#listing td.col-3{
        width:25% !important;
    }


    /*exam_group details*/

    div#exam_group_details{
        float:right;
        width: 100%;
    }
    #exam_group_details div{
        float:right;
        font-size:13px;
    }
    #exam_group_details .discription_div {
        width :30%;
    }
    .item_input{
        width:200px;
    }
    .item_input .input_items{
        float: right;
        line-height: 5px;
        clear:both;
    }
    .set_text_bold{
        font-weight: bold;
        float: right;
        line-height: 5px;
        width:250px;
        word-break: break-all;
        clear:both;
    }
    .set_border_bottom{
        float:right;width :100%;
        border-bottom: 1px solid black;
        height: 24px;
        clear: both
    }
    #div_batch_list{
        width: 100%;
        float:right;
        margin-top: 30px;
    }
    .in_place_editor_field{
        font-weight: bold;
        margin-top: 10px;
        float: right;
        margin-bottom: 7px;
    }
    .small_div{
        width: 10% !important;
    }
    .batch_list{
        float: right;
        margin-top: 30px;
        width: 100%;
    }

