<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>
<hr class="faded">
<div class="header_preview_box">
  <div class="template_settings_sub_head"><%= t('preview')%></div>
  <%= render :partial => "preview" %>
</div>
