.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
}
.text-input-bg input, .text-input-bg select {
    margin-right: 0;
    -webkit-border-radius: .3em;
    width: 215px;
    float: right;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
    margin: 20px 0;
}
.label_pair {
    margin-bottom: 10px;
    float: right;
    width: 100%;
}
.label_pair input, .label_pair label {
    float: right;
}
.general_label {
    margin-right: 5px;
    font-size: 13px;
}
.submit-button {
    margin: 20px 0 0 40px;
    font-size: 13px;
    border-radius: 5px;
}
#loader1, #loader2 {
    margin: 10px 8px 0 0;
}
#description {

    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;

}