<!-- Template for <%= template_name.humanize %> -->
<div class="receipt-container">
  <div id="receipt">
    <div id="receipt-header">
    </div>
    <div class="receipt-content">
    </div>
    <div class="receipt-footer">
    </div>
  </div>
</div>
