.collection-wise {
    margin-left: 5px !important;
    font-size: 11px !important;
}
.pay-all-fees{
  margin-left: 5px;
  margin-right: 0px !important
  float: left !important;
  font-size: 11px !important;
  margin-top: 5px;
}
table#listing tr:not(.tr-head):not(.tr-blank) {
    font-size: 13px !important;
}
#information{
    overflow: auto;
}
