h3 {
    font-size: 16px;
    color: #444;
    font-weight: bold;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.label-field-pair{
    height: 62px;
    float:none;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}
.text-input-bg {
    width: 125px;
    margin-left: 10px;
}
.text-input-bg input {
    width: 66px;
    border-radius: 0px! important;
}
span.days_text {
    font-size: 13px;
    color: #444;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.submit-button {
    margin: 20px 20px 0 150px;
    font-size: 13px;
}
.description {
    font-size: 13px;
    padding-top: 10px;
    color: #A5A5A5;
    width: 100%;
    margin-bottom: 10px;
}
#reset-date-link{
    float: right;
    width: 50%;
    margin-top: 9px;
    font-size: 15px;
    color: #444;
    text-decoration: underline;
    cursor: pointer;
}
#even{
    float:left;
    width:50%;
    height: 62px;
}
#even label{
    padding-left:40px;
}
#odd{
    float:none;
     float:right;
    width:50%;
    height: 62px;
} 
#payment_period-monthly{
    margin-bottom: 10px;
    width:100%
}
#payment_period-weekly , #payment_period-biweekly, #payment_period-semi_monthly{
    width:100%;
    float: left;
}
#payment_period-monthly label, #payment_period-weekly label, #payment_period-semi_monthly label , #payment_period-biweekly label{
    font-weight:bold;
}
#payment_period-monthly input, #payment_period-weekly input, #payment_period-semi_monthly input , #payment_period-biweekly input{
    margin-left: 51px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
}
.error-msg{
    float:left;
    color: red;
    font-size: 13px;
    width: 71%;
}
.wrapper{
    margin-top: 5px;
}
#salary_exceeds1, #salary_exceeds3, #salary_exceeds5, #salary_exceeds7, #salary_exceeds9, #salary_exceeds11{
    float: left;
    width: 86%;
    margin-left: 138px;
}
#salary_exceeds2, #salary_exceeds4, #salary_exceeds6, #salary_exceeds8 , #salary_exceeds10, #salary_exceeds12{
    float: left;
    width: 86%;
    margin-left: 97px;
}
#salary_exceedsmonthly, #salary_exceedsweekly ,#salary_exceedsbiweekly, #salary_exceedssemi_monthly{
    width: 100%;
    float: left;
    margin-left: 152px;
}