h3 {
    font-size: 16px;
    color: #444;
    font-weight: bold;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}
.text-input-bg {
    width: 125px;
    margin-left: 10px;
}
.text-input-bg input {
    width: 66px;
    border-radius: 0px! important;
}
span.days_text {
    font-size: 13px;
    color: #444;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.submit-button {
    margin: 20px 20px 0 150px;
    font-size: 13px;
}
.description {
    font-size: 13px;
    padding-top: 10px;
    color: #A5A5A5;
    width: 100%;
    margin-bottom: 10px;
}
#reset-date-link{
    float: right;
    width: 50%;
    margin-top: 9px;
    font-size: 15px;
    color: #444;
    text-decoration: underline;
    cursor: pointer;
}
#even {
    float:left;
    width:35%;
    padding-left: 40px;
}
#odd{
     float:right;
    width:50%;
} 
#payment_period-weekly{
    width: 100%;
    margin-top: 395px;
}
#payment_period-monthly{
    margin-bottom: 10px;
}
#payment_period-monthly label, #payment_period-weekly label, #payment_period-semi_monthly label , #payment_period-biweekly label{
    font-weight:bold;
}
#payment_period-monthly input, #payment_period-weekly input, #payment_period-semi_monthly input , #payment_period-biweekly input{
    margin-left: 51px;
}
.label-field-pair{
    height: 62px;
}
