<div class="label-field-pair">
  <label for="course"><%= "With Expected" %></label>

  <div class="text-input-bg">
    <%= form.check_box "expected_amount", { :value => "1", :checked => false}  %>
  </div>
</div>