.id_card_templates-icon {
  background-position-x: -158px;
  background-position-y: -261px;
}


.id_card_preview{
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  width: 978px;
  margin-top: 30px;
  overflow-x: auto;

}

div.preview {
  position: relative;
  margin: 0 auto;
  border-style: dashed;
  border-width: 1px;
  border-color: #333;
  overflow: hidden;
  box-sizing: border-box;
  transform: scale(2);
  transform-origin: 50% 0%;
  font-size: 6pt;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div#front_preview_container {
    min-height: 680px;
}

div#back_preview_container {
    min-height: 680px;
}

div.preview img {
  max-width: 100%;
  max-height: 100%;
}

div.field_section {
    display: inline-block;
    width: 322px;
    padding: 5px;
    box-sizing: border-box;
    vertical-align:  top;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

div.field_head {
    padding-top:  5px;
    padding-bottom: 15px;
}

.field_section select{
  height:30px;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  width:290px;
}

.field_section select:focus{
  border-color: #333;
}

.field_section input[type="text"]{
  height:30px;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  width:290px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.field_section input[type="text"]:focus{
  border-color: #333;
}


.solid_button{
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color:#ffffff;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  font-weight: bold;
  cursor:pointer;
  text-decoration: none;
  font-size: 14px;
  height: 36px;
  box-sizing: border-box;
}

#page-yield .solid_button:hover{
  background-color: #626262;
  color: #fff !important;
}

.submit_controls {
  margin-top: 50px;
}




label.normal {
  font-size: 14px;
  color: #333;
}

.academic_year_selector{
  height:30px;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  width:180px;
}

.academic_year_selector select:focus{
  border-color: #333;
}

.academic_year_switcher {
  vertical-align: top;
  margin-bottom: 30px;
}

div.academic_year_container{
  text-align: right;
  margin-bottom: 30px;
}
