.label-field-show {
    min-height: 20px;
    width : 822px;
    padding: 3px 0 1px 0;
    float:right;
    overflow: hidden;
    padding-top: 5px;
}
.label-container1 {
    color:#444444;
    display:block;
    float:right;
    font-size:15px;
    font-weight:60;
    padding: 0px;
    padding-top:10px;
    width:180px;
    margin : 5px 0px 0 0;
    height:17px;
}

.label-output {
    float:right;
    margin : 5px 10px 0 0;
    width : 387px;
    height:17px;
    font-size:15px;
    padding: 5px;
    display:block;
    font-weight: bold;
}