html{
    font-family: arial;
    font-size: 10px;
}
#pdf-footer {
    float:left;
    color: black;
    width: 100% !important;
    padding: 50px 0px !important;
}
.push_left{
    text-align: left;
    margin-right: 10px;
}
.push_right{
    text-align: right;
    margin-left: 10px;
}
.level_0{font-weight: bold;}
.level_1{padding-left: 10px !important;}
.level_2{padding-left: 20px !important;}
.level_3{padding-left: 30px !important;}
.level_4{padding-left: 40px !important;}

.param_value{
  font-size: 1rem;
  color: #333;
  padding: 0px 5px;
  margin-bottom: 10px;
}
.bold{
    font-weight: bold;
}
.borderless{
    margin-top: 0px !important;
}
.borderless colgroup.field_table{
    border: none;
}
.text-left{
    text-align: left;
}