.label_field_pair {
    width:600px;
    height: 40px;
    padding-top: 3px;
}
.label-field-pair {
    width:600px;
    height: auto;
    min-height: 50px;
    float: right;
    padding-top: 3px;
}
.text-input-bg{
    height: auto;
}
.text-input-bg span {
    margin-bottom: 10px;
    float: right;
    font-size: 13px;
    margin-top: 10px;
}
.text-input-bg input, .text-input-bg select {
    margin-right: 0;
    -webkit-border-radius: .3em;
    width: 215px;
    float: right;
}
.text-input-bg select{
    padding: 0px;
    width: 227px;
}
#vehicle_form{
    width:500px;
}
.label_for_status {
    color: #444444;
    display: block;
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 10px;
    padding-top: 3px;
    width: 200px;
}
.fee_category_scroll {
    -moz-background-inline-policy:continuous;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-background-inline-policy:continuous;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height: 86px;
    margin-right: 200px;
    margin-top:-37px;
    margin-bottom:5px;
    overflow:auto;
    padding:7px;
    width: 210px;
}
.sel-list {
    border-bottom:1px solid #DDDDDD;
    margin-bottom:2px;
    width:200px;
    font-size: 13px;
}
.each_batch {
    border-bottom:1px solid #DDDDDD;
    font-size:12px;
    overflow:auto;
    width:200px;
}
.status_value{
    width:300px;
    float:right;
    padding-top: 5px;
}
.check_box_value{
    float:right;
    margin-top:2px;
    width: 175px;
}
.batches_box{
    float:right;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
}
.submit-button {
    margin: 20px 0 0 40px;
    font-size: 13px;
    border-radius: 5px;
}
.label_field_pair .status_value input {
    float: right;
    margin: 1px 0 0 5px;
}
.label_field_pair .status_value label {
    font-size: 13px;
    margin-left: 15px;
    float: right;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;
}
.error-msg{
    float:right;
    color: red;
    font-size: 13px;
    width:205px;
}
.wrapper{
    margin-top: 5px;
    float: right;
    width: 100%;
}
.select-list{
    width: 100px;
}
a.submit-button, #page-yield a.submit-button:hover{
    color: white !important;
    text-decoration: none;
}
#addl_values {
    float: right;
    margin-right: 197px;
}
