.section-header {
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}

.section-description {
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}

.manage_masters_form input[type="submit"]:disabled {
    opacity: 0.5;
}

#submit_button {
    display: none;
    margin: 0px;
    margin-top: 20px;
}

.fee_type_title {
    font-size: 14px;
    font-weight: bold;
}

.margin-v-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.gray_table_list .col-name {
    min-width: 200px;
    max-width: 200px;
    width: 30%;
}