
#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
    height: auto;
}

#category-list .listeven{
    color : #444;
    height : 1.5em; width : 550px;
    list-style-type : none;
    padding : 0.5em 0 0 2em;
}

#category-list .listodd{
    color : #444;
    height : 1.5em; width : 550px;
    list-style-type : none;
    padding : 0.5em 0 0 2em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 550px;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    font-weight: bold;
    font-size:13px;
    width:200px;
    height: auto;
    padding-right: 10px;
    padding-bottom: 10px;
}
#category-list li div.category-batch-transfer{
    width:110px;
    margin-top:-2px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    margin-left: 20px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
#update_batch{
    float:left;
    width:800px;
    height: auto;
}
.bread_crumb {
    margin-left: 10px;
}
.category_list{
    height: auto;
    float: left;
    border-bottom: 1px solid #BECFFB;
}