<div class="com_block">
    <p class="messages">Specify the space from top of the sheet required to be left blank for the printed header section.</p>
</div>
<div class="label-field-pair">
    <div class="text-input-bg">
        <%= text_field :cce_report_setting, :header_space, :value => @setting[:header_space] %><span>millimeters</span>
    </div>
</div>