.report_container_box .header{
    font-weight: bold;
    margin-bottom: 30px;
}
.report_details{
    display: flex;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.report_details .col{
    flex: 1;
}
.col .value{
    font-weight: bold;
    margin-top: 10px;
    padding-right: 45px;
}
.col .value span{
    font-weight: normal;
    white-space: nowrap;
}
.batch_student{
    margin-top: 30px;
    height: 50px;
}
.select_report{
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

}
.label-field-pair{
    width: auto !important;
    float: left;
    margin-right: 50px;
}
.label-field-pair label{
    width: auto;
}
.text-input-bg select{
    border-radius: 1px;
}

#student_report{
    float: left;
    width: 100%;
    margin-top: 50px;
}
#student_report table{
    border-collapse: collapse;
    font-size: 13px;
}

#student_report .col-2{
    width: 150px;
}
#student_report td{
/*    padding: 10px 20px;
    border: 1px solid #ccc;*/
}
#student_report .tr-head{
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
/*.coscholastic_area_table .col_0{
    width: 800px;
}*/
.coscholastic_area_table{
    margin-top: 10px;
}
.coscholastic_area_table .activity_label{
    width:710px;
    max-width:710px;
}
.empty_row td{
    border: none !important;
}
.remarks_row td{
    text-align: left;
    height: 30px;
}
.remarks_row .remarks_label{
    border-right: none !important;
}
.remarks_row .remarks_value{
    border-left: none !important;
}
#student_report table{
    /*width: 50%;*/
}
.remarks_widget .label-field-pair{
    float: none;
}
.student_details {
    font-size: 14px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
}
#report_selector{
    font-size: 14px;
    float: left;
    margin-left: 10px;
}
#remarks_list .label-field-pair{
    width:100% !important;
}
select {
    min-width: 200px;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin-top: -5px;
    width: 200px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.add_link{
    display :none;
}
.cross_button{
    display: none;
}















#student_report .tr-head {
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
#student_report {
    float: left;
    width: 100%;
    margin-top: 50px;
}
#student_report table {
    border-collapse: collapse;
    font-size: 13px;
}
#student_report td {
/*    padding: 10px 20px;
    border: 1px solid #ccc;*/
}
.coscholastic_area_table td.even {
    font-weight: bold;
    text-align: left;
}
.coscholastic_area_table td.odd {
    background: #fff;
    width: 50px;
}
.coscholastic_area_table {
    margin-top: 10px;
}
#page-yield table .header-text {
    font-weight: bold;
}
#enclosure {
    margin-bottom: 40px;
}
#firstTd {
    height: 37px;
    border-right: 1px solid #999999;
}
#divHeader {
    overflow: hidden;
    max-width: 730px;
}
#main_header_table{
    border:1px solid #999999;
    border-collapse: collapse;
    border-bottom: 0px;
    border-left:0px;
}
#main_header_table tr#main_heading{
    border-bottom: 1px solid #999999;

}
#main_header_table tr, #main_header_table td{
    border-left:0px;
    border-right: 1px solid #cccccc;
}
.tableHeader {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px 10px 10px;
    /*word-break: break-word;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableHeaderHelp {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding: 0px 10px 0px 10px;
}
#main_header_table {
    border-collapse: collapse;
}
#sub_header {
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #ccc;
    border-left: 0px;
}
.tableSubHeader {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
    /*word-break: break-word;*/
    min-width: 52px;
    height: auto;
}
.coscholastic_area_table td {
    padding: 10px 20px;
    border: 1px solid #ccc;
}
#firstSubTd {
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 5px 5px 20px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#scores_table, #scores_table tr, #scores_table td {
    border-collapse: collapse !important;
}
#scores_table td {
    border-right: 1px solid #cccccc;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
    border-top: 0px;
    border-right: 1px solid #cccccc;
    border-bottom: 0px;
    border-left: 1px solid #999999;
}
#scores_table, #scores_table tr, #scores_table td {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-collapse: collapse !important;
}
#table_div td {
    min-width: 80px;
}
.student_names {
    width: 300px;
    text-align: left;
    font-size: 13px;
    padding: 6px 5px 5px 20px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
    /*border-bottom: 1px solid #ccc;*/
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
}
.scores {
    padding: 8px 8px 8px 0px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
}
#scores_table td {
    border-right: 1px solid #cccccc;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
    border-top: 0px;
    border-right: 1px solid #cccccc;
    border-bottom: 0px;
    border-left: 1px solid #999999;
}
.student_exam_report td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.student_term_report td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
tr.odd{
    background-color: #ffffff;

}
tr.even{
    background-color: #f4f4f4;
}
.borders{
    border-bottom: 1px solid #ccc;
}
#table_div {
    overflow: auto;
    max-width: 730px;
    max-height: 600px;
    position: relative;
    float: left;
}
#planner-canvas{
    margin-top: 10px;
    /*border: 1px solid #ccc;*/
    padding: 10px;
    min-height: 100px;
    min-width: 100px;
}
#pdf_nav{
    display: none;
    /*display: block;*/
    float: left;
    width: 91%;
    margin-left: 10px;
}
.pdf-nav-btn{
    
    background-color: #000;
    border: none;
    color: #fff;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
}
.pdf-nav-btn:hover{
    background-color: #373b3f;
}
.prev-btn-container{
    float: left;
    width: 10%;
}
#prev{
    float: left;
}
.next-btn-container{
    float: right;
    width: 10%;
}
#next{
    float: right;
    /*margin-right: 78px;*/
}
.page-num-container{
    float: left;
    width: 80%;
    text-align: center;
    padding-top: 5px;
}
.pdf{
    margin-left: 10px;
}
.student-select-container{
    margin-left: 205px;
}
.report_details .planner{
    margin-left: 180px;
}
.page-num-span{
    font-family: arial;
    color: #444;
    font-weight: bold;
    font-size: small;
}