.link-box {margin:10px 40px;width:270px;float:left; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {
    margin-top: 5px;
    color: #666;
    text-align: left;
}
.box{
    width:750px;
    margin:0px auto;
}

#MB_window#ajax-edit{
    background: #000;
}

.custom_title{
    font-size: 16px;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #444;
    //  float:left;
}

.custom_buttons{
    margin-top: 1%;
    float: left;
    margin-bottom: 2%;
    width: 100%;
}

.enable_button{
    margin-right: 3%;
    margin-left: 8%;
}
.disable_button{
    margin-left: 8%;
    margin-right: 3%;
}
.disabled {
    display: block;
    color: #666 !important;
  //  text-decoration: none !important;
    //  border-left: 1px solid #ccc;
}

a.disabled {
    cursor: default;
    text-decoration: none;
}

#page-yield a.disabled_button:hover { color: #666 !important; }
.custom_form .label-field-pair {
    height: 40px;
    width: 600px;
    padding-top: 3px;
}
.custom_form .label-field-pair input {
    // background: #fff;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 205px;
    height: 17px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 5px;
}
.custom_form .text-input-bg {
    background: transparent;
    height: 40px;
    width: 250px;
    float: left;
}
.custom_form .text-input-bg select {
    //  background-color: #fff;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.custom_form .label-field-pair input[type="checkbox"] {
    background: #ffffff;
    width: 24px;
    float: left;
    border-radius: 0px;
    margin-top: 20px;
}
.custom_submit_button{
    margin-bottom: 30px;
    height: 60px;

}

.custom_submit_button .submit_button{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  //  margin: 65px 0 0 -292px;
    padding: 8px 21px 9px 18px;
    float: left;
    cursor: pointer;
}

.custom_form .label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 8px 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
}
.notification{
    margin-bottom: 50px;
}
.labels_list{
  //  margin-top: 135px;
}

.custom_attendacne_page{

}


#custom_attendance_table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px 0;
}
#custom_attendance_table   td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    font-size: 13px;
    width: 10%;
}
#custom_attendance_table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
    font-size: 13px;
}
#custom_attendance_table tr{
    border-bottom: 1px solid #bfbfbf;
}

.custom_link{
    color:black;
    margin-left: 4px;
}

table#custom_attendance_table .disabled_link {
    text-decoration: line-through !important;
    font-size: 15px !important;
    color: #27292b !important;
    float: left;
}

.edit_option{
    float:left;
    text-decoration: none;
}
.delete_option{
    margin-left:5px;
}
wrapper {
    margin-top: 5px;
    margin-left: 0 !important;
    /* min-width: 300px !important; */
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-right: 2px;
    float: left;
    margin-top: 2px;
    margin-left:8px;
}
.error-msg {
    float: left;
    color: red;
    font-size: 13px;
    font-style: italic;
}

.strike{
    text-decoration: line-through;
    user-select: none;
    -moz-user-select: none;
    font-style: italic;
    font-weight: lighter;
}

.small-strike {
    color: #666;
    margin-right: 10px;
    text-decoration: line-through;
}
#pdf_tooltip{

}
.tooltip_info {
    width: 134px;
    padding: 5px;
    top: 100%;
    display: inline-block;
    margin-top: 10px;
    z-index: 254;
    right: 0;
    // margin-left: 170px;
    position: absolute;
    background: #f4f4f4;
    border: 1px solid #B2B2B2;
    pointer-events: none;
    color: #000000;
    text-align: left;
    font-size: 13px;
    font-weight:normal;
}

.label-field-pair {
    height: 40px;
    width: 250px;
    padding-top: 3px;
    float:left;
}
.label-field-pair input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 15px 0 0 0px;
    width: 20px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 6px 0px 0px 0px;
    float: left;
    width: 210px;
    padding-top: 10px;
    font-weight: 600;
}
.description{
    height: auto;
   // width: 48%;
    color: gray;
    font-size: 13px;
}
.input{
    float:left;
    margin-right: 10px;
}
#status_form{

}
.detail_table{

}

.tooltip_info2 {

  /*  margin-left: 20px;*/
    background: url(/images/iconsprite-1.png) no-repeat -63px -85px;
    float: right;
    width: 13px;
    height: 13px;
    margin: 3px 0px 0px 0px;
    font-weight: normal !important;
}
.tooltip_wrapper {
    position: relative;
    cursor: pointer;
    float: right;
    width: auto;
    color: #999;
}
.custom_radio_buttons{
    float: left;
    margin-bottom: 2%;
    width: 100%;
    height: auto;
}
.radio_butn{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.section_field{
    width: 70%;
    float: left;
}
.radio_butn label{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 6px 0px 0px 0px;
    float: left;
    width: 230px;
    padding-top: 10px;
    font-weight: 600;
}
.radio_values input{
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 15px 8px 0 0px;
    width: 20px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    float: left;
}
.check_label{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 6px 0px 0px 0px;
    float: left !important;
    width: 210px !important;
    padding-top: 10px;
    font-weight: 600;
}
.less_height{
    margin-top: 15px !important;
}

.lock {
  color: #444;
    font-size: 14px;
    margin: 6px 0px 0px 0px;
    padding-top: 10px;
    font-weight: 600;
}
#calender-select {
  
}
