<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%if @parents_for_batch.present?%>
<div class="label-field-pair_column">
  <label for="course"><%= t('add_parents_text') %></label>
  <div class="text-input-bg">
    <%= select :select_parents_batch, :batch, options_for_select([["#{t('all')} #{t('parents')}",'all']] + @parents_for_batch.map { |s| [s.full_name, s.id] }.sort_by{|a| a[0].downcase}, @parent_batch),
      {:prompt => "#{t('select_a_batch')}"},
      {:onChange => "#{remote_function(:url => {:action => "to_parents"}, :with => "'batch_id='+value",
      :before => "Element.show('loader2')",
        :success => "Element.hide('loader2')")}"} %>

  </div>
</div>
<%end%>
