/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Mar, 2019, 6:22:32 PM
    Author     : foradian
*/

.leave_year{}

.label-field-pair {
    height: 40px;
    width: 600px;
    padding-top: 3px;
}

.text-input-bg {
    background: transparent;
    height: 28px;
    width: 250px;
    float: right;
}
.text-input-bg select {
    background-color: #fff;
    border: 1px solid lightgray !important;
    margin: 5px 10px 0 0;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

}
.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    width: 85px;
    padding-top: 10px;
    font-weight: 600;
}
table#leave_process_record{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 20px 0px 0px 20px;
}
table#leave_process_record td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table#leave_process_record .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
table#leave_process_record tr{
    border-bottom: 1px solid #bfbfbf;
}
table#leave_process_record a, #page-yield table#leave_process_record a:hover {
    color: black !important;
    text-decoration: none;
    margin-left: 20px;
}
table#leave_process_record td.name{ width: 60%}
table#leave_process_record td.no_emp{ width: 13%}
table#leave_process_record td.status{ width: 13%}
table#leave_process_record td.success{ color: green;}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}