/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Mar, 2019, 4:14:04 PM
    Author     : foradian
*/

#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}

#active_year1{
    float: right;
    width: 100%;
    font-size: 15px;
    background-color: #f0f0f0;
    margin: 12px 0 25px 0;
}
#active_year .submit-button{
    margin: 10px 3px 5px 12px;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 12px 8px 12px;
}
#active_year_id .submit-button{
    margin: 10px 3px 5px 12px;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    background-color: gray;
    cursor: auto;
}
.submit-button{
    border-radius: 5px;
}
#page-yield #active_year a.submit-button:hover{
    color: #fff !important;
}
#active_year1 #description1{
    margin: 18px 29px 8px 85px;
}

.active_year_name{
    font-weight: bold; 
}
.year_range{
    margin: 15px 0px 12px 13px;   
}
.active_year_start_date{
    font-size: 15px;
    font-weight: bold; 
}
.active_year_end_date{
    font-size: 15px;
    font-weight: bold; 
}
.end_date_year{
    float:left;
    //   width: 60%;
}

#active_year1 #description2{
    line-height: 1.2;
    margin: 17px 20px 5px 14px;
    float: right;
}

#active_year1 #description3{
    width: 16%;
    float: left;
    margin: 0px;
}
.left-side{
    float: right;
    width: 50%;
    border-left: 1px solid lightgray;
}
.right-side{
    float: left;
    width: 46%;
}
.next_leave_year{
    float: right;
    margin: 21px 34px -22px 0px;
    color: grey;
    font-size: 13px;
}
.create_leave_year{
    float: left;
}
.process_leave_year{
    margin: 11px 0px 16px 8px;
}
#active_year1 .submit-button{
    margin: 14px 5px 7px 29px;
    float: left;
    font-size: 14px;
    text-decoration: none;
    background-color: #f0f0f0;
    border-radius: 3px;
    border: 2px solid lightgray;
    color: black;
    padding: 8px 12px 8px 12px;
}
#page-yield #active_year1 a.submit-button:hover{
    color: #000 !important;
}
.leave-year-icon{
    background-position: -47px -407px !important;
    margin: 0px -13px 0px 0px
}
.header1-icon {
    margin-top: 31px;
    height: 25px;
    width: 25px;
    float: right;
    background: url(/images/iconsprite-3.png) no-repeat center;
}
#year_form{
    float: right;
    padding-right: 40px;
    padding-left: 40px;
}
#popup_window{
    width: 690px;
    top: 40px;
    float: right;
}
#popup_frame .part {
    width: 610px;
}
#popup_content #description{ margin-top : 0px}
#popup_content .label-field-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
#popup_content .label-field-pair label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
#popup_content .text-input-bg input{
    margin-right: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea{
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
#popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
.date_field {
    width: 40% !important;
    margin-left: 20px;
}
.date_field input{
    width: 200px !important;
}
#popup_content .text-input-bg {
    height: auto;
    margin: 0px;
}
#popup_content{width: 690px !important;}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
.wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
    line-height: 13px;
    font-weight: 100;
}
#popup_content .error-msg{width: 231px;}
.text-input-bg span {
    font-size: 15px;
    margin-right: 0px;
    font-weight: bold;
    color: #333;
}

#page-yield #active_year_id a.submit-button:hover{
    color: #fff !important;
}
