.details{
    border-bottom: 0px !important;
}
.clear{
    clear: both;
    width: 100%;
}
.name{
    float: right !important;
    width: 220px !important;
    font-size: 13px !important;
    min-width: auto !important;
    margin-bottom: 0px !important;
}
.val {
    width: 750px !important;
    font-weight: bold !important;
    font-size: 13px !important;
    float: right !important;
}
.val span{
    margin-left:12px !important;
    color: black !important;
}
.val-align{
    float: left !important;
    width: 730px !important;
    word-wrap: break-word !important;
}
#fee-defaulters {
    float: left;
    width: auto;
}
h5 {  
    float: right;
    margin-top: 15px;
    line-height: 30px;
}
.text_box{
    float: right;
}
.box{
    float: left;
    margin-top: 14px;
}
.label-field-pair {
    height: 40px;
    width: auto;
    padding-top: 3px;
    float: right;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 100px;
    float: right;
    margin: 0 auto;
}
.label-field-pair input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 10px 10px 0 0;
    width: 210px;
    height: 17px;
    padding: 5px;
    float: right;
}
#fine_fee {
    width: 100px !important;
    height: 25px;
    margin-right: 10px; 
}
.box .label-field-pair1 {
    float: right;
}
.submit_button2 {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
}

.text-input-bg {
    float : right;
    margin-left: 20px;
}