h3 {
    font-size: 16px;
    color: #444;
    font-weight: bold;
}
h4 {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-top: 50px;
}
/*.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}*/
.label-field-pair label {
  line-height: 30px;
  color: #333333;
  font: 400 14px / 30px Arial;
}
.label-radios-pair label {
  line-height: 30px;
  color: #333333;
  font: 400 14px / 30px Arial;
}
.text-input-bg {
    width: 125px;
    margin-right: 10px;
}
.text-input-bg input {
    width: 230px;
    border-radius: 0;
    margin: 5px 0 0 0;
}
.submit-button {
    margin: 20px 0 0 20px;
    font-size: 13px;
    padding: 7px 35px;
}
.description {
    font-size: 13px;
    padding-top: 10px;
    color: #A5A5A5;
    width: 100%;
    margin-bottom: 10px;
}
.radio_pair_main_float{
    float: right;
}
.right-margin{
    margin-left: 20px;
}
.label-radio-pair  {
    height: 30px;
    float: left;
    width: 100%;
    padding: 10px 0 20px 0px
}
.status{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}

.check_box{
    margin-top: 7px;
}

.label-radio-pair label{
    font-size: 13px;
    font-weight: normal;
    color: #444;
    /* margin-top: -9px; */
}
.label-radio-pair input {
    margin-top: 2px;
    margin-right: 10px;
}
.label-field-pair {
    height: 90px;
}
.custom_footer{
    margin-top: 50px;
    font-size: 14px;
    color: #444;
}
#optional_span{
    font-weight: bold;
    margin: 0 auto;
}
.footer_desc{
    font-size: 13px; 
    margin-top: 20px;
    margin-bottom: 12px;
}
.status-textarea{
    margin-bottom: 80px;
}
textarea{
    height: 80px;
    width: 380px;
    background: none repeat scroll 0 0 #eee;
    padding: 5px;
}