/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Dec, 2018, 3:32:15 PM
    Author     : foradian
*/
.custom_form{
    margin-top:50px;
}
.custom_form .label-field-pair {
    height: 40px;
    width: 600px;
    padding-top: 3px;
}
.custom_form .label-field-pair input {
    //  background: #fff;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 205px;
    height: 17px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 5px;
}
.custom_form .text-input-bg {
    background: transparent;
    height: 40px;
    width: 250px;
    float: right;
}
.custom_form .text-input-bg select {
    //  background-color: #fff;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.custom_form .label-field-pair input[type="checkbox"] {
    margin-right: 59px;
    margin-top: 9px;
    width: 24px;
    float: right;
    border-radius: 0px;
}
.custom_submit_button{
    margin-top: 13px;
    height: 35px;

}

.custom_submit_button .submit_button{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 209px 0 0;
    padding: 8px 18px 9px 21px;
    float: right;
    cursor: pointer;
}
.tooltip_info {
    width: 130px;
    padding: 5px;
    top: 100%;
    display: inline-block;
    //  margin-top: 7px;
    margin: 7px -4px 0px 0px;
    z-index: 254;
    left: 0;
    position: absolute;
    background: #f4f4f4;
    border: 1px solid #B2B2B2;
    pointer-events: none;
    color: #000000;
    text-align: right;
    font-size: 13px;
}
.disabled {
    display: block;
    color: #666 !important;
    //  text-decoration: none !important;
    //  border-right: 1px solid #ccc;
}
.attendance_type{
    float: right;
    width: 230px;
    margin: 9px 10px 2px 0px;
    color: #444;
    font-size: 15px;
}
.notification{
  //  margin-bottom: 50px;
}
.tooltip_info2 {
    /* display: none; */
    margin-right: 20px;
    background: url(/images/iconsprite-1.png) no-repeat -63px -85px;
    float: right;
    width: 13px;
    height: 13px;
    margin: 12px 0px 0px 6px;
    /* margin: 6px; */
    font-weight: normal !important;
}
.label-field-pair label {
    color: black;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    width: 200px;
    padding-top: 10px;
    font-weight: normal;
}
.notification1{
    color: black;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    width: 128px;
    padding-top: 10px;
    font-weight: normal;
}
.notification_checkbox{
    
}