<div class="label-field-pair">
    <div class="label">
        <label for="batch_id" class="label-batch"><%= t('planner') %></label>
    </div>
    <span class="batch_selector">
      <%= select :gradebook_attendance,:linkable_id, [[@plan.name,@plan.id]],
          {:include_blank=>t('select_planner')},
          {:onChange => "#{remote_function(:url => {:action => "load_button"},
          :with => "'sub_type='+value")}"}
      %>
    </span>
</div>
<%= hidden_field_tag 'gradebook_attendance[linkable_type]','planner' %>