.details{
    width: 100%;
    border-bottom: 1px solid #999;
    padding-bottom: 30px;
    overflow: auto;
    font-size: 14px;
}
.details .left {
    width: 50%;
    float: right;
}
.clm{
    float :right;
    width: 50%;
}
.clm .value {
    font-weight: bold;
    margin-top: 10px;
}
.selectors {
    float: right;
    margin-top: 15px;
}
.selector {
    float: right;
    margin-left: 101px;
}
.label-field-pair {
    width: auto;
}
.label-field-pair label {
    width: auto;
    min-width: 90px;
    margin-top: -4px;
}
select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    width: 200px;
    margin-top: 15px;
}
.submit-button {
    float:left;
    margin-top: -5px;
}
.attendance-submit-button{
    float:right;
    margin-right: 0px;
    margin-top: 0px;
}
.total_working_days,.working_days{
    /*margin-top: 100px;*/
    float:right;
    margin-bottom: 10px;
}
.total_working_days,.working_days label{
    margin-top:2px;
}
.total_students label{
    margin-top:2px;
}
.total_working_days,.working_days input{
    width:50px;
}
.total_days{
    width:50px !important;
}
.total_students{
    /*margin-top: 100px;*/
    float:left;
}
.gradebook_attendance_form{
    margin-bottom: 140px;
}
.students_count{
    margin:11px 20px 0 0;
    float:left;
}
table#attendance-table {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    margin-bottom: 20px;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}
table#attendance-table .tr-head {
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    color: black !important;
    background-color: #e5e5e5;
}
td {
    white-space: normal;
    text-overflow: ellipsis;
    height: 20px;
    padding: 10px 20px;
    border-left: 1px solid #ccc;
}
td.sl_no {
    width: 20px;
}
td.name {
    width: 480px;
}
td.roll_no {
    width: auto;
}
td.days {
    width: 90px;
}
table#attendance-table tr {
    border-bottom: 1px solid #bfbfbf;
}
.error-field{
    border: 1px solid red !important;
    padding: 4px !important;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right: 2px;
    margin-left: 2px;
    float: left;
    margin-top: 12px;
}
.tooltip_wrapper {
    float:left !important;
}
.label-field-pair input {
    border-radius: 0px;
}
.info{
    color:#666;
    font-size: 13px;
    float: right;
}
#info-symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-top: 12px;
    float: right;
    background-position: -60px -62px;
}