#header-content, #pdf-header{
    width: 100%;
    /*width: 980px !important;*/
    width: 800px !important;
    /*max-width: 800px;*/
    clear: both;
    margin-right: 0px;
    display: inline-block;
    /*    margin-bottom: -40px;*/
}
#header-content img{
    height: auto;
}

#header-content, #header-content p, #header-content:focus, #header-content div, #header-content ul,
#header-content ol, #header-content table, #header-content dl, #header-content blockquote,
#header-content pre {
    /*    padding: 0px !important;
        margin: 0px !important;*/
    /*font-size: 15px !important;*/
    /*line-height: 1.5rem !important;*/
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
}
#header-content p{
    font-size: 15px;
    line-height: 1.5rem;
}
#page-yield{
    /*width: 980px;*/
    width: 800px;
    margin-top: 0px;
}
#footer-content,
#footer-content p,
#footer-content:focus,
#footer-content div, #footer-content p,
#footer-content ul, #footer-content ol,
#footer-content table, #footer-content dl,
#footer-content blockquote, #footer-content pre{
    padding: 0px !important;
    margin: 0px !important;
    line-height: 1.5rem !important;
    font-size: 15px !important;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
}