
 .preview table,.preview th,.preview td {
   border-collapse: collapse;
   border-spacing: 0;
   border-spacing: 0;
   border-width: 1px;
   border-style: solid;
   border-color: #333;
   font-size: 8pt;
 }
 
 .preview{
   letter-spacing: 0mm;
   word-spacing: 0mm;
   font-family: Arial;
 }
 
 .preview p{
   margin: 5px;
 }
 
 
.preview table.borderless, .preview table.borderless th, .preview table.borderless td{
  border-style: none;
}

.preview img{
  max-width: 100%;
}
