#header {
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}

#description {
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}

table#aca_years {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}

table#aca_years td {
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
table#aca_years td span.deleted{
    color: #999;
}

#page-yield table#aca_years .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}

table#aca_years tr {
    border-bottom: 1px solid #bfbfbf;
}

table#aca_years a, #page-yield table#aca_years a:hover {
    color: black !important;
    text-decoration: none;
    margin-right: 20px;
}

#popup_window {
    width: 690px;
    top: 40px;
    float: left;
}

#popup_frame .part {
    width: 610px;
}

#popup_content #description {
    margin-top: 0px
}

#popup_content .label-field-pair {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#popup_content .label-field-pair label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

#popup_content .text-input-bg input {
    margin-left: 0;
    -webkit-border-radius: 0;
    width: 400px;
}

#popup_content .text-input-bg span {
    line-height: inherit;
    margin-left: inherit;
}

#popup_content .text-input-bg textarea {
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}

#popup_content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#popup_footer {
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #c6c6c6;
    float: left;
    width: 610px;
    padding-top: 20px;
}

#year_form {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}

#popup_content {
    width: 690px !important;
}
#popup_content .date_field{
    margin-bottom: 0px;
}

.fieldWithErrors textarea {
    border: 1px solid #9c0000 !important;
}

.wrapper {
    margin-top: 5px;
    margin-left: 0 !important;
    min-width: 300px !important;
}

#popup_content .error-msg {
    width: 231px;
}

.pagination {
    margin-top: 20px;
    margin-right: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    color: #666;
    cursor: pointer;
    border: none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}

#page-yield .pagination a:hover {
    color: #333 !important;
}

.pagination .disabled {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    border-left: 1px solid #ccc;
}

.pagination .prev_page {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

.pagination .current {
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color: #fff !important;
    background-color: #666666;
    font-weight: normal;
}

.pagination .next_page {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

.pagination .gap {
    display: block;
    float: left;
    border-left: 1px solid #cccccc;
    color: #666;
    padding: 9px;
    font-size: 13px !important;
}

td.name {
    width: 50%
}

td.start_date {
    width: 10%
}

td.end_date {
    width: 10%
}

.date_field {
    width: 40% !important;
    margin-right: 20px;
}

.date_field input {
    width: 200px !important;
}

#active_year {
    float: left;
    width: 920px;
    padding: 30px;
    background-color: #f0f0f0;
    border: 1px solid #bfbfbf;
    margin: 30px 0 50px 0;
}

#active_year #description {
    width: 75%;
    float: left;
    margin: 0px
}

#active_year .submit-button {
    margin-left: 0px;
    float: right;
    font-size: 13px;
    text-decoration: none;
}

.submit-button {
    border-radius: 5px;
}

#page-yield #active_year a.submit-button:hover {
    color: #fff !important;
}

.text-input-bg select {
    margin-left: 0px;
}

table#act_year {
    font-size: 13px;
    background-color: #f0f0f0;
    width: 100%;
    margin: 20px 0 40px 0;
}

table#act_year td {
    padding: 10px;
    font-weight: bold;
}

table#act_year tr.tr-head td {
    font-weight: normal;
}

#active_year_details {
    float: left;
    width: 100%
}

table#act_year td.name {
    width: 30%
}

table#act_year td.start_date {
    width: 20%
}

table#act_year td.end_date {
    width: 20%
}

table#act_year td.duration {
    width: 30%
}

#loader {
    margin-left: 10px
}

.delete_confirmation#popup_window {
    width: 480px !important;
    top: 100px !important;
}

.delete_confirmation #popup_frame .part {
    width: 400px !important;
}

.delete_confirmation #popup_content {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.delete_confirmation #popup_footer {
    border-top: none;
}