.box {
    width: 100%;
    margin: auto;
}
.gray_table_list {
    width: 100%;
}
.submit_button {
    margin-top: 15px;
    margin-right: 205px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: right;
}
.submit_button:hover {
    background: #373B3F;
}
#inner-tab-menu ul {
    margin: 33px 0 0 0px !important;
}
#MB_frame .label-field-pair select {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 5px 0 10px;
    padding: 5px;
    width: 217px;
}
.opt {
    margin-right: 200px;
    width: 226px;
}
.each_batch {
    font-size: 12px;
    overflow: auto;
    width: auto;

}
.each_batch input {
    float: right;
    width: auto;
}
.each_batch label {
    float: right;
    margin-right: 10px;
    margin-top: -6px;
    width: 180px;
}
.each_category {
    font-size: 12px;
    overflow: auto;
    width: 213px;;
}
.each_category input {
    float: right;
    width: auto;
}
.each_category label {
    float: right;
    margin-top: -7px;
    width: 178px;
    font-size: 13px;
    font-weight: normal;
    margin-right: 8px;
}
.categories {
    height: 100px;
    overflow: auto;
    max-width: 220px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.batches {
    height: 183px;
    overflow: auto;
    width: 232px;
    -webkit-border-radius: 10px;
    float: left;
    border: 1px solid #C6C6C6;
    padding: 5px;
    margin-right: 5px;
    background: #EEEEEE;
}
.online-opt-block{
    width: 250px;
    float: right;
}
.online-opt-block input{
    width: 35px;
    float: right;
    margin: 10px;
}
.online-opt-block label{
    width: 35px;
    float: right;
}
.batch-list {
    height: 270px;
    width: 100%;
    overflow: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
        border-top: 1px solid #c6c6c6;
}
.each-batch {
    font-size: 12px;
    overflow: auto;
    width: auto;
        height: 25px;
}
.right-floated {
    float: right;
    width: 100%;
}
.show_bathces_popup {
    width: 690px !important;
}
#popup_frame {
    width: 690px !important; 
}
#popup_header_part {
    width: 610px !important;
}
#popup_content {
    width: 610px !important;
}
#popup_footer {
    width: 610px !important;
}
#popup_header_part #MB_close {
    left: -172px !important;
}
.cross-delete-false {
    pointer-events: none !important;
    text-decoration: line-through !important;
}
.cross-delete-true {
    pointer-events: auto !important;
}
.no_entries {
    text-align: center;
}
.set_border_right label {
    float: left;
}
.sl-sec {
    width: 45px;
}
.width50 {
    width: 50px;
}
.width200 {
    width: 200px;
}