.cancel_payment_button{
  border-radius: 3px 3px 3px 3px;
  background: #27292b none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 25px;
  margin: 0 28px 0 0;
  text-decoration: none;
}
