.total_amount_div {
    float: left;
    height: 30px;
    margin-top: 20px;
    font-size: 15px;
}

.amount_label {
    margin-right: 10px;
    font-weight: bold;
}
.date_box{
    width: 100%;
    float:right;
    display: inline;
    height: unset;
    padding-bottom: 20px;
}
.set_fixed_range{
    width: 40%;
    float:right;
    display: inline;
}

/*.user_set_date{
    width: 100% !important;
    float:left;
    display: inline;
}*/
.margin-top20 {
    margin-top: 20px;
}
.float-box{
    float: right !important;
}
.width50p{
    width: 50% !important;
}
.date_box .date,
.date_filter .date {
    text-align: right;
    display: inline;
    padding-right: unset !important;
    margin-left: 20px;
}
.fields-label{
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 16px;
}
.date input {
    border: 1px solid #c6c6c6 !important;
}
.date label {
    margin-left: 20px;
}
.accounts_list{
    float: right;
}
.accounts_list select{
    border-radius: 0px !important;
    background: transparent;
    margin-right: 0px;
    height: 29px;
}
.view_report{
    float: right;
}
.view_report .user_button1 {
    margin-top: 5px;
    padding: 5px 10px;
    margin-left: 0px;
    float: right !important;
}
#hide_date_filter{
    margin-left: unset !important;
    margin-right: 20px !important;
    float: right;
}
