#inner-tab-menu ul {
    margin-top: 33px !important;
}
/** common **/
#header_content .redactor_box .redactor_toolbar, #header_content .redactor_editor, 
#header_content .redactor_editor:focus, .label-field-pair textarea {
    border-color: #c6c6c6 !important
}
/** header area **/
.header{
    font-weight: bold;
    font-size: 16px;
    color: #444;
}
.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
    color: #A5A5A5;
}
/** form common styles **/
.label-field-pair, .text-input-bg {
    width: 100%;
    display: inline-table;
}
.label-field-pair {
    display: inline-block;
    margin-bottom: 20px;
    height: auto;
}
.label-field-pair label{
    font-size: 13px;
    font-weight: bold;
    color: #444;
    float: none;
    margin-bottom: 15px;
}
.label-field-pair input {
    float: none;
    margin-left: 0px;
    border-radius: 0px;
    width: 400px;
    background: #fff;
}
/** form header content **/
#header_content{
    height: 300px;
    margin-bottom: 5px;
}
.redactor_editor, .redactor_editor:focus{
    height: calc(100% - 60px) !important;
}
/** form footer content **/
.label-field-pair textarea {
    margin-top: 5px;
    width: calc(100% - 12px);
    padding: 5px;
    height: 100px;
    resize: none;
}
/** submit button **/
.submit-button{
    margin-left: 0px;
    border-radius: 0px;
}
.save-and-preview {
    margin-left: 20px;
}