/* Finance fee receipt template module : fee receipt index */
/*.fee_receipt_templates-icon{
    background-position: 0px -279px !important;
}*/
#inner-tab-menu ul{
    margin-top: 33px !important;
}
/* copied */
.actions a, #page-yield .actions a:hover, #page-yield .actions a:hover{
    color: black !important;
}

#page-yield .pagination a:hover {
    color: #333 !important;
}

.header{
    font-weight: bold;
    font-size: 16px;
    color: #444;
}

.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
    color: #A5A5A5;
}

/** fee accounts table **/
.td-name{
    width: 70%;
}
/*.td-description{
    width: 50%;
}*/
.td-actions{
    width: 20%;
    white-space: nowrap;
}
.td-actions a{
    margin-right: 10px;
}
.td-actions a:last-child {
    margin-right: 0px;
}
.small-strike {
    color: #666;
    margin-right: 10px;
    text-decoration: line-through;
}