<div class="label-field-pair" style="width:345px;">
  <label for="subject_id">ASL Group</label>
  <div  class="text-input-bg" id="exam-group-select">
    <%= select :assessment, :asl_group_name,@asl_groups,{:prompt => "Select an ASL group"}%>
  </div>
</div>
