<div id="pdf-header">
  <div class="logo">
    <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
  </div>
  <div class="header-content">
    <p><%=Configuration.get_config_value('InstitutionName'); %></p>
    <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
  </div>
</div>
<style >
  #pdf-header {
    height:105px;
  }
</style>
