/**/
#preview_frame {
    width: 100%;
    margin-left: 202px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 50%;
    /*margin: 0 auto;*/
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}
.a4_preview_overrides {
    transform: scale(0.85);
    transform-origin: 0px 0px;
    -ms-transform: scale(0.85); /* IE 9 */
    -webkit-transform: scale(0.85); /* Safari and Chrome */
    -o-transform: scale(0.85); /* Firefox */
    margin-bottom: 0px;
}
.preview_container {
    float: left;
    clear: both;
    width: 100%;
}
.radio-select input {
    float: left;
    margin-top: 1px;
}
.radio-select label {
    font-weight: normal;
    font-size: 14px;
    /*margin-top: 5px;*/
}
.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
input[type="radio"]:checked ~ .reveal-if-active,input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px; /* little bit of a magic number :( */
    overflow: visible;
}

.label-radio-pair {
    width: 100%;
    float: left;
}
.label-radio-pair label {
    /*width: 200px;
    float: left;
    color: #444;
    font-size: 14px;
    font-weight: bold;*/
    color: #333333;
    font-size: 14px;
    float: left;
    width: 200px;
}
.label-radio-pair p {
    clear: both;
    margin-left: 20px;
    color: #666;
    font-size: 13px;
    padding-top: 10px;
    width: 535px;
}
.radio-select-options {
    float: left;
}
.buttons {
    float: left;
    margin-top: 10px;
}
input#receipt_printer_receipt_printer_header_height {
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
}
input#fee_receipt_receipt_printer_header_height {
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
}
hr {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.submit-button {
    margin: 0;
    margin-right: 30px;
}
.header-size-label {
    color: #666;
    font-size: 13px
}
.reveal-if-active input {
    padding-left: 5px;
}
.label-field-pair {
    float: left;
}
#loader_image {
    display: none;
    float: left;
}
p.info {
    float: left;
    background-color: #F0F0F0;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    line-height: 17px;
    margin-left: 202px;
    margin-bottom: 30px;
}
.title {
    font-size: 17px;
    font-weight: bold;
}
.label-radios-pair label {
    line-height: 30px;
    color: #333333;
    font: 400 14px / 30px Arial;
}
.left_label {
    float: left;
    width: 200px;
}
.label-field-pair label {
    line-height: 30px;
    color: #333333;
    font: 400 14px / 30px Arial;
}
.label_options .option{
    float: left;
}
.label_options label {
    margin-right: 20px;
}
select#receipt_printer_receipt_printer_template, #receipt_template {
    margin-left: 0px;
}

#template_preview_warning_info {
    float: left;
    width: 325px;
    border: 1px solid #B2B2B2;
    padding: 5px;
    margin-left: 0px;
    font-size: 15px;
}