
  <% help_wizard('Update', 'HR has been updated recently. There are few important things you should know.') do %>
      <h3>Generating Payslips</h3>
      <p>Now that all your employees are linked to a payroll group, all payslips related activities happen inside a payroll group.</p>
      <p>Unlike the one click payslip generator, now you can see all payroll details of each employee in a single view before generating payslips for them.</p>

      <h3>Rejected Payslips</h3>
      <p>If the finance team rejects one or more payslips, all those payslips across payroll groups are listed under Rejected Payslips. It is recommended to either edit and generate the payslips again, or delete them.</p>
  <% end %>

