
<% help_wizard('Update', 'HR has been updated recently. There are few important things you should know.') do %>
    <h3>Loss of Pay criteria for leave types</h3>
    <p>For each leave type, you can decide whether the additional leaves are loss of pay deductible or not. If enabled, then employees for whom their loss of pay is enabled in their payroll group, additional leaves can be marked as LoP.</p>

    <h3>Leave credits carry forward</h3>
    <p>Now, you can specify the maximum number of leave credits that employee can carry forward during leave reset.</p>
<% end %>

