#page-yield {
    font-family: arial !important;
    page-break-after: always;
}

.fleft {
    float: left;
    margin: 0px auto !important;
}

.fright {
    /*float: right;*/
    float: left;
    margin: 0px auto !important;
}

.width90 {
    /*min-width: 90px;*/
    min-width: 85px;
    max-width: 90px;
}

.width125 {
    width: 125px;
}

.width150 {
    width: 150px;
    /*    min-width: 100px;
        max-width: 150px;*/
}

.width200 {
    /*min-width: 200px;*/
    /*width: 310px;*/
    /*max-width: 200px;*/
}

.width150auto {
    width: calc(100% - 150px);
}

.width250 {
    /*    min-width: 250px;
        max-width: 250px;*/
}

.width360 {
    width: 400px;
    /*width: 360px*/
}

.width400 {
    width: 400px;
}

.width420 {
    width: 420px;
}

.width800 {
    min-width: 800px;
    width: 100%;
}

.width850 {
    width: 850px;
}

.width950 {
    width: 950px;
}

.left-box, .right-box {
    margin-top: 20px;
    width: 50%;
}

.clearboth {
    clear: both;
}

.left-box div, .right-box div {
    /*min-height: 30px;*/
    /*min-height: 20px;*/
    padding: 1px 2px 1px 0px;
    margin-left: 45px;
}

#basic_info_section {
    font-size: 11px;
    font-size: 13.5px;
    font-size: 12px;
}

.margin-top30 {
    /*margin-top: 10px;*/
    margin-top: 5px;
    margin-bottom: 15px;
}

.margin-left20 {
    width: 76%;
    /*margin-left: 20px;*/
}

.margin-left475 {
    margin-left: 475px;
}

.margin-left5 {
    margin-left: 5px;
}

.margin-right20 {
    margin-right: 20px;
}

table td {
    height: 10px !important;
    /*padding: 5px 5px 5px 10px;*/
    padding: 1px 2px 1px 10px;

}

.bold {
    font-weight: bold;
    color: #000 !important;
}

.extender {
    height: 1px;
    clear: both;
}

table {
    border-collapse: collapse;
}

.td-border-none td {
    border-bottom: none;
    border-top: none;
    /*color: #999999;*/
}

.td-border-top-none td {
    border-top: none;
    /*color: #999999;*/
}

.font-size-13 {
    /*font-size: 17px;*/
    font-size: 12px;
    font-size: 13px;
    /*font-size: 15px;*/
    /*font-size: 16px;*/
}

.label_part {
    /*color: #999999;*/
    clear: both;
}

:not(table) {
    /*font-size: 14px;*/
    /*font-size: 10px;*/
}

#overall-receipt-box {
    padding-bottom: 12px;
    border: 1px solid #999999;
}

.margin-set-default {
    margin: 0 auto;
}

.margin-set-left-right {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -10px;
}

.height50 {
    height: 50px;
}

.margin-header {
    margin-top: -50px !important;
    margin-bottom: 1px !important;
}

.border-right-none {
    border-right: none;
}

.logo {
    height: 70px;
    width: 110px;
    float: left;
    margin-left: 10px;
    margin-top: -10px;
}

.institution_address {
    font-size: 12px;
    padding: 6px 0px 0px 0px;
    line-height: 18px;
}

.header-content {
    float: left;
    font-size: 14px;
    padding: 5px 0px 0px 0px;
    /*width: 635px;*/
    width: calc(100% - 165px);
/ / 635 px;
    word-wrap: break-word;
    margin-left: 40px;
    /*margin-top: -15px;*/
}

.header-content p.institution_address {
    font-size: 12px;
    line-height: 18px;
    color: #000 !important;
    margin-top: 6px !important;
}

.recipt_name {
    float: left;
    width: 49%;
    margin-top: 2px;
}

.date_recipt {
    /*float: right;*/
    width: 47%;
    text-align: right;
    margin-top: 3px !important;
    font-size: 11px;
    font-size: 13.5px;
}

#pdf-header {
    /*width: 800px;*/
    padding-top: 0px;
    margin: 0 auto;
    overflow: hidden;
    /*margin-top: -2px;*/
    height: auto;
    /*min-height: 25px!important;*/
    /*max-height: 50px!important;*/
    margin-bottom: -20px;
    font-size: 10px !important;

}

.border-left-none {
    border-left: none;
}

.header-content p {

}

.header-content p {
    margin-top: 2px !important;
    /*height: 1px;*/
    color: #000;
}

.remarks {
    height: auto !important;
    word-wrap: break-word;
}

.break_page {
    page-break-before: auto;
    page-break-inside: avoid;
    border-collapse: collapse;
}

#page-yield {
    page-break-inside: auto;
    margin-top: 0px !important;
    font-size: 10px;
    font-size: 12px;
    font-size: 11px;
}

.margin-right5 {
    margin-right: 5px;
}

.amount-paid-left {
    float: left;
    /*width : 38%;*/
    /*width: 40%;*/
    width: 55%;
    font-size: 11px;
    /*font-size: 13.5px;*/
    font-size: 12px;
    /*margin-top: -4px;*/
    margin-left: 4px;
    /*font-weight: bold;*/
}

.amount-paid-right {
    /*width: 100%;*/
    /*width: 59%;*/
    width: 40%;
    float: right;
    text-align: right;
}

.top {
    /*min-width: 800px;*/
    width: 100%;
    margin: 0 auto;
    min-height: 20px;
    clear: both;
}

.top_pay {
    margin: 0 auto;
    min-height: 15px;
    display: inline-block;
    width: 100%;
    /*width: 800px;*/
}

.amount-adjust {
    margin-left: 110px !important;
}

.total_amount_title {
    width: 50%;
    margin-right: 30px !important;
    /*margin-left: 44% !important;*/
}

.total_amount {
    width: 50%;
}

.amount-paid-right .total_amount {
    padding-right: 10px;
}

.footer_part {
    margin: 0 auto;
    height: 70px;
    width: 100%;
}

/*pdf-footer{
    font-size: 10px;
}*/
#pdf-footer-second {
    /*font-size: 14px;*/
    font-size: 13px;
    /*float: right;*/
    margin-right: 30px;
    color: #999999;
    width: 100%;
    margin-top: 20px;
}

.amount-alignment-style {
    text-align: right;
    padding: 1px 12px 1px 10px;
}

.width100 {
    width: 100%;
}

.width100val {
    min-width: 80%;
    max-width: 80%;
}

.width100key {
    min-width: 13%;
    max-width: 13%;
}

.note_part {
    width: 70%;
    float: left;
    margin: 0 auto;
    font-size: 10px;
    /*font-size: 12px;*/
    color: black;
}

.signature_part {
    width: 20%;
    float: right;
    margin-top: 50px;
    font-weight: bold;
    color: #000 !important;
}

.main_section {
    font-size: 11px;
    font-size: 13.5px;
    font-size: 12px;
    font-weight: bold;
}

.amount_in_words {
    font-weight: bold;
}

tr:nth-child(2) td {
    padding-top: 4px;
}

tr:last-child td {
    padding-bottom: 4px;
}

tr:first-child td {
    padding-bottom: 4px;
    padding-top: 4px;
}

.top .title_top, .top .receipt_no, .top .date_top {
    width: 32% !important;
    padding: 1px 0px;
    font-weight: lighter;
    float: left;
    line-height: 24px;
}

.top .title_top {
    font-size: 12px;
    font-size: 15px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;
}

.top .receipt_no {
    text-align: center;
    font-size: 12px;
    font-size: 15px;
    font-size: 14px;
}

.top .date_top {
    text-align: right;
    font-size: 11px;
    font-size: 13.5px;
    font-size: 12px;
}

.value_part {
    white-space: nowrap;
}

.hor_line {
    float: none;
    clear: both;
}
.wallet-amount-paid-left {
    float: left;
    width: 100%;
    font-size: 11px;
    margin-left: 4px;
    padding-right: 10px;
}

.wallet-amount-paid-right {
    font-size: 11px;
    width: 100%;
    float: right;
    text-align: right;
    padding-right: 10px;
}