#page-yield
{
    float: left;
}
#listing{
    width: 100%;
    table-layout: fixed;
}
#user_docs_search_area{
    float: left;
}
.span-sub-heading{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 9px;
}
.searchbox{
    float: left;
    width: 500px;
}
.center_text{
    float: left;
}
#user_docs_search_area div.searchbox{
    padding-left: 140px;
    padding-bottom: 30px;
    width: auto;
}
.searchbox label {
    color: #555555;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0px 0 ;
    width: auto;
}
.searchbox input {
    background : #eee;
    float:right;
    border : 1px solid #c6c6c6;
    margin : 0px 0 0 10px;
    width : 216px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}
#searchbox input:focus,.searchbox input:focus{
    border:1px solid #9E0F15;
    background: none;
}
#userspecific_docs_area{
    width: 770px;
    float: left;
}
#searchbox input {
    background : #eee;
    float:right;
    border : 1px solid #c6c6c6;
    margin : 0px 0px 0 10px;
    width : 185px;
    height:22px;
    line-height: 22px;
    border-radius: 12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    padding: 4px 10px 0 10px;
}
#navigator{
    float: left;
    width: 190px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}
#navigator li{
    list-style: none;
    padding-top: 20px;
}
#navigator li a{
    color: black;
    text-decoration: none;
}
#navigator li a:hover {
    color: #9c0000;
}
.label-field-pair input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
#docs_pane{
    float: left;
    padding-top: 22px;
    width: 768px;
}
#docs_pane table{
    width: 768px;
    margin-left: 2px;
}
.tr-odd{
    background: #fff;
    text-align:center;
    padding:0px !important;
    /*    padding-left: 10px;*/
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
.tr-even{
    background: #f1f6ff;
    text-align:center;
    padding:0px !important;
    /*    padding-left: 10px;*/
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
td.col_1{
    padding: 5px 10px;
    width: 43px;
}
td.col_2{
    padding: 5px 10px;
    width: 431px;
}
td.col_3{
    padding: 5px 10px;
    width: 108px;
}
td.col_4{
    padding: 5px 10px;
    width: 76px;
    font-size: 13px;
    font-weight: normal;
}
td.col_4 p{
    float: left;
    margin: 0px;
    padding: 0px 5px;
}
.flash-warning-msg {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size:13px;
    font-weight:600;
    padding:8px;
    text-align:center;
    color:#5F5F5F;
    font-style:normal;
    width: 450px;
}
.flash-msg{
    margin: 0 10px;
}
.bread_crumb{
    float: left;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 0 !important;
}
#bread_crumb{
    margin-top: 10px;
    margin-left: 202px;
    float: left;
    font-size: small;
    width: 510px;
}
#bread_crumb a{
    font-size: small;
    float: left;
}
#brd_crumb
{
    margin-top: -15px !important;
}
.label-field-pair2 label, .label-field-pair3 label {
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
}
.label-field-pair2 label {
    width: 160px;
}
.label-field-pair3 label {
    width: 50px;
}
.label-field-pair2 input, .label-field-pair3 input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 5px 0 0 10px;
    padding: 5px;
    width: 205px;
}
.label-field-pair2 input[type="file"], .label-field-pair3 input[type="file"] {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 27px;
    margin: 5px 0 0 10px;
    padding: 5px;
    width: 205px;
}
.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 270px;
    margin-top: 30px;
    padding: 7px 10px;
}
.delete_button{
    font-size: 14px !important;
    cursor: pointer;
}
.themed_text_doc{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 15px;
    font-weight: bold;
}
.themed_text_doc a{

    cursor: pointer;
    margin-left: 20px;
    position: relative;
    text-decoration: none;
    top: 20px;
}
.breadcrumb{
    float: left;
    margin-right: 5px;
    margin-bottom : 20px;
}
iframe{
    border: 0px;
    width: 780px;
    margin-left: 10px;
}
.autocomplete-w1 .autocomplete{
    cursor: pointer;
    background-color: #FEFDF9;
    font-size: 13px;
    margin: 2px 0;
    border: 1px solid #e7e7e7;
    border-top: none;
    width: 200px !important;
    padding: 0.2em 0.8em;
    max-height: 300px !important;
    overflow: auto;
}
.autocomplete div.selected{
    background-color: #f8f1d1;
    color: #bb0000;
}
.paging_links{
    float: right;
}
.check_all_send{
    float: left;
    margin-left: 14px;
    margin-top: -30px;
    position: relative;
}
.pagination{
    margin-right: 40px;
}
.shared_docs{
    color: #444;
    font-weight: normal;
    font-size: 13px;
    float: right;
    margin: 0px;
    width: auto;
}
.col_icons{
    padding: 10px !important;
}
#loader{
    margin: 0px 0 0 3px;
    float: left;
}
.tab_loader{
    float: left;
    margin-left: 174px;
    position: absolute;
    top: 236px;
}
.loader_div{
        width: auto;
    height: auto;
    float: left;
    margin: 9px;
}
#search-form
{
    float: right;
    width: auto;
}
#search-area{
    float: right;
    margin-top: 10px;
}
.text-input-bg{
       background: transparent !important;
    min-height: 28px !important;
    min-width: 250px !important;
    float: left !important;
    margin-top: 8px !important;
    height: auto;
    width: auto;
}
