.no_entries{
    text-align: center;
}
.gray_table_list .main_head td {
  font-size: 13px !important;
}
#a_f_c {
  width: 70%;
}
.hor_line{
    width:100%;
    background: #ccc;
    height: 1px;
    float: left;
    margin-bottom: 10px;
}
.details {
    padding-bottom: 15px;
    display: inline-block;
}
.name {
    color: #000 !important;
    float: left;
    width: 220px;
    font-size: 14px;
    height: 2px;
    line-height: 20px;
}
.val {
    width: 750px;
    color: #000 !important;
    line-height: 20px !important;
    font-size: 14px;
    float: left;
}
.val span {
    margin-right: 12px;
    color: black;
}
.val-align {
    float: right;
    width: 730px;
    word-wrap: break-word;
}
.student-name-div {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
