.label-field-pair label {
    float: left;
    width: 100%;
    margin: 0 0 0 10px;
}

.label-field-pair {
    float: left;
    width: auto;
    height: auto;
    max-width: 300px;
}

.label-field-pair-1 {
    float: left;
    width: auto;
    height: auto;
    max-width: 300px;
}

.label-field-pair-1 label {
    float: left;
    width: 100%;
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0 0;
    float: left;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
}

.label-field-pair-1 input {
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 5px 0 0 0;
    padding: 5px;
    width: 205px;
}

.set_border {
    width: 2px;
    float: left;
    height: 55px;
    border-right: 1px solid #999;
    margin: 13px -43px;
}

.extender {
    height: 230px !important;
    clear: auto;
}

.no_records {
    border: .5px solid #cccc;
    height: auto;
    margin: 135px 0 0 0;
}

.label_field_a {
    float: left;
    padding-bottom: 10px;
}

.label_field_b {
    float: left;
    padding-bottom: 10px;
    width: 67%;
}

.label_field_c {
    float: left;
    padding-bottom: 10px;
}

.label_field_d {
    float: left;
    padding-bottom: 10px;
}

.left {
    float: left;
    width: 34%;
}

.right {
    float: left !important;
    width: 30%;
}
#wallet_report_section{
  margin-top: 150px;
}
