div.attr_pair{
    width: 100%;
    float: left;
    box-sizing:border-box;
    margin-bottom: 30px;
}
div.attr_pair div{
    float: left;
    padding: 5px;
    height: auto;
    color: #444;
    font-weight: normal !important;
}
div.attr_value{
    width: 65%;
    font-weight: bold;
    font-size: 14px;
}
div.attr_label{
    width: 250px;
    font-size: 14px;
}
h4.section-heading {
    color: #980000;
    border-bottom: 1px solid black;
    margin-top: 2px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

table.section{
    width: 100%;
    height: auto;
    float: left;
}
table.section-table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}
table.section-table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    font-size: 13px;
    border-collapse: collapse;
}
table.section-table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
}
table.section-table td {
    vertical-align: top;
    border-top: 1px solid #DDD;
}

h4.section-heading-question{
    width:100%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    font-weight: normal;
    color:#444444;
}

.available_sections{
}
.section{
    margin:0 auto;
    height:auto;
    width:100%;
    float:left;
}
.page {
    page-break-after: auto;
    page-break-inside: avoid;
    overflow: hidden;
    padding-top: 10px;
}

.page-break{
    float: left;
    width: 100%;
 }
 .section-fields {
     float:left;
     width:100%;
     box-sizing:border-box;
 }
 .label-value-pair{
     float:left;
     width:100%;
     box-sizing:border-box;
 }
 #photo-field{
    float:right;
    width: 150px;
    height: 195px;
    border: 2px solid #000;
}
#photo-field img{
    height:125px;
    width:125px;
}
.adjust-for-photo{
    width:80% !important;
}
.adjust-for-photo .attr_value{
    width:300px !important;
}
.desc-section{
    float:left;
    width:100%;
    box-sizing:border-box;
    font-size:14px;
    color:#666;
    margin-bottom:30px;
}
.student-info{
    float:left;
    width:100%;
    box-sizing:border-box;
    margin-bottom:15px;
}
.info-vertical-pair{
    float:left;
    margin-right:15px;
}
.info-vertical-pair-right{
    float:right;
    margin-right:15px;
}
.info-name{
    float:left;
    width:30%;
    color:#444;
    font-size:14px;
}
.info-value{
    float:left;
    width:70%;
    color:#444;
    font-weight:bold;
    font-size:14px;
}
.info-name-fee{
    float:left;
    width:50%;
    color:#444;
    font-size:14px;
}
.info-value-fee{
    float:left;
    width:50%;
    color:#444;
    font-weight:bold;
    font-size:14px;
}
#elective_checkbox{
    margin-right: 10px;
    padding: 8px;
    border: 2px solid #000;
    margin-top: 2px;
}
.label_for_style{
    margin-right: 5px;
}
.width_checkbox{
    width: 100%;
    word-break: break-all;
    margin-top: -10px;
}
.width_each_checkbox{
   width: 48%;
}
.width_each_checkbox_photo{
    width: 40%;
}

.margin_top_line{
    border-bottom-color: #444;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 10px;
}
.photo_text{
  float: left;
  color:#444;
  padding-top: 50%;
  padding-left: 26%;
}
.multiline_label{
    height:110px !important;
}
.each_fee_pair{
    width:100%;
    float:left;
}
.mandatory_asterisk{
    font-size: 14px;
    font-weight: bold;
}
h3.form-header-section-heading {
    color: #980000;
    border-bottom: 1px solid black;
    margin-top: 0px !important;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.float-right-suffix{
    float:right;
}