.main_head td {
    font-size: 13px !important;
    width: 570px;
}
.sl-col {
    width: 30px !important;
}
.top{
    margin: 33px 0px 0 0 !important;
}
div .group_actions{
    text-align: center;

}
.strike_through{
  text-decoration: line-through !important;
}
.delete_links{
  text-decoration: none !important;
}
.refresh-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -80px 1px;
    float: right;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-right: 5px;
    cursor:pointer;
}