/*
    Document   : add_photo
    Created on : 26 Nov, 2011, 12:58:15 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
input#photo_photo {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 23px;
    margin: 5px 0 10 0px;
    padding: 5px;
    width: 200px;
}
.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
#select-employee-department{
    padding-top: 3px
}
.label-field-pair label {
    color: #444444;
    font-size:  13px;
}
.label-field-pair1 {
    height: 40px;
    padding-top: 3px;
    width: 600px;
}
.label-field-pair1 label {
    color: #444444;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 10px;
    width: 150px;
}


.span-sub-heading {
    font-weight: bold;
    padding-top: 10px;
}
.label-underline {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #EEEEEE;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    height: 1px;
}
#page-yield1{
    padding-top: 20px;
    width: 450px;
}
.create-options{

}

.to-options{
    float:right;
    width:385px;
    margin: 8px 0 5px 0;
}

.to-options a{
    color:#9D0E00;
    font-weight:bold;
}
.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:right;
    width:250px;
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 10px 0px 0;
    padding:5px;
    width:205px;
}
.button {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 280px 0 0;
    padding:7px 12px;
    text-align:center;
    width:auto;
}
.scrolable{
    float:right;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 10px 15px 0;
    padding:7px;
    width:216px;
    overflow:auto;
    max-height:100px;
}
.scroll-inside{
    max-height:100px;
    overflow:auto;
}
.scroll-inside a.all {
    color:#444444;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
}
.scroll-inside a.individual{
    font-size:14px;
    text-decoration:none;
    color:#444444;
}
.scroll-inside .hover span{
    display: none;
}
.scroll-inside .hover:hover a{
    text-decoration:underline;
    color:#9f0c14;
}

.scroll-inside .hover:hover span{
    display:block;
    float:left;
    color:#444444;
    font-size:13px;
    padding-top:2px;
    padding-left:15px;
}
.hover{
    border-bottom:1px solid #dddddd;
}
#form{
    width:500px;
    float:right;
}
.message{
    width:400px;
    float:left;
    padding-right: 20px;
}
.label-field-pair textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.label-field-pair label{
    width:150px;
}
.label-field-pair input, .label-field-pair textarea{
    width:220px;
}
#left_field{
    width: 480px;
    float: right;
    border-left: 1px solid #C6C6C6;
}
.extender {
    clear:both;
    height:0px;
}
.text-input-bg select{
    width:233px !important;
}
#loader,#loader1{
    margin-left: 57px;
    float: left;
    margin-top: -32px;
}














div.flash_message_custom{
  display: none;
}

#popup_frame{
  border-radius: 5px;
}

div.MB_close_div {
    display: none !important;
}

.part {
  border-width: 0px !important;
}

h4{
  color:#333;
  font-size: 19px;
}

div.upper_panel{
  margin-top: 60px;
  margin-bottom: 30px;
}

div.add_photo_text{
  display: inline-block;
  vertical-align: top;
  width:450px;
  padding: 12px 0px 12px 0px;
  color:#333;
  font-size: 16px;
  font-weight: bold;
}
button.plain_button {
  color: #333;
  background-color: #ffffff;
  padding: 8px 20px 8px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

button.plain_button:hover{
  background-color: #f2f2f2;
}


div.cancel_button{
  display: inline-block;
  vertical-align: top;
  width:500px;
  float: left;
  text-align: left;
}

#description_mode{
  display: none;
}
#select_images{
  display: none;
  margin-left: 16px;
}
#upload_photos_button_top{
  display: none;
}
#upload_photos_button_bottom{
  margin-left: 16px;
}
div.line {
    height: 1px;
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.add_photo_box{
  width:975px;
  height:488px;
  background-color: #f4f4f4;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  position: relative;
  border-radius: 5px;
}

div.box_center{
  position: absolute;
  left:50%;
  top:50%;
  width:600px;
  height: 300px;
  transform: translate(-50%, -50%);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  color:#333;
  background-color: #ffffff;
  padding: 8px 20px 8px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  height: 36px;
  box-sizing: border-box;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
div.select_images{
  display: inline-block;
  vertical-align: top;
}
div.upload_image_icon{
  height: 100px;
  width: 200px;
  background-image: url(/stub_image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
}
div.drag_hover{
  border-color: #BEF2FF;
  box-shadow: 0px 0px 23px 7px rgba(188, 228, 255, 0.5);
}
div.upload_head{
  color: #828282;
  font-size: 18px;
  margin-top: 20px;
}

div.selected_images{
  padding-top: 40px;
}

div.preview_thumb{
  display: inline-block;
  vertical-align: top;
  width:380px;
  height:252px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #a2a2a2;
}
div.preview_description{
  width:400px;
  display: inline-block;
  vertical-align: top;
}
label.description_tag{
  color:#333;
  font-size:14px;

}
textarea.photo_description{
  margin-top: 20px;
}

.faded_text{
  color:#777;
  font-size: 12px;
}

div.image_preview{
}

.remove_photo_tag{
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  }

div.remove_photo{
  padding-top: 30px;
}

div.submit_controls{
  padding-top: 50px;
}
.solid_button{
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color:#ffffff;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  font-weight: bold;
  cursor:pointer;
  text-decoration: none;
  font-size: 14px;
  height: 36px;
  box-sizing: border-box;
}
#page-yield .solid_button:hover{
  background-color: #626262;
  color: #fff !important;
}

button.submit_button{
}

div.progress {
  width: 100%;
  background-color: #f4f4f4;
  height: 15px;
}

div.bar {
  width: 0%;
  height:100%;
  background-color: #2ECC71;

}

.upload_status{
  font-size: 13px;
  color: #777;
  padding-top: 20px;
}
