/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Sep, 2018, 5:46:17 PM
    Author     : nidhin
*/

#connect_form {
    width: 100%;
    float: left;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 20px;
}
.connect_container{
    display: flex;
    float: left;
}
.connect_table{
    flex: 1;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
td{
    padding: 10px;
    /*border-right: 1px solid #bfbfbf;*/
}
#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
table a, #page-yield table a:hover {
    color: black !important;
    text-decoration: none;
}
.linked_subject{
    font-style: italic;
}
.linked_subject:before{
    content: '-';
}
.inline-button{
    color: #bf0404 !important;
    text-decoration: underline;
}
.connect_container tr{
    line-height: 1.5;
}
.selected_tr{
    background: #d7f2ff;
}
tr.linkable:hover{
    background: #e9f9ff;
    cursor: pointer;
}
.submit-button{
    margin-left: 50px;
    text-decoration: none;
    border-radius: 2px;
}
.connect_button{
    display: none;
}
#loader{
    margin-left: 10px;
}
.empty_td{
    line-height: 50px;
    font-style: italic;
}
.cancel_button{
    margin-left: 20px;
}
.connectable {
    color: #9c9898;
}
.linkable{
    color: black;
}
.headers{
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
    font-size: 14px;
}
.connect_table table{
    float: left;
    width: 315px;
}
.desc{
    float: left;
    width: 100%;
    color: #999;
    font-size: 12px;
    margin-bottom: 30px
}
div.empty_td{
    border: 1px solid #bfbfbf;
    color: #757575;
    padding: 10px;
    line-height: 19px;
    width: auto;
}