.submit_button {
    margin-top:32px;
    margin-right: 280px;
    padding: 7px 14px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.send-all-sms-btn a{
    float: left;
    margin-bottom: 10px;
    margin-top: -26px;
    margin-right: 5px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
}
.send-sms-to-all-btn{
    float: left;
    margin-bottom: 10px;
    margin-top: -26px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
.list-table{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
.send-sms-button{
    float: left;
    margin: 1px;
    color: white;
    background-color: black;
    border: 1px solid #bfbfbf;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.table-style table{
    border: 1px solid black;
    text-align: center;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
    
}
th{
    text-align: center;
    
}
.box {
    width: 18%;
    margin: 73px auto;
}
.bread_crumb {
 margin-right: 10px;
}
/*.text-input-bg {
    background: transparent;
    height: 48px;
    width: 250px;
    float: left;
}
.label-field-pair {
    height: 40px;
    width: 600px;
    padding-top: 3px;
    margin-left: -203px;
}*/

/***************************************/
.next a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius:15px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:10px;
    margin-bottom:10px;
}
.header{
    width:520px;
    margin:0px auto;
    padding:4px 0 1px;
}



.student_list{
}
.header{
    list-style-type: none;
    font-weight: bold;
}
li.student_names, li.student_names a{
    text-decoration: none;
    /*    margin-top: 5px;*/
    color: black;
    width:100%;
    min-width:100%;
    display: block;
    padding: 2px 0 2px 0;
}
.student_list{
    list-style-type: none;
    clear : both;
    width: 200px;
    max-height: 400px;
    overflow-y: auto;
    font-size: 13px;
    padding: 0px;
    float: right;
}

.student_list a:hover{
    text-decoration: none;
    background-color:  #F1F6FF;
    width:100%;

}
.student_list a:active{
    text-decoration: none;
    /*    font-weight: bold;*/
}
.active-link{
    font-weight: bold;
    color: #C00 !important;
}
.student-name{
    height: 28px;
}
/*#grouped_exam_report{
        float: left;
    margin-left:  230px;
}*/
.previous_batch{
}
.current_batch{
    margin-right:230px;
}
.list_name{
    font-weight: bold;
}
table#listing td{
    font-size: 13px;
    font-weight: bold;
    padding-right: 5px;
}
table#listing tr.tr-head {
    color: #C00;
    font-size: 13px;
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: center;
}
table#listing td.tr-odd.col-4{
    padding-bottom: 6px;
    text-align: right;
    float: right;
    margin-right: 13px;
    margin-top: 5px;
}
.student{
    font-weight: bold;
    text-align: right !important;
    margin-right: 10px;
}
/************giving border and padding to outer div instead of table***************/
#score-table{
    background: #C3D9FF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px;
    overflow: auto;
/*    min-height: 500px !important;*/
    
} 


table#listing{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom_header{
    margin: 0 auto;
    padding: 5px;
    /*    text-align: center;*/
    background: #fff;
}
.student{
font-weight: bold;
text-align: right !important;
margin-right: 7px;
/* width: 30%; */
float: right;
margin-left: 30px;
font-size: 14px;
margin-top: 2px;
}


.roll_no, .admn_no{
    float: right;
/* width: 30%; */
font-size: 13px;
color: #666666;
margin-top: 2px;
margin-right: 10px;
margin-left: 10px;
}
.style1{
    width: 90px; height: 103px;
}
.style2{
    width: 179px; height: 16px;
}
.style3{
    width: 179px; height: 87px;
}
.style4{
    width: 242px; height: 1px;
}
.style5{
    width: 152px; height: 1px;
}
.style6{
    width: 243px; height: 1px;
}
.style7{
    width: 242px; height: 63px;
}
.style8{
    width: 243px; height: 63px;
}
.style9{
    width: 242px; height: 11px;
}
.style10{
    width: 242px; height: 46px;
}
.style11{
    width: 100%;
    float: right;
    margin-bottom: 8%;
    font-size: 90%;
}
.lable{
    color: #27292b;
}
.lab{
    color: #990a10;
}
table#listing .tr-odd {
    background: #fff;    
    padding: 68px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
}
.user_button {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-background-clip: border;
    -webkit-background-origin: padding;
    -webkit-background-size: auto auto;
    -webkit-border-radius: 10px;
    background-attachment: scroll;
    background-color: #27292B;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    text-decoration: none;
    margin-left: 0px !important;
}
.user_button1 {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-background-clip: border;
    -webkit-background-origin: padding;
    -webkit-background-size: auto auto;
    -webkit-border-radius: 10px;
    background-attachment: scroll;
    background-color: #27292B;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    text-decoration: none;
    margin-right: 430px;
}
.clr-change{
    color: #990a10;
}
.clr-chg-val{
    color: #27292b;
}
.tex-bol {
    font-weight:bold;
}
.left_align{
    text-align: right;
}
.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    background-color: #ffffff;
    border: 1px solid #C6C6C6;
    height: 138px;
    margin-right: 210px;
    margin-top: -32px;
    max-height: 141px;
    overflow: auto;
    width: 210px;
}
.absent_date{
    margin-top: 15px;
}
.sel-list {
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    background-color: #eeeeef;
    font-size: 13px;
    font-weight: bold;
    overflow: auto;
    padding: 4px;
    width: 100%;
}
.sel-list label {
    float: right;
    font-size: 13px;
    font-weight: bold !important;
    margin-right: 3px;
    margin-top: 3px;
    width: 150px;
}
.each_batch {
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    font-size: 13px;
    overflow: auto;
    padding: 4px;
    width: 100%;
}
.each_batch label{
    word-break: break-word;
    float: right;
    margin-top: 1px;
    margin-right: 3px;
    font-size: 13px;
    width: 150px;
}
.each_batch input,.sel-list input{
    float:right;
    margin-top:3px;
}

.alert_box {
    background: none repeat scroll 0 0 #FDFDCB;
    border: 1px solid #FFCC66;
    border-radius: 5px 5px 5px 5px;
    float: right;
    font-size: 13px;
    height: 38px;
    margin-right: 584px;
    margin-left: 40px;
    margin-top: -118px;
    padding: 20px;
    width: 308px;
}
/*************************************************************************************/
table.primary {
 border-collapse: collapse;
 width: 100%;
 font-size: 12px;
 margin-bottom: 50px;
}

table.primary th,table.primary td {
 padding: 8px;
 border-width: 1px;
 border-style: solid;
 border-color:#ddd;
}
table.primary th {
 color: #333;
 background-color: #ccc;
}
table.primary tr:nth-child(even){background-color: #f2f2f2}

th.links {
 width: 13%;
}
.pagination {
    margin-top: 20px !important;
    margin-left: 0px !important;
}
.pagination{
    min-width: 158px !important;
    height: auto !important;
    border: 1px solid #CCC !important;
    border-right: 0px !important;
    float: right !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.pagination a{
    color:#666 !important;
    cursor: pointer !important;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block !important;
    float: right !important;
    font-weight: normal !important;
    padding: 9px 15px 9px 13px !important;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block !important;
    float: right !important;
    padding: 9px 10px 9px 5px !important;
    font-size: 13px !important;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc !important;
}
.pagination .prev_page{
    display: block !important;
    float: right !important;
    padding: 9px 10px 9px 5px !important;
    font-size: 13px !important;
    border-left: 1px solid #CCC !important;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block !important;
    float: right !important;
    padding: 9px 15px 9px 13px !important;
    font-size: 13px !important;
    color:#fff !important;
    background-color: #666666 !important; 
    font-weight: normal !important;
}
.pagination .next_page{
    display: block !important;
    float: right !important;
    padding: 9px 10px 9px 5px !important;
    font-size: 13px !important;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block !important;
    float: right !important;
    border-right:1px solid #cccccc !important;
    color:#666 !important;
    padding: 9px !important;
    font-size: 13px !important;
}
.status{
    width: 100%;
    float: right;
}
.submit-button_div{
    margin-top: -35px;
    margin-bottom: 10px;
}
form{
    margin-bottom: 25px;
}
.label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}
.label1{
    font-size: 14px;
}
a.send-all-sms-btn:hover{
    text-decoration: none;
    color: white !important;
}
a:hover { 
  color: yellow !important;
}

.send-all-sms-btn a:hover{
     color: yellow !important;
}

#page-yield a:hover {
    color: #fff !important;
}
