<div class="notify">    
    <div class="popup-description">
        <%= t('alert_notify_description') %>
    </div>
    <div class="label-field-pair">
        <label>
            <input type="checkbox" name="notify" id="notify"/>
            <span><%=t('notify_swap')%></span>
        </label>    
    </div>
</div>