body
{
    font-family: Garamond, Times new Roman !important;
}
*:not(.exclude_font *)
{
    font-family: Garamond, Times new Roman !important;
}
input
{
    font-family: Garamond, Times new Roman !important;
}
textarea
{
    font-family: Garamond, Times new Roman !important;
}
select
{
    font-family: Garamond, Times new Roman !important;
}