#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
table#vehicle_listing{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
table#vehicle_listing td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table#vehicle_listing .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
table#vehicle_listing tr{
    border-bottom: 1px solid #bfbfbf;
}
table#vehicle_listing a, #page-yield table#vehicle_listing a:hover {
    color: black !important;
    text-decoration: none;
    margin-left: 20px;
}
td.vehicle_no{ width: 25%}
td.seats_no{ width: 20%}
td.available_seats{ width: 15%}
td.status{ width: 15%}
td.actions{ width: 15%}
.delete_confirmation#popup_window{
    width: 480px !important;
    top: 100px !important;
}
.delete_confirmation #popup_frame .part{
    width: 400px !important;
    padding-top: 20px !important;
}
.delete_confirmation #popup_content{
    padding-right: 40px !important;
    padding-left: 40px !important;
}
.delete_confirmation #popup_footer{
    border-top: none;
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.active_filter.label-field-pair{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.active_filter .text-input-bg{
    float: left;
}
.active_filter .text-input-bg select {
    margin-right: 0;
    -webkit-border-radius: .3em;
    width: 215px;
    float: left;
}
.active_filter #loader{
    float: left;
    margin-top: 10px;
}
.sub-head{font-weight: bold;}