<div class='assessment_plan_details'>
    <div class='plan_name align_left'>
        <div class='label'><%=t('exam_plan_name')%></div>
        <div class='value'><%= plan.name %></div>
    </div>
    
    <div class='academic_year_name align_right'>
        <div class='value'><%= plan.academic_year.name %></div>
        <div class='label'><%=t('academic_year_name')%></div>
    </div>
</div>