<label for="employee_total-experience"><%= t('import_from_ay') %></label>
<div class="text-input-bg">
    <%= select :import_planner, :import_from, options_for_select(@academic_years_from.map{|a| [a.name, a.id]}, @import.try(:import_from).try(:to_i) ),
      {:include_blank => t('select_an_academic_year')}, {:onchange => "#{remote_function(:url => {:action => "update_planner_form"},:with => "'academic_year_id='+value+'&import_to='+#{@import_to}",
      :before => "Element.show('loader2')",:success => "Element.hide('loader2')")}"} %>
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader2",
      :style =>"display: none;" ) 
    %>
</div>