<div class="banner_col"><span class="label"><%= "#{t('assessment_plan_text')} : "%></span><span class='value'><%= @assessment_term.assessment_plan.name %></span></div>
<div class="banner_col"><span class="label"><%= "#{t('exams_text')} : " %></span><span class='value'><%= @assessment_term.assessment_groups.count %></span></div>