<div id="collection_receipients_data">
      <div class="extender"></div>
      <ul class="tabrow">
        <li class="selected" type="list_planner"><%=link_to_remote "#{t('exam_year_plan')}",:url => { :action => "course_assessment_groups",:id=>@course.id,:academic_year_id=>@academic_year.id},:before=>"select_tab(this)",:complete=>"j('#tab_loader').hide();j('#right-panel').show();"%></li>
        <!--<li type="list_exam_groups"><%#=link_to_remote "#{t('exam_groups_text')}",:url => { :action => "list_course_exam_groups",:course_id=>@course.id, :academic_year_id=>@academic_year.id},:before=>"select_tab(this)",:complete=>"j('#tab_loader').hide();j('#right-panel').show();",:html => {:method => :get }%></li>-->
        <li style="width: 10px;"><%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "tab_loader", :style =>"display: none;" ) %></li>
      </ul>
      <div id="questions-main">
        <div id="right-panel">
          <%= render :partial => "list_course_plan_details" %>
        </div>
      </div>
</div>
<script type="text/javascript">
  function select_tab(e) {

    if (j(e).parent().hasClass( "selected" )){
      return false
    }else{
      j("li").removeClass("selected");
      j('#right-panel').hide();
      j('#tab_loader').show();
      j(e).parent().addClass("selected");
      j('#right-panel-loader').show();
      j('#right-panel-bottom').hide();
      return true;
    }
  }
</script>
