.link-box {
    float:left;
    height:80px;
    margin:10px 40px;
    width:305px;
}
.link-heading a {
    color:#990000;
    font-weight:bold;
}

.sel-list {
    margin-bottom:2px;
    width:120px;
}

.box{
    width:785px;
    margin:0px auto;
}

.link-descr {
    color:#666666;
    font-size:14px;
    margin-top:5px;
    text-align:justify;
}
table#listing1 td a{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 0px 0px 0px 25px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
}
table#listing1 td a:hover{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 0px 0px 0px 25px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
}

