<div id="pdf_nav">
    <div class="prev-btn-container">
        <button id="prev" class="pdf-nav-btn">Previous</button>
    </div>
    <div class="page-num-container">
        <span class="page-num-span">Page: <span id="page_num"></span> / <span id="page_count"></span></span>
    </div>
    <div class="next-btn-container">
        <button id="next" class="pdf-nav-btn">Next</button>
    </div>
</div>

<canvas id="planner-canvas" dir="ltr"></canvas>