<% if attendance.present? %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1" class="coscholastic_area_table attendance_table">
      <% attendance.each do |row| %>
        <tr>
            <% row.each do |cell| %>
              <td><%= cell %></td>
            <% end %>
        </tr>
      <% end %>
  </table>
<% end %>