development:
  bucket : 'assets bucket name'
  access_url : 'access url for bucket'
test:
  bucket : 'assets bucket name'
  access_url : 'access url for bucket'
production:
  bucket : 'assets bucket name'
  access_url : 'access url for bucket'