#page-yield{
    font-weight: normal;
}
.label-radio-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0px 0 0;
    width:980px;
    float: right;
    font-size: 13px;
}
.status{
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}
#radio-buttons{
    margin:0;
    float: right;
}
#radio-buttons input{
    float: right;
}
#radio-buttons label{
    float: right;
    width: 60px;
    padding-top: 3px;
}
.label-checkbox {
    float:right;
    height:50px;
    margin-right:208px;
    width:250px;
}
#payroll_category_desc{
    font-size: 13px;
    color: grey;
    margin-bottom: 40px;
}
.category_attr_description{
    background-color: #F0F0F0;
    padding: 10px;
    width: 485px;
}
.category_section .label-field-pair{
    width: 980px;
    float: right;
}
.description{
    font-size: 13px;
    float: right;
    padding-top: 10px;
    color: #666;
}
#formula_desc{
    margin-bottom: 20px;
}
.height{
    height: 150px;
}
h3
{
    font-size: 17px;
    color: #444;
}
.label-field-pair label, .label-radio-pair label{
    font-weight: normal;
    font-size: 13px;
}
#payroll_category_code { 
    width: 100px !important;
    text-transform: uppercase;
}
.cat-code , .cat-code .text-input-bg{ height: 70px; }
.cat-code .text-input-bg #warn{
    font-size: 13px;
    margin: 10px;
    color: #666;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
.category_section, .formula_section
{
    float: right;
    width: 980px;
}
.formula_section .label-field-pair{
    float: right;
}
.submit-button{
    margin: 20px 0 0 40px;
    font-size: 13px;
}
a.submit-button, #page-yield a.submit-button:hover{
    color: white !important;
    text-decoration: none;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;
}
.error-msg{
    float: left;
    color: red;
    font-size: 12px;
    width: 205px;
    height: 27px;
    margin-left: 25px;
    margin-top: -8px;
}

.category_section .label-field-pair, #value_type , #numeric_field {
    min-height:60px;
    max-height: 80px;
}
.wrapper{
    margin-top: -23px;
    margin-right: 10px;
    float: right;
    width: 100%;
}
#tags_warn{
    display: none;
}
.fieldWithErrors #payroll_category_hr_formula_attributes_value_type{
    margin-top: -22px;
    float: right;
}
#rounding-type{
    float: right;
    margin-top: 33px;
    margin-bottom: 10px;
}
#enable-round-off{
    float:right;
}
.formula_fields .wrapper{
    margin-top:0px;
}
.fieldWithErrors #payroll_category_name, .fieldWithErrors #payroll_category_code {
    margin-top: -22px;
    float: right;
    
}
#numeric_field  .wrapper{
    margin-top:0px;
}
#numeric_field .error-msg{
    float: left;
    margin-left: -26px;
    font-size: 12px;
    width: 105%;
    margin-top: -19px;
}
#numeric_field input{
    margin-left:0px;
}
@-moz-document url-prefix() {
    .wrapper{
        margin-top:0px;
    }
    #payroll_category_hr_formula_attributes_default_value{
        margin-right:0px;
    }
}