.label-field-pair {
    min-height: 40px;
    height:auto;
    width: 100%;
    padding-top: 3px;
    float: left;
    margin-bottom: 15px;
}
.label-field-pair label{
    font-weight: normal;
    font-size: 13px;
}
span.span-sub-heading{
    margin-top: 30px;
    float: left;
    margin-bottom: 30px;
    width:210px;
    font-size: 15px;
    font-weight: bold
}
.label-field-pair input{
    width:120px;
}
#loader{
    margin-top:10px;
}
#submit-button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
    margin-top:30px;
}
#submit_button:hover{
    background:  #373B3F;
}
.page_informer{
    float: left;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    color: #444;
    margin-bottom: 20px;
}
.flash-msg{
    float:left;
    font-size: 13px;
    margin-top:20px;
    width:100%;
}