/* Finance fee account module : fee account index */
/*.receipt_sets-icon{
    background-position: 0px -279px !important;
}*/
#inner-tab-menu ul{
    margin-top: 33px !important;
}
/* copied */
.actions a, #page-yield .actions a:hover, #page-yield .actions a:hover{
    color: black !important;
}

#page-yield .pagination a:hover {
    color: #333 !important;
}

.header{
    font-weight: bold;
    font-size: 16px;
    color: #444;
}

.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
    color: #A5A5A5;
}

/** fee accounts table **/
.td-name{
    width: 30%;
}
.td-description{
    width: 50%;
}
.td-actions{
    width: 20%;
    white-space: nowrap;
}
.td-actions a{
    margin-right: 10px;
}
.td-actions a:last-child {
    margin-right: 0px;
}
.small-strike {
    color: #666;
    margin-right: 10px;
    text-decoration: line-through;
}
/** fee account create/edit form **/
#popup_window.receipt_set_form{
    width: 670px;
    width: 645px;
    top: 40px;
    float: left;
}
#popup_window.receipt_set_form #popup_frame .part {
    width: 565px;
}
#popup_window.receipt_set_form #popup_content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 670px !important;
    width: 645px !important;    
    border-bottom: 0px !important;
}
#popup_window.receipt_set_form #popup_footer {
    padding-left: 40px;
    padding-right: 40px;
    /*border-top: 1px solid #c6c6c6;*/
    float: left;
    width: 580px;
    width: 565px;
    padding-top: 20px;
}
.part #popup_footer {
    border-top: 1px solid #c6c6c6;
}
#receipt_set_form {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    width: 590px;
    width: 565px;
}

#description {
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
    margin-top: 0px;
}
#popup_window.receipt_set_form #popup_content p{
    padding: 0px 40px;
    width: 580px;
}
#popup_window.receipt_set_form #popup_content .label-field-pair {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 0px;
}
#popup_window.receipt_set_form #popup_content .label-field-pair:last-child {
    height: 72px;
    margin-bottom: 0px;
}
#popup_window.receipt_set_form #popup_content .label-field-pair label {
    /*width: 100%;*/
    width: 150px;
    margin-bottom: 10px;
}
#popup_window.receipt_set_form #popup_content .text-input-bg input {
    margin-left: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_window.receipt_set_form #popup_content .text-input-bg textarea {
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_window.receipt_set_form #popup_content .error-msg {
    width: 231px;
}
.wrapper {
    margin-top: 5px;
    margin-left: 0 !important;
    min-width: 300px !important;
}
/** popup validation errors **/
#popup_window.receipt_set_form .text-input-bg {
    width: calc(100% - 150px);
}
#popup_window.receipt_set_form .fieldWithErrors .wrapper {
    width: 100%;
}
#popup_window.receipt_set_form #popup_content .error-msg {
    width: 231px;
    width: calc(100% - 27px);
}
/** delete confirmation popup **/
#popup_window.remove_lt {
    width: 500px;
}
#popup_window.remove_lt .part {
    width: 420px;
}
#popup_window.remove_lt #popup_content, 
#popup_window.remove_lt #popup_content p {
    width: 420px !important;
}