<div class="label-field-pair">
    <label  class ="general_sub_label" for="configuration_currency_type">Default DI Count</label>
    <div class="text-input-bg">
        <%= text_field :observation_remarks, :di_count, :value => @di_count %>
    </div>
</div>