#department_select {
    float: right;
    width: 25%;
}
.department-select-margin{
    margin-right: 55px;
}
.label-field-pair label{
    float: none;
    font-size: 13px;
    color: #444;
    font-weight: normal;
}
.text-input-bg select{
    margin: 5px 0px 0 0;
    height: 29px;
}
.label-field-pair input{
    margin: 5px 0px 0 0;
}
.calender-select-width{
    width: 125px !important;
}
#submit_button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px auto;
    float: right;
    margin-top: 32px;
    /* margin-right: 210px; */
    padding: 7px 12px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
}
hr {
    float: right;
    width: 100%;
    color: #cccccc;
    margin-top: 30px;
    /* margin-bottom: 20px; */
}
.error-msg{
    color: red;
    font-size: 13px;
    /* font-style: italic; */
    width: 14%;
    float: right;
    /* padding: 10px; */
    margin-right: 300px;
    margin-top: 5px;
}
#report{
    float: right;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 30px;
}
#report table{
    border-collapse: collapse;
    width: 100%;
    float: right;
}
.left-table{
    float: right;
    width: 980px;
    
}


.dept-name{
    background: #ddd;
}

.employee_name{
    overflow: hidden;
  text-overflow: ellipsis;
}

#leave_balance_report{
    float: right;
    margin-top: 30px;
}

#report table td, #report table th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 10px;
    font-size: 13px;
    width: 20%;
}
.status{
    width: 100%;
    float: right;
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.header-row{
    background: #f0f0f0;;
}
/*.cell-table td, .cell-table th{
    border: 0px !important;
}*/
.table-cell{
    padding:0px !important;
}
.left-inner-cell{
    border-bottom: 0px !important;
    border-right: 0px !important;
    width: 70% !important;
    padding: 4px !important;
}
.right-inner-cell{
    border-left: 0px !important;
    border-bottom: 0px !important;
    width: 30% !important;
}
.left-inner-cell-first{
    border-bottom: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    width: 70% !important;
    padding: 4px !important;
}
.right-inner-cell-first{
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-top: 0px !important;
    width: 30% !important;
}
.my-leaves-link{
    text-decoration: none;
    color: #000;
}
#page-yield .my-leaves-link:hover{
    color: #000 !important;
}
#loader{
    margin-top: 40px;
    margin-right: 5px;
}
.employee-name-table-cell{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.each-employee-row{
    border-bottom: 2px solid #dddddd !important;
}
.right-inner-cell{
    display: inline-block;
    width: 44px !important;
    border-right: 0px !important;
}
.right-inner-cell-first{
    display: inline-block;
    width: 44px !important;
    border-right: 0px !important;
}
