

#submit-button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-top: 25px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
    float: right;
    margin-right: 200px;
}



.text-input-bg{
    width: 260px;
}


#button{
    width: 100%;
    float: right;
    position: relative;
}

.description{
    font-size: 13px;
    color: grey;
    margin-bottom: 30px;
    margin-top: 15px;
}

.label-field-pair{
    width: 100% !important;
    min-height: 40px;
    float: right !important;
    height: auto !important;
}

 .label-field-pair label{
    color: grey;
    font-weight: normal;
    font-size: 13px;
}

 .text-input-bg{
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}



.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:right;
    width:250px;
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    /* margin:5px 0 0px 10px; */
    padding:5px;
    width:205px;
}

.label-field-pair input{
    margin-right: 0px;
}
.sub-header{
    text-transform: none !important;
}

.error-msg{
    color: red;
    font-size: 13px;

    font-weight: normal;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;

}
.wrapper {
    margin-top: 5px;
    float: right;
    width: 100%;
    line-height: 12px;
}
.text-input-bg span {
     margin-right: 0px;
}
.reset-leave-hint-label{
    width: 200px;
    float: right;
}
.width100{
    width: 100%;
}
.reset-date-hint{
    width: 91% !important;
    padding-top: 35px !important;
    text-align: justify;
    text-justify: inter-word;
}
.margin-top-10{
 margin-top: 10px !important;   
}
  .leave-type-checkboxes {
    -moz-background-inline-policy: continuous;
    -webkit-background-inline-policy: continuous;
    /*    background: none repeat scroll 0 0 #EEEEEE;*/
    border: 1px solid #C6C6C6;
    max-height: 200px;
    overflow: auto;
    width: 300px;
    height: auto !important;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sel-types label {
    float: right;
    font-size: 13px;
    font-weight: bold !important;
    margin-right: 5px;
    margin-top: 2px;
    width: 240px;
    padding-top:0px;
}
.each-type input, .sel-types input {
    float: right;
    height: auto;
    margin-top: 3px;
    padding: 0;
    width: auto;
}
.sel-types{
    background-color:#eeeeee;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    float: right;
    font-size: 13px;
    padding: 4px;
    width: 100%;
}
.each-type {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    font-size: 12px;
    overflow: auto;
    padding: 4px;
    width: 100%;
}
.each-type label {
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin-right: 5px;
    margin-top: -40px;
    width: 240px;
    padding-top:0px;
}
.special_prop{
    font-size: 13px !important;
    font-weight: normal !important;
}
.no_margin_top{
    margin-top:2px !important;
}
.error-font-size{
    font-size: 13px;
}