.select-box-container{
    float: right;
    width: 100%;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #cccccc;
}
.each-select-box-container{
    float: right;
    width: 25%;
    margin: 20px 0 0 0;
}
.select-box-label{
    float: right;
    width: 100%;
    font-size: 14px;
    color: #444;
}
.each-select-box-container select{
    float: right;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0px 0 0;
    width: 90%;
    height: 27px;
    padding: 3px 6px;
}
.table-container{
    float: right;
    width: 100%;
    margin-top: 20px;
}
.listing-table{
    float: right;
    width: 100%;
}
.no-content-label{
    float: right;
    width: 100%;
    font-size: 14px;
    color: #000;
    margin: 5px 0 0 0;
}
.textfield-date{
    float: right;
    width: 100%;
    margin: 20px 0 0 0;
}
.label-field-container{
    float:right;
    width: 25%;
}
.label-field-container label{
    float: right;
    width: 100%;
    font-size: 14px;
    color: #444;
}
.label-field-container .text-field{
    float: right;
    width: 85% !important;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 20px;
    padding: 3px 6px;
    margin: 6px 0 0 0;
    top: 0px !important;
}
.label-field-container #remark_date{
    /*    float: left;
        width: 85% !important;*/
    background-color: #eee;
    border: 1px solid #c6c6c6;
    /*    width: 90%;
        height: 20px;
        padding: 3px 6px;
        margin: 4px 0 0 0;
        top: 0px !important;*/
}
.label-field-container .text-field:focus{
    background-color: #fff;
    border: 1px solid #000 !important;
}
.label-field-container #remark_date:focus{
    background-color: #fff;
    border: 1px solid #000 !important;
}
.remark-set-description{
    float: right;
    width: 50%;
    font-size: 14px;
    color: #444;
    margin: 21px 0 0 0;
}

.remark-set-description span{
    float: right;
    width: 95%;
    padding: 0 10px 0 10px;
}

.right{
    float: left !important;
}
.subject-label{
    float: right;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #27292b !important;
    margin: 5px 0 0 0;
}
#student_list table {
    float: right;
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    border: 1px solid #bfbfbf;
    color: #27292b;
}

#student_list table, #student_list th, #student_list td {
    padding: 10px;
}
#student_list table th{
    background-color: #f0f0f0;
}
.col-with-border{
    border: 1px solid #bfbfbf;
}
.col-1{
    width: 5%;
    text-align: center;
}
.col-2{
    text-align: right;
    width: 20%;
    border-top: 1px solid #bfbfbf;
}
.col-3{
    text-align: right;
    width: 40%;
    border-top: 1px solid #bfbfbf;
}
.col-4{
    width: 30%;
    border-top: 1px solid #bfbfbf;
}
.remark-body {
    height: 80px;
    color: #000;
    padding: 5px;
    resize: none;
    border: 1px solid #c6c6c6;
    background: #f3f3f3;
    width: 23em;
    float: right;
}
.remark-body:focus {
    background: #fff;
    border: 1px solid #000;
}
.reset-link{
    float: right;
    width: 15%;
    text-decoration: underline;
}
.reset-link:hover{
    cursor: pointer;
}
.add-from{
    float: right;
    width: 75%;
    text-decoration: underline;
    margin: 0 20px 0 0;
}
.add-from:hover{
    cursor: pointer;
}
.submit-button{
    margin: 31px 5px 0 0 !important; 
}
.sub-button-new{
    background-color: #fff !important;
    border: 0px #fff !important;
    text-decoration: underline !important;
    outline: #ffff !important;
    cursor: pointer;
    color: #27292b;
}

.flash-container{
    float: right;
    width: 100%;
    margin: 20px 0 0 0;
}

.loader_style{
    margin: 10px 2px 0 0;
}

.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination .prev_page {
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

.pagination .disabled {
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    border-right: 1px solid #ccc;
}

.pagination .current {
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color: #fff !important;
    background-color: #666666;
    font-weight: normal;
}

.pagination .next_page {
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

.pagination a {
    color: #666;
    cursor: pointer;
    border: none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}

/* Modal Box Style Starts */

#remark-bank-app{
    float: right;
    width: 100%;
}
#remark-bank-app .left-pane{
    float: right;
    width: 50%;
}
#remark-bank-app .right-pane{
    float: right;
    width: 50%;
}
#remark-bank-app .left-pane .label-select-conatiner{
    float: right;
    width: 100%;
}
#remark-bank-app .left-pane .label-select-conatiner .select-label{
    float: right;
    width: auto;
    margin: 7px 0 0 10px;
    font-size: 13px;
    font-weight: bold;
}
#remark-bank-app .left-pane .label-select-conatiner .select-box{
    float: right;
    width: 60%;
}
#remark-bank-app .left-pane .label-select-conatiner .select-box select{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 27px;
    padding: 5px;
}
#popup_window{
    right: 265px !important;
    width: 820px !important;
}
#popup_frame .part{
    width: 740px !important;
}
#remark-templates{
    margin: 20px 0 0 0;
    float: right;
    width: 100%;
}
.each-remark-template{
    float: right;
    width: 90%;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    padding: 10px;
}
.each-remark-template .rt-checkbox{
    float: right;
    width: 5%;
}
.each-remark-template .rt-name{
    float: right;
    width: 95%;
    font-size: 13px;
    margin: 2px 0px 0 0;
}
.each-remark-template .rt-name label{
    margin: 0px 10px 0 0;
}
.right-pane #app{
    float: right;
    width: 100%;
}
#app .remark-preview-head{
    float: right;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 6px 0 25px 0;
}
#app .template-preview-container{
    float: right;
    width: 100%;
    background-color: #eee;
}
#app .template-preview-container .template-preview-sub-container{
    float: right;
    width: 92%;
    padding: 0px 15px 0px 15px;
}

#app .template-preview-container .template-preview-sub-container .each-template-preview{
    float: right;
    width: 100%;
    font-size: 13px;
    margin: 10px 0 10px 0;
}
.footer-sub-button{
    border: 0px #fff !important;
    outline: #ffff !important;
    cursor: pointer !important;
    margin: 0 0 0 0 !important; 
}
.footer-cancel-button{
    margin-right: 15px !important;
}

/* Modal Box Style Ends */
