div.r{
    float: right;
    margin-right: 553px;
}

#show_report
{
    margin-top: 150px;

}
table#listing {
 padding: 20px 20px 20px !important; 
    width:100% !important;
}
.detail{
    color: #000;
    font-weight: bold;
    text-align: left;
    padding-bottom: 35px; 
   }
.detail1{
    float:left;

}
.detail2{
    float:right;
    
}
.content1
{
    padding-left: 100px;
    height: 100px;

}
#button11{
    float:right;
    position: relative;
    left: 20px;
}
div.some
{
    overflow-x: auto;
    width:100%;
  //  background: #c3d9ff;
    border-radius: 10px;

}
/*table#listing .over{

    padding:0px;
    background: #fff;

}*/
.cent{
    text-align: center;
}
/*
table#listing tr.tr-head{
    color:#000 !important;
}
table#listing .tr-head td {
    white-space: nowrap !important;
}
table#listing .tr-odd .pad
{
    padding: 5px !important;
    padding-left: 10px !important;
}*/
p.qwerty{
    display: none;
}
/*table#listing .tr-even .pad{
     padding: 5px !important;
    padding-left: 10px !important;
}*/
.load
{
        position: relative;
    left: 120px;
    bottom:20px;
    display:none;
}


#custom_attendance_table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 10px 0;
    width:100%;
}
#custom_attendance_table   td{
    padding: 10px; 
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    //  font-size: 13px;
    width: 10%;
}
#custom_attendance_table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
    font-size: 13px;
}
#custom_attendance_table tr{
    border-bottom: 1px solid #bfbfbf;
    font-weight: 100;
}