
.label-field-pair label
{
    font-size: 13px;
    width: auto;
    max-width: 200px;
    padding-top: 0px;
}
.day_wise_new .label-field-pair label
{
    font-size: 13px;
    width: auto;
    max-width: 200px;
    padding-top: 0px;
}
.day_wise_new .label-field-pair
{
    float: left;
    margin-bottom: 20px;
    width: 28%;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 84px;
    float: left;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 0px;
    width: 135px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.label-field-pair{
    float: left;
    margin-bottom: 20px;
    max-width: 350px;
    min-width: 300px;
}
.label-field-pair input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 4px 4px 0px;
    width: 110px;
    height: 15px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
}
.change_date_link{
    float: left;
    max-width: 120px;
    min-width: 83px;
    height: 19px;
    margin: -2px 0px 1px 3px;
    padding-bottom: 2px;
}
.text-input-bg3 {
    background: transparent;
    height: 28px;
    width: 84px;
    float: left;
}
.text-input-bg3 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 0px;
    width: 116px;
    height: 27px;
    padding: 3px 6px;
    font-size:13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.label-field-pair3{
    float: left;
    margin: 3px 0px 0px 0px;
    width: 116px;
}
.label-field-pair3 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 4px 4px 0px;
    width: 110px;
    height: 15px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
}
.date_change{
    height: 52px;
    max-width: 350px;
    margin: 0px;
    min-width: 300px;
    float: left;
}








.label-field-pair1{
    float: left;
    margin-bottom: 20px;
    width: 32%;
    margin: 22px 0px 0px 0px;
}
.label-field-pair1 label{
    font-size: 13px;
    width: auto;
    max-width: 200px;
    padding-top: 0px;
}
.day_wise_new .text-input-bg {
    background: transparent;
    height: 28px;
    width: 130px;
    float: left;
}
.day_wise_new .text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 115px;
    height: 27px;
    padding: 3px 6px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#attendance-count{
    float: right; 
    color: #444;
    width: 300px;
}

#strength-label
{
    font-size: 13px;
    float: right;
    margin-top: 4px;
    font-weight: 600;
}
#present-count{
    font-weight: bold;
    font-size: 14px;
    float: left;
    margin: 3px 0 0 7px;
}
#students-count{
    font-weight: bold;
    float: left;
    margin: 5px 0 0 3px;
    font-size: 12px;
}
#date_label{
    margin: 0px 12px 0 4px;
    font-weight: bold;
}

.day_wise_new{
    width: 545px;
    float: right;
    margin: -32px 0px 0px 0px;
}
.calendar_date_select_popup_icon
{
    float: left;
    margin-right: 10px;
}
#page-yield a.batch_link
{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
#page-yield a.themed_text{
    text-decoration: none;
    font-size: 14px;
}
.text-input-bg select{
    margin-top: 0px;
}
.flash-msg{
    float: left;
    width: 980px;
}
#loader_date{
    margin-left: 10px;
}
#loader1{
    margin: -49px 0px 0px 120px
}
#loader2{
    float: right;
    margin: -22px -55px 5px 18px;
}

#count{
    float: right;
}
.user_button{
    margin-left: 394px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.label-field-pair img.calendar_date_select_popup_icon{
    margin-top: 0px !important;
    margin-right: 0px;
}


#custom_attendance_table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px 0;
}
#custom_attendance_table   td{
    padding: 10px; 
    border-right: 1px solid #bfbfbf;
}
#custom_attendance_table .serial_no{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    width: 5.2%;
}
#custom_attendance_table .courses_batch{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    width: 30%;
}
#custom_attendance_table .total_absentee{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    text-align: center;
    width: 5%;
}
#custom_attendance_table .late{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    font-size: 13px;
    text-align: center;
    width: 20%;
}
#custom_attendance_table .serial_no_late{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    width: 3.7%;
}
#custom_attendance_table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
    font-size: 13px;
}
#custom_attendance_table .course_name{
    font-weight: bold;
    background-color: #f0f0f0;
    color: black !important;
    font-size: 13px;
}

#custom_attendance_table .sr_n{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
    font-size: 13px;
}
#custom_attendance_table .late_count{
    width: 5%; 
    text-align: center;
}

#custom_attendance_table .absent_count{
    width: 5%;
    text-align: center;
}

#custom_attendance_table .absent_total{

    text-align: center;
}

#custom_attendance_table tr{
    border-bottom: 1px solid #bfbfbf;
}
.type_filter {
    float: left;
    max-width: 321px;
    border-left: 1px solid gray;
    margin: -11px 0px 13px 2px;
    padding: 0px 0px 23px 26px;
}

.filter_title{
    float: left;
    margin-top: 14px;
    margin-right: 15px;

}
.filter_option1{
    width: 109px;
    float: left;
    margin: 14px 5px 1px 0px;
    font-size: 14px;
}
.filter_option2{
    min-width: 87px;
    float: left;
    max-width: 130px;
    margin: 13px 8px 2px 11px;
    font-size: 14px;
}
.hr-line{
    width: 980px;
    float: left;
    border-top: 1px solid lightgray;
    margin-bottom: 30px;
}
.course_filter{
    float: left;
    min-width: 254px;
    max-width: 265px;
    height: 30px;
    margin: -9px 0px 3px 10px;
}

.absent_stduents_td{
    max-width: 200px;
    min-width:100px;
}

.summary{
    margin: 10px 0;
}

.summary_section{
    font-size: 14px;
}
.total_students{
    float: left;
    width: 100px;
    font-weight: bold;
}
.present_students{
    float: left;
    width: 106px;
}
.late_students{
    float: left;
    width: 77px;
}
.absent_students{

}
.pagination {
    float: right;
    position: relative;
    margin-top: 7px;
    margin-right: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
}

.pagination .disabled {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    border-left: 1px solid #ccc;
}
.pagination .current {
    color: #990a10;
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color: #fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination a {
    color: #666;
    cursor: pointer;
    border: none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;  
}
.pagination .prev_page {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination a.prev_page, .pagination a.next_page {
    color: #27292b;
    font-weight: bold;
    text-transform: lowercase;
    background: none;
    text-decoration: underline;
    border: none;
}
.pagination .next_page {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
tr.course_name{

}