.blank{
    margin:10px;
    height: 10px;
}
.label-field-pair1 {
    height : 40px;
    width : 320px;
    padding-top: 3px;
    float:right;
}
.text-input-bg1 {
    background : transparent;
    width : 96px;
    float:left;
}
.text-input-bg4{
    background : transparent;
    width : 64px;
    float:left;
}
.text-input-bg2 {
    background : transparent;
    width : 134px;
    float:left;
}
.text-input-bg3 {
    background : transparent;
    width : 120px;
    float:left;
}
.label-field-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0px;
    float:left;
    padding-top: 10px;
    font-weight: 600;
    min-width: 225px;
    max-width: 230px;
}
.label-field-pair{
    width: 110px;
}
#report .label-field-pair1 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 10px 0;
    float: left;
    min-width: 152px;
    max-width: 160px;
    padding-top: 10px;
    font-weight: 600;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 0px;
    width: 125px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.batch_select{
    width: 127px;
    float: left;
    margin: 1px 20px 5px 0px;
}
.custom_month{
    width: 135px;
    float: left;
    margin: 1px 20px 5px 0px;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 86px;
    float: left;
}
.label-field-pair input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 4px 4px 0px;
    width: 110px;
    height: 15px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
}
.month_button{
    float: left;
    margin-top: 4px;
    margin: 4px 20px 3px 6px;
    margin-left: 10px;
}
.custom_button{
    float: left;
    margin-top: 4px;
    margin: 4px 20px 3px 6px;
    margin-left: 10px;
}
.mode_select{
    width: 258px;
    float: left;
    margin: 1px 0px 5px 0px;
}
.mode_options{}
.custom_date img.calendar_date_select_popup_icon {
    margin-left: 131px !important; 
    margin: 2px -16px 3px 131px;
    padding: 0px !important;
    position: relative !important; 
    margin-top: -28px !important;
    float: left !important;   
}
.month_option{
    float:left;
}
.custom_option{
    float:left;
}
.overall_option{
    float:left;
}
.mode_option_1{
    float:left;
}
.mode_option_2{
    float:left;
}
.mode_option_3{}
.overall_button{
    float: left;
    margin-top: 4px;
    margin: 4px 20px 3px 6px;
    margin-left: 10px;
}
.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    width:60px;
    padding-top: 10px;
    font-weight: 600;
}
.label-field-pair1 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 56px 0 10px;
    width: 30px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px 0px 5px 12px;
}
.text-input-bg1 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 72px;
    padding: 3px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.submit_button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
    border:none;
    cursor:pointer;
    float: right;
    margin-right:100px;
    margin-top:5px;
}
.submit_button:hover{
    background: #373b3f;
}
.text-input-bg2 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 130px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.text-input-bg3 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 80px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.label-field-pair2{
    font-variant:small-caps;
    font-weight:bold;
    padding:5px;
    text-align:center;
}
.submit_button2 {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
    border:none;
    cursor:pointer;
    float: left;
    margin-left:400px;
    margin-top:10px;
}
.submit_button2:hover{
    background: #373b3f;
}
#report{
    text-align: center;
    font-weight: bold;
    border-top: 1px solid lightgray;
    float: left;
    width: 100%;
    margin: 23px 0px 6px 0px;
    padding-top: 20px;
}
.user_button{
    margin-left: 430px;
    -webkit-border-radius: 2px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: -27px; 
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    float: left; 
    margin-left: 307px;
    margin-bottom: 1px;
    text-decoration: none;
    display: block;
}
.filter_user_button{
    margin-left: 430px;
    -webkit-border-radius: 2px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 1px;
    text-decoration: none;
    display: block;

}
.day_count{
    float: left;
}
.filter_range{
    float: right;
}
.filter_report{
    font-size: 14px;
    color: #444;
    height: 30px;
}
.button_align{
    margin-left: 0px;
    float: left;
}
.label-field-pair2{
    width: 974px;
}

#custom_attendance_table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 10px 0;
    width:100%;
}
#custom_attendance_table   td{
    padding: 10px; 
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    //  font-size: 13px;
    width: 10%;
}
#custom_attendance_table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
    font-size: 13px;
}
#custom_attendance_table tr{
    border-bottom: 1px solid #bfbfbf;
    font-weight: 100;
}

.custom_date{
    width: 315px;
    height: 100px;
    float: left; 
}
.custom_submit{
}

.custom_start_date{
    width: 152px;

    float: left;
}
.custom_end_date{
    float: left;
    width: 125px;
}
.custom_year{
    width: 110px;
    float: left;
}
.report_show{
    margin-bottom: 60px;
}

.customize_columns{
    float: right;
    margin: 13px 0px 0px 0px;
}

#report .submit_button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 12px;
    margin-top: 5px;
}
.customize_column{
    color:black;
}
.customize_columns a{
    font-weight:100;
    color: black; 
    font-size:14px;
}
#bottun a{
    margin: 54px 32px 36px 76px;
}

a:hover {
    color: hotpink;
}

#page-yield a.pdf_user_button, #page-yield a.pdf_user_button:hover, a.csv_user_button , #page-yield a.csv_user_button:hover{
    text-decoration: none;
    color: white !important;
}

#page-yield a:hover {
    color: #fff !important;
}


#bottun a:hover {
    color: red !important;
}
.pdf_user_button{
    -webkit-border-radius: 8px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    float: left;
    margin-left: 330px;
    margin-bottom: 1px;
    text-decoration: none;
    display: block;
}

.csv_user_button{
    -webkit-border-radius: 8px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    margin-left: 21px;
    margin-bottom: 1px;
    text-decoration: none;
    display: block;
}

.fields{
    margin: 14px 11px;
}

#report_column_form{
    margin-bottom: 30px; 
}

.column_form #popup_footer {
    border-top: 1px solid #c6c6c6;
    width: 479px;
    margin-left: -39px;
    padding-top: 20px;
}
.view_button{
    width: 400px;
    margin-left: 50px;
    height: 30px;
}
.custom_columns{
    color: black;
    font-size: 13px;
    margin-left: 6px;
    margin-bottom: 10px;
}
table#report_result {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    margin-bottom: 20px;
}
tr {
    border-bottom: 1px solid #bfbfbf;
    font-weight: 100;
}
table#report_result td {
    border-right: 1px solid #bfbfbf;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    padding: 10px;
}
table#report_result .tr-head {
    font-weight: bold;
    background-color: #e8e8e8;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    color: black !important;
}
td.header-col {
    border-top: 1px solid #bfbfbf;
}
/*td.sl_no {
    width: 50px;
    position: absolute;
    left: 0px;
    border-bottom: 1px solid #bfbfbf;
}*/
td.sl_no {
    border-left: 1px solid #bfbfbf;
}
.fixed-header {
    border-top: 1px solid #bfbfbf;
    top: 0px;
    background-color: #e8e8e8;
}

td.name, td.employee_name, td.student_name {
/*    position: absolute;*/
    max-width: 200px;
/*    left: 72px;*/
    min-width: 200px;
/*    border-bottom: 1px solid #bfbfbf;*/
    text-align:left;
}
td.col2{
    min-width:100px;
}
table#report_result td.student_name a{
    text-decoration:none;
    color: black;
}

#page-yield ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
#page-yield ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#page-yield ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#page-yield ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
#page-yield ::-webkit-scrollbar {
    /* width: 10px; */
}
#page-yield ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#page-yield ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.outer {
    position: relative;
}
.inner {
    overflow-x: auto;
    margin-left: 292px;
    overflow-y: visible;
    padding-bottom: 1px;
}
#report_section {
    width: 100%;
    float: left;
    white-space: nowrap;
    z-index: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

#report_results {
    float: left;
    width: 100%;
}

.disabled {
    display: block;
    color: #666 !important;
    text-decoration: none !important;
    border-left: 1px solid #ccc;
}

a.disabled {
    cursor: default;
}
#pdf_tooltip{
    
}
#loader{
    margin: -47px 0px 0px 130px; 
}

#loader1{
    margin: -47px 0px 0px 130px; 
}
#loader2{
    margin: -47px 0px 0px 130px; 
}
#loader3{
    margin: -47px 0px 0px 130px; 
}

#loader4{
    margin: -52px 0px 0px 417px; 
}
.mode_option{
    width: auto;
    height: 27px;
    margin-top: 6px;
}
.tooltip_info {
    width: 134px;
    padding: 5px;
    top: 100%;
    display: inline-block;
    margin-top: 40px;
    z-index: 254;
    right: 0;
    margin-left: 170px;
    position: absolute;
    background: #f4f4f4;
    border: 1px solid #B2B2B2;
    pointer-events: none;
    color: #000000;
    text-align: left;
    font-size: 13px;
}
#student-name-link{
    white-space:normal;
}
