<div class="label-field-pair">
  <label for="leave_type"><%= t('date_text') %></label>
  <div class="text-input-bg start_date_text"></div>
</div>
<div class="label-field-pair">
  <label for="end_date"><%= t('to') %></label>
  <div class="text-input-bg end_date_text"></div>
</div>
<div id="change_date"><%= t('change_date') %></div>
<div id="reset"><%= t('reset') %></div>