<div class="com_block">
    <p class="messages"><%= t('signature_messages') %></p>
</div>
<div id="signature_section">
    <div id="left_side">
        <div class="label-field-pair">
            <div class="text-input-bg">
                <%= text_field :report_setting, :sign_left_text, :value => @setting[:sign_left_text] %>
            </div>
        </div>
    </div>
    <div id="center_side">
        <div class="label-field-pair">
            <div class="text-input-bg">
                <%= text_field :report_setting, :sign_center_text, :value => @setting[:sign_center_text] %>
            </div>
        </div>
    </div>
    <div id="right_side">
        <div class="label-field-pair">
            <div class="text-input-bg">
                <%= text_field :report_setting, :sign_right_text, :value => @setting[:sign_right_text] %>
            </div>
        </div>
    </div>
</div>