<div class="com_block">
    <p class="messages"><%= t('customized_header_desc') %></p>
</div>
<div class="label-field-pair">
    <div class="text-input-bg">
        <%= text_field :report_setting, :header_space, :value => @setting[:header_space] %><span><%= t('millimeters') %></span>
    </div>
</div>