
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    /*height:80px;*/
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top: 5px;
    color: #666;
    text-align: right;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
}
.report_container_box .header{
    font-weight: bold;
    margin-bottom: 5px;
}
.description_text_div{
    float: right;
    width: 100%;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 15px;
    color: grey;
    font-size: 13px;
}
.academic_year_select_box{
    float: left;
    height: 30px;
    margin-top: -58px;
}
.academic_year_select_box div{
    float: right;
    margin-left: 7px;
    font-size: 14px;
}
#academic_year_change{
    display: none;
}
#academic_year_show{
    font-weight: bold;
}
#academic_year_change_button{
    margin-right: 10px;
}
#academic_year_change select{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: -5px 10px 0 0;
    width: 200px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
#academic_year_change_button a{
    color: #999;
}
.label-field-pair{
    width:auto;
}
.label-field-pair label{
    width:auto;
    min-width: 104px;
    margin:-4px 0 0 20px;
}
.select_course{
    float:right;
}
.select_batch{
    float:right;
}
.select_student{
    float:right;
}
.select_report{
    float: right;
    margin-left: 50px !important;
}
.academic_year_select_box{

}
.selectors{
    float: right;
    margin-top: 15px;
}
.course_selector{
    margin-left: 50px;
    margin-top:3px;
}
select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    width: 200px;
}
.row{
    float:right;
}







#student_report .tr-head {
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
#student_report {
    float: right;
    width: 100%;
    margin-top: 50px;
}
#student_report table {
    font-size: 13px;
}
#student_report td {
/*    padding: 10px 20px;
    border: 1px solid #ccc;*/
}
.coscholastic_area_table td.even {
    font-weight: bold;
    text-align: right;
}
.coscholastic_area_table td.odd {
    background: #fff;
    width: 50px;
}
.coscholastic_area_table {
    margin-top: 10px;
}
#page-yield table .header-text {
    font-weight: bold;
}
#enclosure {
    margin-bottom: 40px;
}
#firstTd {
    height: 37px;
    border-left: 1px solid #999999;
}
#divHeader {
    overflow: hidden;
    max-width: 730px;
}
#main_header_table{
    border:1px solid #999999;
    border-collapse: collapse;
    border-bottom: 0px;
    border-right:0px;
}
#main_header_table tr#main_heading{
    border-bottom: 1px solid #999999;

}
#main_header_table tr, #main_header_table td{
    border-right:0px;
    border-left: 1px solid #cccccc;
}
.tableHeader {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 10px 5px;
    /*word-break: break-word;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableHeaderHelp {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding: 0px 10px 0px 10px;
}
#main_header_table {
    border-collapse: collapse;
}
#sub_header {
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ccc;
    border-right: 0px;
}
.tableSubHeader {
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
    /*word-break: break-word;*/
    min-width: 52px;
    height: auto;
}
.coscholastic_area_table td {
    padding: 10px 20px;
    border: 1px solid #ccc;
}
#firstSubTd {
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
#scores_table, #scores_table tr, #scores_table td {
    border-collapse: collapse !important;
}
#scores_table td {
    border-left: 1px solid #cccccc;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
    border-top: 0px;
    border-left: 1px solid #cccccc;
    border-bottom: 0px;
    border-right: 1px solid #999999;
}
#scores_table, #scores_table tr, #scores_table td {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-collapse: collapse !important;
}
#table_div td {
    min-width: 80px;
}
.student_names {
    width: 300px;
    text-align: right;
    font-size: 13px;
    padding: 6px 20px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
}
.scores {
    padding: 8px 0px 8px 8px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
}
#scores_table td {
    border-left: 1px solid #cccccc;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
    border-top: 0px;
    border-left: 1px solid #cccccc;
    border-bottom: 0px;
    border-right: 1px solid #999999;
}
.student_exam_report td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.student_term_report td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
#student_report{
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 30px;
}

.add_link{
    display :none;
}
.cross_button{
    display: none;
}
.header_td{
    font-weight: bold;
    background-color: #ddd;
}
tr.odd{
    background-color: #ffffff;

}
tr.even{
    background-color: #f4f4f4;
}
.borders{
    border-bottom: 1px solid #ccc;
}
#table_div {
    overflow: auto;
    max-width: 730px;
    /*max-height: 600px;*/
    position: relative;
    float: right;
}
.submit_btn{
    float:left;
}
.submit-button{
margin: 0 50px 0 0;
}
p.flash-msg{
    margin-top: 40px;
    margin-bottom: 5px;
}
#planner-canvas{
    margin-top: 10px;
    /*border: 1px solid #ccc;*/
    padding: 10px;
    min-height: 100px;
    min-width: 100px;
}
#pdf_nav{
    display: none;
    /*display: block;*/
    float: right;
    width: 91%;
    margin-right: 10px;
}
.pdf-nav-btn{
    
    background-color: #000;
    border: none;
    color: #fff;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
}
.pdf-nav-btn:hover{
    background-color: #373b3f;
}
.prev-btn-container{
    float: right;
    width: 10%;
}
#prev{
    float: right;
}
.next-btn-container{
    float: left;
    width: 10%;
}
#next{
    float: left;
    /*margin-right: 78px;*/
}
.page-num-container{
    float: right;
    width: 80%;
    text-align: center;
    padding-top: 5px;
}
.pdf{
    margin-right: 10px;
}
.student-select-container{
    margin-right: 205px;
}
.report_details .planner{
    margin-right: 180px;
}
.page-num-span{
    font-family: arial;
    color: #444;
    font-weight: bold;
    font-size: small;
}