
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    /*height:80px;*/
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top: 5px;
    color: #666;
    text-align: right;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
}
.report_container_box .header{
    font-weight: bold;
    margin-bottom: 5px;
}
.description_text_div{
    float: right;
    width: 100%;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 15px;
    color: grey;
    font-size: 13px;
}
.academic_year_select_box{
    float: left;
    height: 30px;
    margin-top: -57px;
}
.academic_year_select_box div{
    float: right;
    margin-left: 7px;
    font-size: 14px;
}
#academic_year_change{
    display: none;
}
#academic_year_show{
    font-weight: bold;
}
#academic_year_change_button{
    margin-right: 10px;
}
#academic_year_change select{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: -5px 10px 0 0;
    width: 200px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
#academic_year_change_button a{
    color: #999;
}
.label-field-pair{
    width:auto;
}
.label-field-pair label{
    width:auto;
    min-width: 104px;
    margin-top: -4px;
}
.select_course{
    float:right;
}
.select_batch{
    float:right;
    /*margin-right: 10px;*/
}
.select_student{
}
.select_exam {
    float:right;
}

.select_report, .select_subject{
    float: left;
}
.select_type{
    float:right;
    margin-right: 50px;
}
.select_category{
    float:left;
}
.select_gender{
    float:right;
}
.selectors{
    float: right;
    margin-top: 15px;
}
.course_selector{
    margin-left: 50px;
    margin-top:3px;
}
select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    width: 195px;
}
.row{
    float:right;
}







#student_report .tr-head {
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
#student_report {
    float: right;
    width: auto;
    margin-top: 50px;
}
#subject_report{
    float: right;
    width: 100%;
    margin-top: 50px;
}
#student_report table {
    border-collapse: collapse;
    font-size: 13px;
}
#student_report td {
/*    padding: 10px 20px;
    border: 1px solid #ccc;*/
}
.coscholastic_area_table td.even {
    font-weight: bold;
    text-align: right;
}
.coscholastic_area_table td.odd {
    background: #fff;
    width: 50px;
}
.coscholastic_area_table {
    margin-top: 10px;
}
#page-yield table .header-text {
    font-weight: bold;
}
#enclosure {
}
#firstTd {
    height: 37px;
    border-left: 1px solid #999999;
}
#divHeader {
    overflow: hidden;
    max-width: 630px;
}
#main_header_table{
    border:1px solid #999999;
    border-collapse: collapse;
    border-bottom: 0px;
    border-right:0px;
}
#main_header_table tr#main_heading{
    border-bottom: 1px solid #999999;

}
#main_header_table tr, #main_header_table td{
    border-right:0px;
    border-left: 1px solid #cccccc;
}
.tableHeader {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 10px 5px;
    /*word-break: break-word;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableHeaderHelp {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding: 0px 10px 0px 10px;
}
#main_header_table {
    border-collapse: collapse;
}
#sub_header {
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ccc;
    border-right: 0px;
}
.tableSubHeader {
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    /*padding: 1px 10px 0px 20px;*/
    padding: 8px 20px 8px 20px;
    /*word-break: break-word;*/
    min-width: 50px;
    height: auto;
}
.coscholastic_area_table td {
    padding: 10px 20px;
    border: 1px solid #ccc;
}
#firstSubTd{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 19px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float:right;
    height: 21px;
    line-height: 20px;
    width: 153px;
}
.student_names {
    width: 300px;
    text-align: right;
    font-size: 13px;
    padding: 6px 20px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
#scores_table, #scores_table tr, #scores_table td {
    border-collapse: collapse !important;
}
#scores_table td {
    border-left: 1px solid #cccccc;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
    border-top: 0px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #999999;
}
#scores_table, #scores_table tr, #scores_table td {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #ccc;
    border-right: 0px;
    border-collapse: collapse !important;
}
#table_div td {
    min-width: 80px;
}
.student_names {
    width: 300px;
    text-align: right;
    font-size: 13px;
    padding: 6px 20px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
}
.scores {
    padding: 8px 0px 8px 8px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
}
#scores_table td {
    border-left: 1px solid #cccccc;
}
#student_list_table, #student_list_table tr, #student_list_table td {
    border-collapse: collapse;
    border-top: 0px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #999999;
}
.student_exam_report td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.student_term_report td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
#student_report{
    margin-top: 20px;
    padding-top: 30px;
}

.add_link{
    display :none;
}
.cross_button{
    display: none;
}
.header_td{
    font-weight: bold;
    background-color: #ddd;
}
tr.odd{
    background-color: #ffffff;

}
tr.even{
    background-color: #f4f4f4;
}
.borders{
    border-bottom: 1px solid #ccc;
}

.table-container{
    max-height: 600px
}


table#assessments {
    float:right;
    border-collapse: collapse;
    font-size: 13px;
     width: 100%; 
    /*margin-bottom: 20px;*/
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;

}
.score-table{
    border-right: 0px !important;
}
#table_div {
    overflow: auto;
    max-width: 630px;
    max-height: 600px;
    position: relative;
    float: right;
}
.static-columns{
    float: right;
    width:100%;
    max-height: 600px;
    overflow: auto;
}
.table-body{
    max-height: 600px;
    overflow: auto;
    width:100%;
    /*display: block;*/
}

table#assessments .tr-head {
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    color: black !important;
    background-color: #e5e5e5;
}
table#assessments tr {
    border-bottom: 1px solid #bfbfbf;
}
table#assessments td {
    white-space: normal;
    text-overflow: ellipsis;
    height: 20px;
    padding: 10px 20px;
    border-left: 1px solid #ccc;
}
/*td.sl_no{width: auto;}
td.name{min-width: 250px;width: auto;}
td.roll_no{width: auto;}
td.marks{width: 80px;}
td.grade{width: 70px}*/
#page-yield ::-webkit-scrollbar {
    width: 12px;
    height: 10px;

}
#page-yield ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-right: 1px solid #ccc;
}
#page-yield ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#page-yield ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#page-yield ::-webkit-scrollbar {
    width: 10px;
}

#page-yield ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#page-yield ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#roll_number{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 11px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: right;
    /*min-width: 59px;*/
    width:105px;
    height: 21px;
    line-height: 20px;
}
#adn_number{
        background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 11px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: right;
    /*min-width: 59px;*/
    width:105px;
    height: 21px;
    line-height: 20px;
}
#sl_no{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: right;
    min-width: 23px;
    width:auto;
    height: 21px;
    line-height: 20px;
}
.sl_no{
    min-width: 23px;
    width:auto;
    text-align: right;
    font-size: 13px;
    padding: 5px 20px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
.roll_number{
    /*min-width: 83px;*/
    width:109px;
    text-align: right;
    font-size: 13px;
    padding: 5px 10px 5px 5px;
    height: 46px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
.student_names{
    /*max-width: 170px;*/
    width: 167px;
    text-align: right;
    font-size: 13px;
    padding: 5px 8px 5px 8px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
}
.adn_number{
        /*min-width: 59px;*/
    /*width:auto;*/
    width:109px;
    text-align: right;
    font-size: 13px;
    padding: 5px 10px 5px 5px;
    height: 46px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
#firstcol{
    overflow: hidden;
    max-height:600px;
    border-bottom: 1px solid #ccc;
}
.tableHeader.th_1{
    width:auto;
}
.hr-line{
    border-bottom: 1px solid #ccc;
    margin-top: 140px;
}
.submit-button{
    margin-right: 50px !important;
}
p.flash-msg{
    margin-top: 40px;
    margin-bottom: 5px;
}
#loading{
    float: right;
    margin: 7px;
}