<div id="pdf-footer-second">
    <div class="note_part">
        <%= transaction_hash.default_configs.pdf_receipt_custom_footer %>
    </div>
    <div class="signature_part">         
        <% if transaction_hash.default_configs.try(:pdf_receipt_signature).to_i == 1 %>
          <%= transaction_hash.default_configs.pdf_receipt_signature_name || t('signature') %>
        <% end %>
    </div>
</div>