#search_box_bg {
    overflow: hidden;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.student_search_form {
    width: 290px;
    float: right;
    display: block;
}

#search_box_bg label {
    width: 80px;
    font-size: 16px;
    color: #555;
    font-weight: normal;
    float: right;
    display: block;
    line-height: 33px;
}

.student_search_form input {
    float: right;
    width: 167px;
    height: 17px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #c6c6c6;    
    border-radius: unset;
    -o-border-radius: unset;
    -moz-border-radius: unset;
    -webkit-border-radius: unset;
}

.loader_div {
    float: right;
    width: 16px;
    display: block;
    height: 32px;
    margin-left: 10px;
    position: relative;
}

.loader_div img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.set_border {
    width: 2px;
    float: right;
    height: 45px;
    border-left: 1px solid #999;
    margin: -10px 52px;
}

.batch_selector {
    float: right;
    width: 55%;
}

#batch-details {
    float: right;
}

.batch_list {
    width: 200px;
    float: right;
    height: 32px;
}

.batch_list .text-input-bg {
    width: 100% !important;
}

.batch_list .text-input-bg select {
    margin: 0px;
    height: 31px !important;
    border-radius: unset !important;
    background: #fff !important;
}

#submit-button .user_button1 {
    background-color: #EEE;
    border: 1px solid #999;
    cursor: pointer;
    padding: 7px 10px;
    margin-left: 10px;
    float: right;
    color: #000;
    float: left;
    text-decoration: none;
    margin-left: 67px;
    font-size: 15px;
    height: 31px;
    line-height: 18px;
}

#submit-button .user_button1:focus {
    outline-color: transparent;
}

.main_head {
    text-transform: capitalize;
}

.sl-col {
    min-width: 20px;
}

.col-options {
    min-width: 200px !important;
    white-space: nowrap;
}

.col-options a {
    min-width: 100px;
    float: right;
}

.col-options a:last-child {
    float: left;
    text-align: left;
}

.col-options a:hover{
    text-decoration: underline;
    color: #000;    
}
/** gray table overrides **/
.gray_table_list .main_head td {
    font-size: 14px !important;
    padding: 12px 15px;
}
.gray_table_list td {
    padding: 5px 15px;
}