  <h5 class="field_head"><%= t('select_date') %></h5>
  <div class="text-input-bg start_date">
      <%= calendar_date_select_tag 'date' ,'',  :onchange => "load_students();", :id => "date", :class => "calender-select-width",:format=>:default  %>
  </div>
