<div class="label-field-pair">
      <label for="subject" class="label-type"><%= t('type') %></label>
      <span class="student_selector">
          <%= select :subject_report, :type,[[t('final_report'),"F"],[t('detailed_report'),"D"]] %>
      </span>
</div>
