

.ativity_box{
    padding: 10px;
}
.ativity_box .header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.details{
    display: table;
    font-size: 13px;
}
.details .details_strip {
    padding: 8px 0px 8px 0px;
    /* display: inherit; */
    /* margin-bottom: 15px; */
    float: right;
    width: 100%;
}
.details .details_strip .label{
    display: table-cell;
    min-width: 200px;
    color:#666;
    float:right;
}

.details .details_strip .field{
    max-width: 500px;
    float: right;
    line-height: 1.5;
}
.details .details_strip .edit_field{
    float:right;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 12px;
}
.edit_field a{
    color: #666;
}
#page-yield .edit_field a:hover {
    color: #000 !important;
}
.bold{
    font-weight: bold;
}
hr{
    margin: 30px 0px 30px 0px;
}

.activities{
    display: table;
}
.activities .activity_strip{
    padding: 5px 0px 5px 0px;
    display: inherit;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-top: 30px
}
.activities .activity_strip:last-child{
    border-bottom: none;
}

.activities .activity_strip.head{
    margin-bottom: 10px;
    border-bottom: none;
}
.activities .activity_strip .label{
    /*display: table-cell;*/
    min-width: 260px;
    float: right;
    margin-left: 30px;
}
.activities .activity_strip .small{
    min-width: 80px;
}

.activities .activity_strip .field{
    max-width: 500px;
    float: right;
}
.activities #add-text{
    margin-top: 30px;
    font-size: 13px;
    color: #0c0c0c;
    font-weight: bold;
}
.add_button_img{
    text-decoration: none;
}
.submit-button{
    margin-right: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 3px;
}
.cancel-button{
    text-decoration: none;
    margin-right: 10px;
}
#page-yield .cancel-button:hover {
    color: #fff !important;
}
.activities .activity_strip .field{
    /*width:500px;*/
    position: relative;
}
.activities .activity_strip .field input{
    width:95%;
}
.activities .activity_strip input{
    padding: 5px;
    box-sizing: border-box;
    float: right;
    width:260px;
}
.activity_strip .small input{
    width:80px;
}
.remove_field{
    background: white;
    background-image: url(/images/iconsprite-1.png);
    background-position: -31px 1px;
    float: left;
    height: 16px;
    width: 14px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 0;
    margin-top: 5px;
    left: 20px;
    top: 18px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}
div#add-text:before {
    content: '+';
    margin-left: 8px;
}

#popup_window
{
    width: 690px;
    top: 40px;
    float: right;
}
#popup_frame .part {
    width: 610px;
}
#popup_content #description{ margin-top : 0px}
#popup_content .label-field-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
#popup_content .label-field-pair label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
#popup_content .text-input-bg input{
    margin-right: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea{
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
#popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
#attribute_profile_form{
    float: right;
    padding-right: 40px;
    padding-left: 40px;
}
#popup_content{width: 690px !important;}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
.wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
}
#popup_content .error-msg{width: 231px;}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 100%;
    float: right;
}

.max_mark_profile{
    width: 100%;
    overflow: auto;
}
.label-field-pair label{
    width:230px;
}
.label-field-pair input{
    border-radius: 1px;
}
.text-input-bg.small input{
    width:80px;
    background: #fff;
    border: 1px solid #a9a9a9;
}
.label-field-pair label{
    font-weight: normal;
}
.activities .activity_strip.head{
    font-weight: bold;
    padding-top: 0px;
}
.attribute_formula{
    font-size: 14px;
}
.formula_head{
    font-weight: bold;
}
.formula_box{
    background: #efefef;
    width:60%;
    padding:15px;
    border: 1px solid #ccc;
    margin-top: 25px;
}
.formula_select_pair label{
    font-weight: bold;
}
.desc_for_formula{
    margin-right: 25px;
    margin-top: 7px;
    margin-bottom: 20px;
    width:60%;
    font-size: 13px;
}
.formula_select_pair .warning{
    margin-top: -13px;
    margin-right: 25px;
    margin-bottom: 20px;
    color: #a00000;
    width: 60%;
    font-size: 13px;
    display: none;
}
.max_subject_marks{
    margin-top: 30px;
    font-size: 14px;
}
.max_subject_marks label{
    margin-left: 10px;
}
.max_subject_marks span{
    font-weight: bold;
}
.activities .activity_strip .grade_type input, .activities .activity_strip .grade_type label{
    width: auto;
}
.activity_strip .label-field-pair{
    width:100%;
}
.activities .activity_strip .large{
    min-width: 400px;
}
.activity_strip .grade_type label{
    padding-top: 8px;
    margin-right: 5px;
}
.pull-left{
    float: right;
}
.w100{
    width: 100%;
}
.mt-20{margin-top: 20px;}
.activity_strip .grade_type label{
    font-size: 12px;
}
.max_mark_field{
    width:90px !important;
    margin-right: 20px;
}
.error-msg{
    /*float: left;*/
    color: red;
    font-size: 13px;
    font-style: italic;
}
.error-icon{
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
    margin-top: 1px;
}
.max_marks{
    float: right;
    min-width: 80px;
    width: 80px
}
.wrapper {
    margin-top: 6px;
    margin-right: 0 !important;
    float: right;
    width: 100%;
}
.max_marks .wrapper{
    padding-right: 18px;
}
.max_marks .error-msg{
    width: 100px;
}