.main_head td {
    font-size: 13px !important;
    width: 510px;
}
.sl-col {
    width: 30px !important;
}
.top{
    margin: 33px 0 0 0px !important;
}
div .group_name{
    margin: 20px 0 10px 0;
    font-size: 17px;
    font-weight: bold;

}
div .table-heading{
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
td.set_border_right.last{
    width: 80px;
    text-align: center;
}
div .table{
  float: right;
  width: 100%;
}
.gray_table_list{
  margin-top: 15px
}
