table#report_table{
    background: #dcdcdc;
    display: block;
    overflow-x: auto;
}
table#report_table tr.tr-head{
    color:#fff!important;
    font-weight:bold;
    text-align:left;
    font-size: 14px;
}
table#report_table .tr-head td{
    padding:5px;
    padding-left:10px;

}
table#report_table .tr-odd{
    background: #efefef;
    text-align:left;
    padding:50px;
    font-weight:700;
    font-size:13px;
    color: #333333;
}
table#report_table .tr-even{
    background: #f8f8f8;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:700;
    font-size:13px;
}
table#report_table .tr-read-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table .tr-read-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table td.col-1{
    width:15%;
    padding: 5px;
    padding-left:10px;
}
table#report_table td.col-2{
    width: 10%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td a{
    text-decoration:none;
    color:#27292b;
}
table#report_table td a:hover{
    color:#990a10;
    text-decoration:underline;
}
table#report_table td.col-3{
    width:12%;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td.col-4{
    width: 12%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td.col-5{
    width: 2%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td.col-6{
    width: 5%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}

table#report_table td.col-7{
    width:20%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
.pagination_list{
    width:100%;
    height:25px;
    border:1px solid #CCCCCC;
    margin-top:30px;
    background:#efefef
}
.pagination {
    float: right;
    position: relative;
    margin-top: 2px;
    margin-right: 15px;
}
.pagination a.prev_page,.pagination a.next_page{
    color:#27292b;
    font-weight:bold;
    text-transform: none;
    background: none;
    text-decoration:none;
    border:none;
    font-size: 13px;
}
.pagination .disabled {
    color: #27292b;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    background: none;
    text-decoration: none;
    border: none;
}
.pagination_text{
    float:left;
    margin-left: 600px;
    font-size: 13px;
    color:#333333;
    margin-top: 5px;
}
#page-yield {
    /*    margin-right: 10px;*/
    margin-top: 0px;
}
.submit-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    margin: 0 0 0 0;
    padding: 7px;
    float: left;
    cursor: pointer;
    float: right;
    margin-bottom: 4px;
    margin-left: 12px;
    padding-left: 13px;
    padding-right: 13px;
    font-family: Arial;
}
.submit-button a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.submit-button a:hover{
    color:#fff !important
}
table#report_table tr.tr-head a{
    color:#fff !important;
}
table#report_table tr.tr-head a:hover{
    color:#fff !important;
    text-decoration: none;

}
.batch_order:hover{
    background: rgba(0, 0, 0, .2)
}
.batch_order_select{
    background: rgba(0, 0, 0, .2)
}
.field_pair{
    width: auto;
    margin-left: 10px;
    font-size: 14px;
    color: #444;
    padding: 10px;
    height: 8px;
    float: left;
    margin-bottom: 20px
}
.label1{
    float:left;
    width:auto;
    word-break: break-all;
}
.label2{
    float:left;
    word-break: break-all;
    font-weight: bold;
}
.label{
    width:auto;
    word-break: break-all;
    width: auto;
    margin-left: 10px;
    font-size: 14px;
    color: #444;
    padding: 10px;
    height: 8px;
    font-weight: bold;
}
#information{
    margin-top: 20px;}
.info{
    float:left;
    margin-bottom: 0px;
}
.bread_crumb{
    margin-top: 15px;
}
#page-yield #information .submit-button a:hover{
    color:#fff !important
}


.sms_to_all{
    margin-right: 40px;
}
.hor_line {
    width: 100%;
    height: 1px;
    background-color: #333333;
    margin-bottom: 10px;

}
.check_box{
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    overflow: auto;
    width: auto;
}
#select_all{
    cursor:pointer;
    text-decoration: underline;
    margin-left: 15px;
}
#clear_all{
    cursor:pointer;
    text-decoration: underline;
    margin-left: 15px;
}
.send-sms-button{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    padding: 7px;
    float: left;
    cursor: pointer;
    float: right;
    margin-bottom: 4px;
    margin-right: 12px;
    padding-left: 13px;
    padding-right: 13px;
    font-family: Arial;
}
#column_div{
    float: right;
}
#column_div a {
    color: black !important;
    margin-top: 8px;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    float: left;
}
#popup_window.column_form {
    width: 690px;
    top: 40px;
    float: left;
}
.column_form #popup_frame .part {
    width: 610px;
}
#report_column_form {
    float: left;
    overflow-y: auto;
    max-height: 500px;
    padding: 20px 40px 0 40px;
}
#report_column_form .sections {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
    width: 575px;
}
.column_form #popup_content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 690px !important;
    padding-top: 0px !important;
}
.column_form #popup_footer {
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #c6c6c6;
    float: left;
    width: 610px;
    padding-top: 20px;
}
.column_form #popup_footer .submit-button {
    float: left;
    border-radius: 5px;
}
#report_column_form .section_header {
    font-weight: bold;
    font-size: 13px;
}
.sections .fields {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.sections input {
    margin: 1px 10px 0 0;
    float: left;
}
.sections label {
    font-size: 13px;
    color: #000;
    float: left;
}
input[type="checkbox"][readonly] {
    pointer-events: none;
}