
.info{
    width:100%;
    margin-left:20px;
    min-height: 125px;
    overflow: hidden;
}
.field_pair{
  width: 33%;
  float:left;
  margin-bottom: 20px;
  margin-right: 2px;
  word-wrap: break-word;
  min-height: 40px;
}
.pdf-header {
  height:100px;
  padding:5px;
  margin-left:30px;
}
.label1 {
  margin-bottom: 10px;
  color:#999999;
  font-size:14px;
}
.label2 {
  font-size:14px;
  padding-right: 40px;
}
.row_head {
  width: 100%;
  float: left;
}
