#student_profile_heading1 {
    clear: both;
    float: left;
    height: 50px;
    margin: -21px 0 40px;
    padding: 0 0 0 2px;
    width: 100%;
}
#student_main_info1 span.name {
    color: #000000;
    float: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 13px 0 0;
    padding-right: 20px;
    width: 100%;
    font: bold;
}
#student_main_info1 span.course {
    color: #000000;
    float: left;
    font-size: 14px;
    margin: 10px 0 0;
    padding-right: 20px;
    width: 100%;
}
#student_main_info1 span.adm {
    color: #000000;
    float: left;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}
table#listing {
    padding: 20px 20px 20px;
    float: left;
}
table#listing td.col-8 {
    width: 40%;
    text-align: right;
    padding: 5px;
    padding-left: 10px;
}


.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    padding: 7px 10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    float: left;margin: 48px 0 0;
}
.submit_button:hover{
    background:  #373B3F;
}

table#listing td a{
    float:right;
}

p.flash-msg {
padding-right: 20px;
text-align: right;
}


.errorExplanation {
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
background:  #fff1ab url(/images/_global/error.png) no-repeat 10px 14px;
height: auto;
/* width: 510px; */
margin: 17px auto;
font-size: 13px;
padding: 11px 49px 9px 0;
width: inherit;
}
table#listing1 td a {
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 0px 5px 0px 5px !important;
    float: right;
    font-weight: normal;
    color: #27292b !important;
}
.label-field-pair4 {
    width: 88px;
    float: left;
    padding-top: 3px;
    padding-right: 32px;
    margin-left: 20px;
}
.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.text-input-bg4 {
    position: absolute;
    background: transparent;
    height: 28px;
    width: 250px;
}
.label-field-pair4 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 88px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.label-field-pair3 {
    margin-top: 17px !important;
    height: 40px;
    width: 230px;
    float: right;
    padding-top: 3px;
}
.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
table#listing1 tr.tr-head {
    color: #000000 !important;
}
table#listing1 tr.tr-head {
    height: 30px;
    background: #fff;
    font-weight: bold;
    text-align: center;
}
table#listing1 .tr-odd {
    background: #fff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}
table#listing1 .tr-even {
    background: #f1f6ff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}
h4 {
    float: left;
    margin-top: 40px;
}
#custom_gateway_online_pay_submit {
    margin: 0px;
}
.pay_fees h4{
    margin-top: 10px !important;
}
.wallet-amount-block {
    margin: 0px 29px 0 -47px !important;
}
.wallet-amount-block label {
    margin: 0 47px 0 80px !important;
}
.wallet-amount-block input {
  margin: 5px 75px 0 0 !important;
}
.wallet-info-block {
  margin: 40px 0 0 -113px !important;
}
.wallet-info-block .text-input-bg4 {
  margin: 0 17px 0 0 !important;
}
.wallet-info-block label {
    margin: -3px 110px 0 49px !important;
}
.wallet-info-block input {
  margin: -4px 263px 0 0 !important;
}
#gateway_error {
    float: right;
    margin: -25px 562px 0 0;
    color: red;  
    font-weight: bold;
}