table#listing td.col-5 {
    padding:5px 10px 5px 5px;
    text-align:right;

}
table#listing td.col-6 {
    padding:5px 10px 5px 5px;
}
table#listing td.col-7 {
    padding:5px 10px 5px 5px;
    text-align:right;

}

.label-field-pair label {
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:251px;
}
.label-field-pair {
    margin:5px 0;
    width:450px;
}
.label-field-pair label {
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}

table#listing td.col6 p a {
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:0px;
    margin-top:15px;
    padding:7px 10px;
}

.box{
    margin: 0 auto;
    width: 500px;

}

#student{
    padding-top:50px;
}

.label-field-pair3 {
    height: 40px;
    width: 165px;
    float: right;
    padding-top: 3px;
}

.text-input-bg3 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair3 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 205px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg3 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: right;

}

table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-right: 10px;
    font-weight: normal;
}

#payments_details {
    margin-top: 20px;
}
.fine_text{
    text-align: left!important;
    font-size: 14px;
}
#print-receipt{
    margin-top: 15px!important;
    margin-left: 5px!important;
}
#sumbit_button{
    margin-top:35px;
}
.label-field-pair4 {
    width: 88px;
    float: left;
    padding-top: 3px;
    padding-right: 32px;
    margin-left: 20px;
}

.text-input-bg4 {
    position: absolute;
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair4 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 88px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg4 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.pay_fees_buttons a {
    float: left !important;
    margin: 20px 10px 0 !important;
}

.pay_fees_buttons input {
    float: left;
}

.loader_div {
    float: right;
    margin: 7px 110px 0 0;
}

#loader {
    padding-top: 5px;
}

.pay_fees_button {
    margin-top: 52px;
    float: left;
    width: 120px;
}
.label-field-pair3-text-area {
    height: 70px;
    margin-right: 60px;
    width: 514px;
    float: right;
}

.label-field-pair3-text-area label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.textarea-input-bg {
    background: none repeat scroll 0 0 transparent;
    margin-right: 25px;
}

.label-field-pair3-text-area textarea {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 10px 0 0;
    padding: 5px;
    width: 460px;
    height: 17px;
}

.label-field-pai3r-text-area textarea:focus {
    background: #FFFFFF;
    border: 1px solid #9E0F15;
}
.col-2 {
    font-weight: normal;
    max-width: 200px;
    text-align: justify;
}
.user_button {
    float: left;
    margin: 5px auto 0;
}

#sumbit_button{
    margin-top:35px;
}

h4{
    float: left;
}
#fees_detail {
    padding-top: 20px;
}
table#listing1 td a{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 0px 5px 0px 5px !important;
    float:right;
    font-weight: normal;
    color: #27292b !important;
}
table#listing1 td a:hover{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 0px 5px 0px 5px !important;
    float:right;
    font-weight: normal;
    color: #27292b !important;
}
.payment_details{
    margin-bottom: 30px;
}
#payment_mode{
    float: right;
}
.label-field-pair5 {
    width: 88px;
    float: right;
    padding-top: 3px;
    padding-right: 32px;
}
.label-field-pair5 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair5 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 200px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.modal-box-submit_button {
    margin-top: 10px;
    margin-right: 160px;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.post-symbol{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
#MB_frame .label-field-pair{
    width: 450px!important;

}
#MB_frame .label-container label {
    width: 150px !important;
    font-size: 14px;
    font-weight: normal;
}
#MB_frame .label-field-pair .label_for_gender{
    width: auto!important;
    font-size: 14px;
    font-weight: normal;
    float: right;
    margin-right: 9px;

}
#MB_frame .head_label {
    color: #000000 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    right: 11px;
}
#MB_frame .radio-label{
    margin-top: 0px;
    margin-left: 0px;   
}
#delete-instant-discount a{
    background: none repeat scroll 0 0 #c3d9ff !important;
    color: #990a10 !important;
    float: right !important;
    margin: 0px !important; 
    padding: 0px !important;
}
.display-true{
    display: inline;
}
.display-false{
    display: none;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
}
.error-msg {
    color: red;
    font-size: 13px;
    font-weight: normal;
    float: right;
    width: 200px;
}
span.fieldWithErrors {
    float: right;
}
input#discount_amount{
    width: 85px !important;
    float: right;
}
.wrapper{    
    float: right;
}
input#transport_fee_discount_is_amount_false{
    margin: 0px;
    width: 14px;
    height: 14px;
    float: right;
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 0px;
}
input#transport_fee_discount_is_amount_true{
    margin: 0px;
    width: 14px;
    height: 14px;
    float: right;
    margin-top: 12px;
    margin-right: 6px;
}
.errorExplanation{
    width: 450px !important;
}
.instant-particular a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 8px auto 0;
    padding: 7px 9px;
    text-decoration: none;
}
.instant-particular a:hover {
    text-decoration: none !important;
}
#popup_content {
    overflow-x: hidden !important;
}

.name {    
    float: right;
    width: auto;
    font-size: 13px;
    height: auto;
    margin-bottom: 11px;
    min-width: 100%
}

.details {
    min-height:50px;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    width: 100%;
}

.each-detail{
    width: auto;
    float: right;
    margin-top: -15px;
    margin-left: 15px;
}

div#fees_detail .each-detail {
    margin-top: 10px;
}

.height-fixer {
    float: right;
    width: 968px;
    min-height: 15px;
}

.val {
    width: auto;
    min-width: 230px;
    color: #000;
    font-weight: bold;
    font-size: 13px;
}

.val span {
    margin-left: 12px;
    color: black;
}

.val-align {

    width: 200px;
    word-wrap: break-word;
    float: right;
}

.text-input-bg select{
    margin: -3px 1px 0 0!important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}
.special_case {
    height: auto;
    margin-top: 13px !important;
    float: right;
    margin-left: 35px;
}
.wallet-section {
    float: right !important;
    width: 938px !important;
}
.wallet-amount-block {
    height: 70px !important;
    padding-top: 16px !important;
    width: 153px !important;
    float: left !important;
    color: black !important;
    margin: 0px -30px 0 30px !important;
}
.wallet-amount-block label {
    color: #444 !important;
    display: block !important;
    font-size: 14px !important;
    margin: 0 4px 0px 0;
    width: 153px !important;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    font-weight: none !important;
    text-align: left !important;
}
.wallet-amount-block input {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    background: none repeat scroll 0 0 #FFF !important;
    border: 1px solid #C6C6C6 !important;
    margin: 5px 20px 0 0 !important;
    padding: 5px !important;
    width: 100px !important;
    height: 17px !important;
    position: relative !important;
    font-size: 13px !important;
    text-align: left !important;
}
.wallet-amount-block {
    height: 70px !important;
    padding-top: 16px !important;
    width: 153px !important;
    float: left !important;
    color: black !important;
    margin: 0px -49px 0 7px !important;
}
.wallet-amount-block label {
    color: #444 !important;
    display: block !important;
    font-size: 14px !important;
    margin: 0 -21px 0px 0;
    width: 153px !important;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    font-weight: none !important;
    text-align: left !important;
}
.wallet-info-block .wallet-link {
    color: #444 !important;
    display: block !important;
    font-size: 14px !important;
    margin: -7px 141px 0 9px !important;
    width: auto !important;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    font-weight: none !important;
    text-align: left !important;
    float: right !important;
}
.wallet-info-block .text-input-bg4{
    float: right !important;
    margin: 0 -6px 0 -47px !important;
}
.wallet-info-block label:hover {
  cursor: default !important;
}
.wallet-info-block .wallet-link:hover {
  cursor: pointer !important;
}
.wallet-info-block  input {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    background: none repeat scroll 0 0 #FFF !important;
    border: 1px solid #C6C6C6 !important;
    margin: -7px 2px 0 0 !important;
    padding: 5px !important;
    width: 100px !important;
    height: 17px !important;
    position: relative !important;
    font-size: 13px !important;
}
.text-input-bg4 #wallet-amount-label{
    color: red !important;
    width: 204px !important;
    font-size: 11px !important;
    display: none !important;
}
