div.attr_pair{
    width: 100%;
    float: left;
    box-sizing:border-box;
}
div.attr_pair div{
    float: left;
    padding: 5px;
    height: auto;
    color: #444;
}
div.attr_value{
    width: 500px;
    font-weight: bold;
    font-size: 14px;
}
div.attr_label{
    width: 250px;
    font-size: 14px;
}
h4.section-heading {
    color: #980000;
    border-bottom: 1px solid black;
    margin-top: 2px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}

table.section{
    width: 100%;
    height: auto;
    float: left;
}
table.section-table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}
table.section-table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    font-size: 13px;
    border-collapse: collapse;
}
table.section-table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
}
table.section-table td {
    vertical-align: top;
    border-top: 1px solid #DDD;
}

h4.section-heading-question{
    width:100%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    font-weight: normal;
    color:#444444;
}

.available_sections{
}
.section{
    margin:0 auto;
    height:auto;
    width:100%;
    float:left;
}
.page {
    page-break-after: auto;
    page-break-inside: avoid;
    overflow: hidden;
    padding-top: 10px;
}

.page-break{
    float: left;
    width: 100%;
 }
 .section-fields {
     float:left;
     width:100%;
     box-sizing:border-box;
 }
 .label-value-pair{
     float:left;
     width:100%;
     box-sizing:border-box;
 }
 #photo-field{
    float:right;
    width:125px;
    height:125px;
    border:2px solid #c6c6c6;
}
#photo-field img{
    height:125px;
    width:125px;
}
.adjust-for-photo{
    width:80% !important;
}
.adjust-for-photo .attr_value{
    width:300px !important;
}
.desc-section{
    float:left;
    width:100%;
    box-sizing:border-box;
    font-size:14px;
    color:#666;
    margin-bottom:15px;
}
.student-info{
    float:left;
    width:100%;
    box-sizing:border-box;
    margin-bottom:15px;
}
.info-vertical-pair{
    float:left;
    margin-right:15px;
}
.info-name{
    float:left;
    width:100%;
    color:#444;
    font-size:14px;
}
.info-value{
    float:left;
    width:100%;
    color:#444;
    font-weight:bold;
    font-size:14px;
}
