label.check_label{
    font-size: 12px;
    color: #333;
    padding-left: 15px;
    cursor: pointer;
    user-select: none;
    float: right;
}

select.drop_select{
    height:30px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    width:290px;
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

select.drop_select:focus{
    border-color: #333;
}

div.intermediate_selector{
    margin-bottom: 30px;
}

div.user_type_selector{
   margin-bottom: 44px;
}

div.user_selector {
    display: inline-block;
    width: 490px;
    box-sizing: border-box;
    vertical-align: top;
    float: right;
    height: 600px;
    margin-top: 31px;
}

div.sms_creation {
    //  display: inline-block;
    width: 480px;
    box-sizing: border-box;
}

h5.field_head {
    color: #333;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 15px;
}

div.field_set textarea{
    width: 400px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    resize: none;
}

div.field_set textarea:focus{
    border-color: #333;
}

label{  
    font-size: 13px;
    color: #333;
}

div.field_set label.head_label{
    font-weight: bold;
    display: block;
    width: 30%;
}


div.field_set input[type="text"]{
    height: 30px;
    padding: 3px 10px;
    width: 350px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

div.field_set input[type="text"]:focus{
    border-color: #333 !important;
}


div.field_set select{
    height:30px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    width:290px;
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

div.field_set select:focus{
    border-color: #333;
}

.template_new_message_switcher {
    margin-bottom: 30px;
    float: right;
    width: 100%;
}

.solid_button{
    padding: 10px 20px 10px 20px;
    background-color: #333;
    color:#ffffff;
    border-radius: 4px;
    border-width: 0px;
    cursor: pointer;
    font-weight: bold;
    cursor:pointer;
    text-decoration: none;
    font-size: 14px;
    height: 36px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

#page-yield .solid_button:hover{
    background-color: #626262;
    color: #fff !important;
}

input.check{
    vertical-align: bottom;
    margin-bottom: 2px;
}

div.submit_controls {
    margin-top: 30px;
}

.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    display: inline-block;
    margin-top: 1px;
    vertical-align: top;
}
.error-msg {
    color: red;
    font-size: 13px;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
}
.wrapper {
    // margin-top: 17px;
    margin-right: 0 !important;
}

div.selector_box {
    margin-bottom: 10px;
}
.send_copy { display: flex; }
.send_parents{
    float: right;
    font-size: 12px;
    margin: -1px 14px 0px 21px;
}
.send_immediate{ }
.copy_all{
    font-size: 13px;
    color: #333;
    float: right;
    font-weight: bold; 
    margin: 0px 0px 0px 4px;
}

@-moz-document url-prefix() {
    .copy_all {
        margin: 6px 0px 0px 4px;
    }
}
div.selector_students {
    margin-top: 60px;
    display: none;
    margin-bottom: 50px;
}
div.select_course {
    display: inline-block;
    vertical-align: top;
    width: 410px;
    margin-left: 30px;
    float: right;
}
.send_portion { margin-top: 60px; }
.batch_selector_section { height: 504px; }
div.select_employees {
    display: inline-block;
    vertical-align: top;
    width: 410px;
}
div.select_department {
    display: inline-block;
    vertical-align: top;
    width: 410px;
    float: right;
}
.group_selector{
    float: right;
    height: 680px;
}
.sms_notes{
    font-size: 12px;
    color: #333;
    margin-bottom: 25px;
    float: right;
    width: 100%;
}
.group_sms_notes {
    font-size: 12px;
    color: #333;
    margin-bottom: 25px;
    margin-top: -115px;
    float: right;
    /* width: 100%; */
}
#sms_count {
   margin: 0px 0px 8px 1px;
    font-size: 13px;
    color: #999;
}
#sms_word_count {
    float: right;
    margin-left: 5px;
}