
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top: 5px;
    color: #666;
    text-align: right;
}

 .submit_button {
    margin-top:15px;
    margin-right:180px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.name_listodd{
    background:#E4EBFE;
    padding: 2px;
    height:auto;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.name_listeven{
    background:#DAE6FF;
    padding: 2px;
    height:auto;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.att_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
}
label {display:inline;}

#list {
    margin:20px auto;
    width:400px;
}
#list li {
    padding:6px 50px 0 0;
    list-style-type:none;
}
#list li label input {
    margin-left:10px;
}
#delay_notification{
    margin-right: 25px;
    padding-bottom: 1px;
}
div.setting_block{
  width: 310px;
  text-align: right;
  display: inline-block;
  margin-bottom: 40px;
  margin-left: 5px;
}

div.setting_head{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}


div.sms_settings{

}

div.setting_controls{
  font-size: 14px;
}

div.setting_controls label {
  margin-left: 10px;
  vertical-align: bottom;
}

.solid_button{
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color:#ffffff;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  font-weight: bold;
  cursor:pointer;
  text-decoration: none;
  font-size: 14px;
  height: 36px;
  box-sizing: border-box;
}

#page-yield .solid_button:hover{
  background-color: #626262;
  color: #fff !important;
}

.application_field_set {
  display: inline-block;
  margin-left: 104px;
}

div.sms_application_settings{
  margin-bottom: 30px;
}