.label-field-pair{
    float: right;
    width: 450px;
    height: 70px;
}
.label-field-pair label{
    font-size: 13px;
    float: right;
    width: 150px;
    font-weight: normal;
}
.import-form .text-input-bg input{
    margin-right: 0 !important;
    -webkit-border-radius: .3em !important;
}
.import-form .paperclip_field .style {
    -webkit-border-radius: .3em;
    margin-right: -6px;
}
.submit-button {
    margin: 8px 0 0 40px;
    font-size: 13px;
    border-radius: 5px;
}
table#import_listing{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
table#import_listing td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table#import_listing .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
table#import_listing tr{
    border-bottom: 1px solid #bfbfbf;
}
table#import_listing a, #page-yield table#import_listing a:hover {
    color: black !important;
    text-decoration: none;
    margin-left: 20px;
}
.import-form, #import_logs{
    float: right;
    width: 100%;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;
}
.error-msg{
    float:right;
    color: red;
    font-size: 13px;
    width:205px;
}
.wrapper{
    margin-top: 5px;
    float: right;
    width: 100%;
    margin-right: 10px;
}
td.col1{ width: 10%}
td.col2{ width: 35%}
td.col3{ width: 40%}
td.col4{ width: 15%}
td.col5{ width: 20%}
.import-form, #import_logs{
    float: right;
    width: 100%;
}
.table_info{
    font-size: 12px;
    float: right;
    width: 100%;
    margin-bottom: 10px
}
.table_info span{
    font-weight: bold;
}
#popup_window.import_log 
{
    width: 690px;
    top: 40px;
    float: right;
}
.import_log #popup_frame .part {
    width: 610px;
}
.import_log #popup_content{
    max-height: 600px;
}
.import_log ::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
.import_log ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.import_log ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.import_log ::-webkit-scrollbar {
    width: 10px;
}

.import_log ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.import_log ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.import_log td.sl_no{ width: 10%}
.import_log td.row_no{ width: 20%}
.import_log td.errors{ width: 70%}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}