.message_templates-icon{
  
}


div.template_creation{
  width:490px;
  display: inline-block;
   
}

div.field_set{
  margin-bottom: 30px;
}

label{  
  font-size: 13px;
  color: #333;
}

div.field_set label.head_label{
  font-weight: bold;
  display: block;
}

div.field_set input[type="text"]{
  height: 30px;
  padding: 3px 10px;
  width: 350px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

div.field_set input[type="text"]:focus{
  border-color: #333 !important;
}

div.field_set textarea{
  width: 400px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  resize: none;
}

div.field_set textarea:focus{
  border-color: #333;
}

label.tag_label{
  user-select: none;
  cursor: pointer;
}

div.user_type_selector{
  margin-top: 10px;
}

.solid_button{
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color:#ffffff;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  font-weight: bold;
  cursor:pointer;
  text-decoration: none;
  font-size: 14px;
  height: 36px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

#page-yield .solid_button:hover{
  background-color: #626262;
  color: #fff !important;
}

.plain_button {
  color: #333;
  background-color: #ffffff;
  padding: 8px 20px 8px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

#page-yield .plain_button:hover{
  background-color: #f2f2f2;
  color: #333 !important;
  text-decoration: none;
}


.cancel {
  margin-right: 20px;
}

#message_content_0, #message_content_1, #message_content_2{
  display: none;
}

div.field_codes_area{
  display: inline-block;
  width: 482px;
  vertical-align: top;
}

table.block_table{
  width: 100%;
  border-collapse: collapse;
}

table.block_table th,td{
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  padding: 15px;
  background-color: #eee;
  font-size: 12px;
}

table.block_table td:nth-child(even){
  color: aaa;
}

table.block_table td:nth-child(odd){
  font-weight: bold;
  color: #333;
}

table.block_table td.key_sub_heads{
  padding: 10px;
  background-color: #ffff;
}

.field_code_head {
  font-size: 13px;
  color: #333;
  font-weight: bold;
  margin-bottom: 12px;
}

div.key_set_container {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}



