<div class="field_section">
  <div class="field_head">
    <%= t('select_course')%>
  </div>
  <div class="field">
    <%= select "", "course",
    options_for_select(@courses.map{|c| [c.full_name,c.id]}) ,{:include_blank=>t('select_course')}, :class=>"input_box", :id=>"course_selector",
    :onchange => "#{remote_function(:url => {:action => "batch_selector"},:with => "'course_id='+value",
    :before => "Element.show('loader')",:success => "Element.hide('loader')" )}" %>
  </div>
</div>

<div id="batch_selector" class="field_section">
  <div class="field_head">
    <%= t('select_batch')%>
  </div>
  <div class="field">
    <%= select "", "batches",
    [] ,{:include_blank=>t('select_batch')}, :class=>"input_box", :id=>"batch_selector"%>
  </div>
</div>