.label-field-pair, .label-radio-pair {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    height: auto;
    min-height: 20px;
}
.label-field-pair{
    width: 400px;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    float: left;
    color:  #444;
}
.label-field-pair label, .status{ width: 100px;}
#radio-buttons {
    margin: 0;
    float: left;
}
#radio-buttons input {
    float: left;
    margin: 1px 5px 0 0;
}
#radio-buttons label {
    margin-right: 15px;
    font-weight: normal;
}
.text-input-bg select {
    margin-left: 0;
    -webkit-border-radius: .3em;
    width: 215px;
    float: left;
}
#loader2, #loader3{
    margin: 10px 0 0 10px;
}
#advanced_search{
    float: right;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    margin-top: 13px;
}
#page-yield #advanced_search:hover{
    color: #444 !important;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
table#stop_details{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
table#stop_details td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
#page-yield table#stop_details .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
table#stop_details tr{
    border-bottom: 1px solid #bfbfbf;
}
table#stop_details a, #page-yield table#stop_details a:hover {
    color: black !important;
    text-decoration: none;
    margin-right: 20px;
}
#popup_window.search-form 
{
    width: 690px;
    top: 40px;
    float: left;
}
.search-form #popup_frame .part {
    width: 610px;
}
.search-form #popup_content #description{ margin-top : 0px}
.search-form #popup_content .label-field-pair, .search-form #popup_content .label-checkbox-pair{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 3px;
}
.search-form #popup_content .label-field-pair label, .search-form #popup_content .label-checkbox-pair .status {
    margin-bottom: 10px;
    font-size: 13px;
    float: left;
    width: 150px;
    padding-top: 10px;
    margin: 0;
}
.search-form #popup_content .label-checkbox-pair #radio-buttons, .search-form #popup_content .input-container{
    width: 250px;
    float: left;
    padding-top: 10px;
}
.search-form #popup_content .label-checkbox-pair #radio-buttons label{
    font-size: 13px;
    margin-right: 15px;
    float: left;
}
.search-form #popup_content .label-checkbox-pair #radio-buttons input{
    float: left;
    margin: 1px 5px 0 0;
}
.search-form #popup_content .text-input-bg input{
    margin-right: 5px;
    -webkit-border-radius: .3em;
    width: 215px;
}
.search-form #popup_content{
    padding-left: 0px !important ;
    padding-right: 0px !important;
}
.search-form #popup_footer{
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #c6c6c6;
    float: left;
    width: 610px;
    padding-top: 20px;
}
.search-form #popup_content{width: 690px !important;}
.search-form .wrapper {
    margin-top: 5px;
    margin-left: 0 !important;
    min-width: 300px !important;
}
td.name{ width: 25%}
td.mandatory{ width: 20%}
td.input_type{ width: 15%}
.submit-button{
    border-radius: 5px;
}
#page-yield #active_year a.submit-button:hover{
    color: #fff !important;
}
#advanced_search_form {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
#advanced_search_form .ms-parent {
    margin-top: 5px;
    width: 250px !important;
}
#advanced_search_form .ms-parent .ms-choice{
    border-radius: .3em;
}
.ms-choice{ height: 29px !important;}
.ms-choice > span{
    top: 1.5px !important;
}
.ms-drop {
    border: 1px solid #678791 !important;
    -webkit-border-radius: 0px !important;
}
.ms-drop ul li label{
    color: #000;
    width: auto !important;
}
.ms-drop
{
    overflow-y: hidden !important;
}
.ms-select-all
{
    width:170px;
}
.ms-drop ul li
{
    width: 170px;
    float: left;
}
.ms-drop ul li input
{
    margin: 0 5px 0 0 !important;
}
li.ms-no-results{ font-size: 13px;}
.label-field-pair input[type=checkbox], .label-field-pair input[type=radio] {
    height: 13px !important;
    width: 14px !important;
    margin-top: 12px;
    float: left;
}
.radio_button label {
    margin-left: 5px;
    width: auto !important;
    max-width: 80px !important;
}
.radio_button {
    width: 100px;
    float: left;
}
#popup_content .text-input-bg {
    width: 400px;
}
.details{
    float: left;
    width: 200px;
}
.details input{
    -webkit-border-radius: 3px;
    margin-left:0px;
    width: 180px;
}
div#emp_details > label{line-height: 3;}
#list_passengers{float: left; width: 100%;}
table#passenger_details{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
table#passenger_details td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
#page-yield table#passenger_details .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
table#passenger_details tr{
    border-bottom: 1px solid #bfbfbf;
}
table#passenger_details a, #page-yield table#passenger_details a:hover {
    color: black !important;
    text-decoration: none;
    margin-right: 20px;
}
td.name{width: 30%;}
td.status{width: 40%;}
td.fare{width: 15%;}
td.action{width: 15%;}
.select_all{
    left: 25px;
    top: 8px;
}
.label-field-pair label {
    font-weight: normal;
    font-size: 13px;
}
.text-input-bg input, .text-input-bg select {
    margin-left: 0;
    -webkit-border-radius: .3em;
    width: 215px;
    float: left;
}
#loader{
    margin: 9px;
}
td select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
}
.submit-button {
    margin: 20px 20px 0px 0px !important;
    text-decoration: none;
    font-size: 13px;
/*    float: right;*/
}
tr:not(.tr-head):hover td:not(.unassign_passenger){
    background-color: #EAF3FC !important;
    cursor: pointer;
}
td.status i{
    color: #949191;
}
td.name span{
    color: #737373;
}
.selected td{
    background-color: #EAF3FC !important;
}
.tr-section .label-field-pair label, .amount-section .label-field-pair label{
    width: 100%;
    padding-top: 0;
}
.tr-section .label-field-pair, .amount-section .label-field-pair{
    margin-bottom: 10px;
    padding-top: 0;
}
.tr-section .label-field-pair.pick_up{
    margin-bottom: 20px
}    
.tr-section{
    width: 210px;
    float: left;
}
.tr-section .text-input-bg select{
    width: 180px;
}
.amount-section{
    float: left;
}
.amount-section .text-input-bg input{ width: 100px}
.amount-section .label-field-pair{
    width: 120px;
}
.amount-section .label-field-pair .input-container input{
    margin-top: 29px;
}
.amount-section .label-field-pair .input-container {
    width: 140px;
    margin-left: 10px;
}
.amount-section .label-field-pair .input-container label {
    width: 75px;
    margin-left: 10px;
    margin-top: 19px;
}
.tr-section #loader{
    margin-left: 3px;
}
.error-field label{
    color:red;
}
.error-field select, .error-field input{
    border-color: red;
}
#div-loader{
    float: right;
    min-height: 18px;
    min-width: 16px;
    margin-bottom: 5px;
}
.unassign_passenger, .unassign_passenger:hover{
    background-color: #ccc !important;
}
.unassign_passenger p{
    font-weight: bold;
    width: auto;
    float: left;
    margin-left: 100px;
}
.unassign_passenger .label-field-pair{
    margin-bottom: 0px;
    width: auto;
}
.unassign_passenger .label-field-pair input[type=checkbox] {
    margin-left: 20px;
}
.unassign_passenger .input-container label{
    width: auto;
    margin-left: 10px
}
.unassign_passenger .submit-button{
    float: left;
    margin: 6px 0px 0px 20px !important;
}
#page-yield .unassign_passenger a.submit-button, #page-yield table#passenger_details .unassign_passenger a.submit-button:hover{
    color: white !important;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    margin-top: 1px;
    float: left;
}
.label-field-pair span{ float: left}
.tooltip_info{
    width: 250px;
}
.tooltip_info{
    line-height: 2em
}