select.drop_select{
    height:30px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    width:290px;
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

select.drop_select:focus{
    border-color: #333;
}

div.field_set{
    font-size: 12px;
    display: inline-block;
    width: 300px;
}

div.field_set label.head_label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

table.primary {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    margin-bottom: 50px;
}

table.primary th,table.primary td {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color:#ddd;
}
table.primary th {
    color: #333;
    background-color: #ccc;
}
table.primary tr:nth-child(even){background-color: #f2f2f2}

th.links {
    width: 13%;
}

.center_text{
    text-align: center;
}

div.user_listing{
    margin-top: 30px;
}

input.check {
    width: 16px !important;
    vertical-align: bottom;
    margin-bottom: 3px;
}

.check_label {
    margin-bottom: 2px;
    margin-top: 2px;
    display: inline-block;
    cursor: pointer;
}

.radio_values {
    font-size: 12px;
    margin-bottom: 24px;
}

.radio_head{
    font-weight: bold;
    margin-bottom: 10px;
}



label.check_label{
    font-size: 12px;
    color: #333;
    padding-right: 15px;
    cursor: pointer;
    user-select: none;
}

select.drop_select{
    height:30px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    width:290px;
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

select.drop_select:focus{
    border-color: #333;
}

div.intermediate_selector{
    margin-bottom: 30px;
}

div.user_type_selector{
    margin-bottom: 30px;
}

div.user_selector {
    display: inline-block;
    width: 490px;
    box-sizing: border-box;
    vertical-align: top;
    float: left;
}

div.sms_creation {
    display: inline-block;
    width: 480px;
    box-sizing: border-box;
}

h5.field_head {
    color: #333;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 15px;
}

div.field_set textarea{
    width: 400px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    resize: none;
}

div.field_set textarea:focus{
    border-color: #333;
}

label{  
    font-size: 13px;
    color: #333;
}

div.field_set label.head_label{
    font-weight: bold;
    display: block;
}


div.field_set input[type="text"]{
    height: 30px;
    padding: 3px 10px;
    width: 350px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

div.field_set input[type="text"]:focus{
    border-color: #333 !important;
}


div.field_set select{
    height:30px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    width:290px;
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

div.field_set select:focus{
    border-color: #333;
}

.template_new_message_switcher {
    margin-bottom: 30px;
}

.solid_button{
    padding: 10px 20px 10px 20px;
    background-color: #333;
    color:#ffffff;
    border-radius: 4px;
    border-width: 0px;
    cursor: pointer;
    font-weight: bold;
    cursor:pointer;
    text-decoration: none;
    font-size: 14px;
    height: 36px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

#page-yield .solid_button:hover{
    background-color: #626262;
    color: #fff !important;
}

input.check{
    vertical-align: bottom;
    margin-bottom: 2px;
}

div.submit_controls {
    margin-top: 30px;
}


.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-right: 2px;
    display: inline-block;
    margin-top: 1px;
    vertical-align: top;
}
.error-msg {
    color: red;
    font-size: 13px;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
}
.wrapper {
    margin-left: 0 !important;
}
.group_selector {
    float: left;
    height: 680px;;
}
.group_sms_notes {
    font-size: 12px;
    color: #333;
    margin-bottom: 25px;
    margin-top: -165px;
    float: left;
}
#sms_count {
   margin: 0px 1px 8px 0px;
    font-size: 13px;
    color: #999;
}
#sms_word_count {
    float: left;
    margin-right: 5px;
}