h4 {
    color: #444;
}
.description {
    color: #A5A5A5;
    width: 100%;
    color: #666;
    width: 100%;
    margin-bottom: 18px;
    font-size: 13px;
}
.label-field-pair, .label-radio-pair {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    height: auto;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: bold;
    font-size: 13px;
    float: left;
    color:  #444;
}
#radio-buttons {
    margin: 0;
    float: left;
}
#radio-buttons input {
    float: left;
    margin: 1px 5px 0 0;
}
#radio-buttons label {
    margin-right: 15px;
    font-weight: normal;
}
.status {
    color: #444444;
    width: 210px
}
#fee_percentage{
    width: 50px;
    -webkit-border-radius: .3em;
}
#percentage_text{
    font-size: 13px;
}
.submit-button{
    margin-left: 0px
}
.text-input-bg select {
    -webkit-border-radius: .3em;
    width: 215px;
    float: left;
    margin-left: 0px;
}
h5 {
    margin-bottom: 6px;
    color: #444;
}
.set{
    margin-bottom: -25px;
}
.set_1{
    margin-top: -28px;
}