<% if !@financefee.is_paid_with_fine? and @due_date.to_date < @payment_date and @fine.nil?%>
  <tr class="row-a add_fine_row">
      <td colspan="2" class="col-2 fine_text align_right">
          <label><%= "#{t('due_date_has_been_exceeded')}"%></label>
      </td>
      <td>
          <div class="instant-particular">
              <% unless @particular_wise_paid %>
                <%= link_to_remote "+ #{t('add_fine')}", :url => { :controller => "finance", 
                  :action => "update_fine_ajax", "fine[student]" => @student.id, "fine[date]" => @date.id,
                  "fine[batch_id]" => @batch.id, :current_action => @target_action, 
                  :current_controller=>@target_controller, :payment_date=>@payment_date },
                  :method => :get %>
              <% end %>
          </div>
      </td>
      <td class="cancel-disc"></td>
  </tr>      
<% end %>