h4 {
    color: #444;
}
table#import_listing{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
table#import_listing td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
#page-yield table#import_listing .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
table#import_listing tr{
    border-bottom: 1px solid #bfbfbf;
}
table#import_listing a, #page-yield table#import_listing a:hover {
    color: black !important;
    text-decoration: none;
    margin-right: 20px;
}
td.col1{ width: 14%;}
td.col2{ width: 7%;}
td.col3{ width: 20%;}
td.col4{ width: 11%;}
span.name {
    float: left;
    width: 78%;
    font-style: italic;
    color: #7e7c7c;
}
#info-symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-left: 5px;
    float: left;
    background-position: -60px -62px;
}
#info-symbol:hover {
    background-position: -60px -83px;
}
.tooltip_info {
    width: 250px;
}
td.status icon{
    background-image: url(/images/iconsprite-1.png);
    background-position: -35px -18px;
    height: 10px;
    width: 9px;
    display: inline-block;
}
td.status{
    text-align: center;
}
#description {

    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;

}
