<div class="send-all-sms-btn">
    <%= link_to_remote "#{t('sms_to_all')}" ,:url=>{:action=>"send_sms_for_absentees", :send_all=>true,:batch_ids =>params[:batch_ids],:date =>params[:date].to_date, :subject_ids => params[:subject_ids]},:confirm=>t('are_you_sure_want_to_send'),:class => "send_to_all", :before=> "disable_link(this)" %>
</div>