<div class="label-field-pair_daily">
    <label><%= t('forenoon') %></label>
    <div class="text-input-bg"><%= f.check_box :forenoon, :checked => true %></div>
</div>
<div class="label-field-pair_daily">
    <label><%= t('afternoon') %></label>
    <div class="text-input-bg"><%= f.check_box :afternoon, :checked => true %></div>
</div>