.description{
    font-size: 13px;
    color: grey;
    margin-bottom: 30px;
}

.label_description{
    font-size: 13px;
    color: grey;
    margin: 10px 0px 30px 23px;
}

.label-radio-pair label{
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.label-radio-pair input{
    margin-left: 0px;
    padding:0px;
    float:left;
}

#submit_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-top:10px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
