.details {
    padding-bottom: 5px;
    display: inline-block;
}
#fee_submission {
    margin-top: 10px;
}
#fee_submission .name {
    color: #000 !important;
    float: left;
    width: 220px;
    font-size: 14px;
    height: 2px;
    line-height: 20px;    
     min-width: 0px !important;
}
#fee_submission .val {
    width: 750px !important;
    color: #000 !important;
    line-height: 20px !important;
    font-size: 14px;
    float: left;
}
#fee_submission .val span {
    margin-right: 12px;
    color: black;
}
#fee_submission .val-align {
    float: right;
    width: 730px !important;
    word-wrap: break-word;
}
#fee_submission .student-name-div {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
#fee_submission .details {
    padding-bottom: 15px;
    display: inline-block;
    height: 0px !important;
    border-bottom: 0px !important;
}
#page-yield .cancel-color :hover{
    color: #333 !important;
}