.submit_button {
    text-decoration: none;
    margin-top:15px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit-btn{
    width:170px;
    height:40px;
    margin-left:260px;
    margin-top: 15px;
}
.submit_button:hover{
    background:  #373B3F;
}

.label-field-pair label {
    width: 250px;
}
.bread_crumb {
    margin-left: 10px;
}
.user_button
{
    margin-top: 0;
}
.date_box{
    width: 100%;
    float:left;
    display: inline;
    height: unset;
    padding-bottom: 20px;
}
.set_fixed_range{
    width: 40%;
    float:left;
    display: inline;
}

/*.user_set_date{
    width: 100% !important;
    float:left;
    display: inline;
}*/
.margin-top20 {
    margin-top: 20px;
}
.float-box{
    float: left !important;
}
.width50p{
    width: 50% !important;
}
.date_box .date,
.date_filter .date {
    text-align: left;
    display: inline;
    padding-left: unset !important;
    margin-right: 20px;
}
.fields-label{    
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 16px;
}
.date input {
    border: 1px solid #c6c6c6 !important;
}
.date label {
    margin-right: 20px;
}
.accounts_list{
    float: left;
}
.accounts_list select{
    border-radius: 0px !important;    
    background: transparent;
    margin-left: 0px;
    height: 29px;
}
.view_report{
    float: left;
}
.view_report .user_button1 {
    margin-top: 5px;
    padding: 5px 10px;
    margin-right: 0px;
    float: left !important;
}
#hide_date_filter{
    margin-right: unset !important;
    margin-left: 20px !important;
    float: left;
}