.certificate_templates-icon {
  background-position-x: -160px;
  background-position-y: -281px;
}

.link-box {margin:10px 40px;width:270px;float:left; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {
    margin-top: 5px;
    color: #666;
    font-size: 13px;
    text-align: left;}
#box{
    width:750px;
    margin:0px auto;
}

.societies-icon{
  background-position: -161px -200px;
}

.new_head{
  background-color: #ccc !important;
}
