/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 May, 2018, 2:36:43 PM
    Author     : nidhin
*/

.page_head {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.planner_box{
    font-size: 13px;
}
.left, .right{
    float: left;
    width: 50%
        ;
    margin: 20px 0;
}
.right div{
    float: right !important;

}
.left div, .right div{
    float: left;
    font-size: 13px;
}
.field_val{
    font-weight: bold;
}
.field_name{
    margin-right: 30px
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: #444;
    width: 100%;
    float: left;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
    float: left;
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px 0;
    float: left;
    border-collapse: collapse;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
td {
    padding: 5px;
    border-right: 1px solid #bfbfbf;
}
td.check_all{width: 5%;}
td.course_name{width: 30%;}
td.batch_count{width: 20%;}
td.count{ width: 10%}
#popup_footer{
    float: left;
}
.import_form {
    width: 100%;
    float: left;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 20px;
}
.extender_with_hr{
    height: 2px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
}
.pull_left{
    float: left;
}
.ind_block{
    width:100%;
}
.page_sub_head{
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.general_label{
    margin-top: 4px;
    margin-left: 5px;
}
.submit-button{
    margin-left: 0px;
    border-radius: 5px;
}
.label_pair{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.label_pair:last-child{
    margin-bottom: 0px;
}
.label_pair input, .label_pair label{
    float:left;
}
.tooltip_wrapper{ float: lefy; font-style: normal;color: black;}
.tooltip_info{ width: 180px;}
#info-symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-left: 5px;
    float: left;
    background-position: -60px -62px;
}
#info-symbol:hover {
    background-position: -60px -83px;
    float: left;
}
.course_name span.name{
    float: left;
}
.wrapper {
    margin-top: 5px;
    margin-left: 0 !important;
    /* min-width: 300px !important; */
    clear: both;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-right: 2px;
    float: left;
    margin-top: 1px;
}
.error-msg {
    float: left;
    color: red;
    font-size: 13px;
    font-style: italic;
}