.fee_category_scroll1 {
    height: 93px;
    margin-left: 201px;
    margin-top: -30px;
    overflow: auto;
    width: 266px;
    padding-left: 10px
}

.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 150px;
    margin-left: 209px;
    margin-top: -30px;
    overflow: auto;
    width: 196px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right:10px;
}

.sel-list {
    margin-bottom: 4px;
    width:auto;
    /*    width: 190px;*/
    color: #444444;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #DDDDDD;
}
.sel-list a {
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.sel-list a:hover {
    color: #9D0E00;
    text-decoration: none;
}

.each_batch {
    border-bottom: 1px solid #DDDDDD;
    color: #444444;
    font-size: 14px;
}
.each_batch span{
    width: auto;
}
.batches_box{
    width: auto;
}
.select_exam_type {
    float: left;
    padding-top: 5px;
    width: 300px;
}
.label-field-pair .label_for_exam_type {
    display:inline;
    font-weight:normal;
    margin: 0;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
    width:auto;
}
.label-field-pair .select_exam_type input {
    float:left;
    margin-right:5px;
    margin-left:10px;
    width:auto;
}